.language-settings {
    font-size: 14px;
    color: #174a84;
    margin-top: 20px;
}
.header-para {
    color: #434343;
    font-size: 18px;
}
.left-bottom-btn {
    float: right;
}
.next-btn {
    display: inline;
}
.no-button {
    display: inline;
}
.yes-button {
    display: inline;
}
:host {
    ::ng-deep .p-tree {
        border: 1px solid #fff !important;
    }
}
.main-div {
    height: 20rem;
    overflow-y: scroll;
    border-radius: 6px;
    border: 1px solid #5897fc !important;
}
.main-heading p {
    color: #174a84;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
