<form [formGroup]="propertiesForm">
    <div class="grid p-fluid formgrid">
        <div class="col-3 field">
            <input pInputText type="text" formControlName="projectName" placeholder="Project Name *" />
            <div *ngIf="projectName.touched || projectName.invalid">
                <small id="mandatory" class="p-error block" *ngIf="projectName.errors?.['required']">
                    Project name is mandatory.
                </small>
                <small id="minlength" class="p-error block" *ngIf="projectName.errors?.['minlength']">
                    Project name should have at least 3 characters
                </small>
                <small id="pattern" class="p-error block" *ngIf="projectName.errors?.['pattern']">
                    Project name can contains 0-9, a-z, A-Z and special character '-'
                </small>
                <small id="alredy-exist" class="p-error block" *ngIf="projectName.errors?.['projectNameAlreadyExists']">
                    Project name is currently in use. Please enter a unique name.
                </small>
            </div>
        </div>

        <div class="col-3 field">
            <p-dropdown
                [options]="model.brands"
                placeholder="Brand"
                formControlName="brand"
                optionLabel="name"
                [disabled]="!!model.brand"
            ></p-dropdown>
        </div>
        <div class="col-3 field">
            <p-dropdown
                [options]="model.projectTypes"
                placeholder="Project Type *"
                formControlName="projectType"
                optionLabel="type"
            ></p-dropdown>
            <small id="username-help" class="p-error" *ngIf="projectType.invalid && projectType.touched">
                Type is required.
            </small>
        </div>
        <div class="col-3 field">
            <p-calendar
                formControlName="deliveryDate"
                placeholder="Delivery Date"
                [minDate]="minDate"
                [showIcon]="true"
                inputId="icon"
                appendTo="body"
                dateFormat="yy-mm-dd"
            ></p-calendar>
        </div>

        <div class="col-3">
            <div class="mb-2 field">
                <label for="placeholder">Placeholders</label>
                <div
                    formArrayName="placeholders"
                    class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none h-10rem overflow-y-auto"
                >
                    <ng-container *ngFor="let placeholder of placeholders.controls; let i = index">
                        <div [formGroupName]="i" class="field-checkbox">
                            <p-checkbox
                                id="symbol"
                                [formControl]="placeholder['controls']['isActive']"
                                [binary]="true"
                                (click)="showWarningOnPlaceholderToggle()"
                            ></p-checkbox>
                            <label class="flex-grow-1">{{ placeholder.value.symbol }}</label>
                            <button
                                *ngIf="placeholder.value.canDelete"
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-trash"
                                class="p-button-danger w-2rem h-2rem"
                                (click)="removePlaceholderSymbol(placeholder.value.symbol)"
                            ></button>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="p-inputgroup">
                <input
                    pInputText
                    type="text"
                    pInputText
                    placeholder="Enter Placeholder symbol"
                    #customPlaceholderSymbol
                />

                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    styleClass="p-button-warn"
                    (click)="confirmAndAddPlaceholder(customPlaceholderSymbol.value)"
                ></button>
            </div>
            <ng-container *ngIf="getCustomPlaceholderValidationErrors().length > 0">
                <small
                    *ngFor="let error of getCustomPlaceholderValidationErrors()"
                    id="custom-placeholder"
                    class="p-error"
                >
                    {{ error }}
                </small>
            </ng-container>
        </div>
        <div class="col-9 field">
            <label for="description">Description</label>
            <textarea
                pInputTextarea
                id="description"
                rows="10"
                formControlName="description"
                placeholder="Enter a description of your project..."
            ></textarea>
        </div>
        <div class="flex justify-content-end flex w-full" *ngIf="model.projectFlow">
            <ng-container *ngIf="model.projectFlow === projectFlow.properties">
                <!-- TODO: Remove this once dialog cancel at header would be applied -->
                
                <p-button
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-2"
                    styleClass="p-button-warning"
                    (click)="cancel(true)"
                ></p-button>
                <p-button
                    pRipple
                    label="Save"
                    icon="pi pi-save"
                    class="p-2"
                    (click)="submit()"
                    [disabled]="!propertiesForm.valid"
                    *ngIf="!isRawProject"
                ></p-button>
                <p-button
                    pRipple
                    class="p-2"
                    label="Next"
                    icon="pi pi-chevron-right"
                    iconPos="right"
                    (click)="nextTab()"
                    [disabled]="!propertiesForm.valid"
                    *ngIf="isRawProject"
                ></p-button>
            </ng-container>

            <ng-container *ngIf="model.projectFlow === projectFlow.create">
                <p-button pRipple class="p-2" label="Back" icon="pi pi-chevron-left" (click)="prev()"></p-button>
                <p-button
                    pRipple
                    label="Cancel"
                    class="p-2"
                    icon="pi pi-times"
                    styleClass="p-button-warning"
                    (click)="cancel()"
                ></p-button>
                <p-button
                    pRipple
                    class="p-2"
                    label="Next"
                    icon="pi pi-chevron-right"
                    iconPos="right"
                    [disabled]="!propertiesForm.valid"
                    (click)="next()"
                ></p-button>
            </ng-container>
        </div>
        <p-confirmDialog></p-confirmDialog>
    </div>
</form>
