<p-table
    dataKey="id"
    selectionMode="single"
    scrollHeight="flex"
    [value]="model.requests"
    [paginator]="model.requests?.length > 0"
    [rows]="maximumRowsToShow"
    [scrollable]="true"
    [rowHover]="true"
    (onRowExpand)="updateStatusOnExpand($event.data)"
    (contextmenu)="onContextMenuSelect($event, cm)"
>
<ng-template pTemplate="caption">
    <div class="flex align-items-center">
        <p class="m-0">Order Overview</p>
        <app-help-icon [linkId]="linkId"></app-help-icon>
    </div>
</ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th id="pResizableColumn" pResizableColumn></th>
            <th
                *ngFor="let col of model.cols"
                id="{{ col.field }}"
                pResizableColumn
                [pSortableColumn]="col.field"
                style="min-width: 150px"
            >
                {{ col.header }}
                <p-sortIcon *ngIf="col.sort" field="col.field"></p-sortIcon>
                <p-columnFilter
                    *ngIf="col.filter"
                    [type]="col.filter?.['type']"
                    [field]="col.field"
                    display="menu"
                    [hideOnClear]="true"
                >
                    <ng-template
                        *ngIf="col.filter?.['template']"
                        pTemplate="filter"
                        let-value
                        let-filter="filterCallback"
                    >
                        <p-dropdown
                            [ngModel]="value"
                            [options]="col.filter?.['template'].statuses"
                            (onChange)="filter($event.value)"
                        >
                            <ng-template let-option pTemplate="item">
                                <span>{{ option.label }}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request let-expanded="expanded" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="request" (click)="selectRequest(request)">
            <td>
                <button
                    type="button"
                    pButton
                    pRipple
                    [pRowToggler]="request"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                ></button>
            </td>
            <td>{{ request.projectName }}</td>
            <td>{{ request.version | number : '2.0-0' }}</td>
            <td>
                <ng-container *ngIf="request.dueDate">
                    <span *ngIf="request.remainingTime > 1; else closeToDueDate">
                        {{ request.dueDate | date : 'yyyy-MM-dd' }}
                    </span>
                    <ng-template #closeToDueDate>
                        <span [ngClass]="getCSSClassForDueDate(request)">
                            <i class="pi pi-exclamation-triangle ml-2" aria-hidden="true"></i>
                            {{ request.dueDate | date : 'yyyy-MM-dd' }}
                        </span>
                    </ng-template>
                </ng-container>
            </td>
            <td>
                <p-chip label="{{ request.sourceLanguage }}"></p-chip>
            </td>
            <td>{{ reviewType[request.reviewType] }}</td>
            <td>
                <p-chip
                    [icon]="getFormattedStatus(checkClosedStatus(request)?.status).icons"
                    [styleClass]="getFormattedStatus(checkClosedStatus(request)?.status).cssClasses"
                    label="{{ textNodeStatus[checkClosedStatus(request)?.status] }}"
                ></p-chip>
            </td>
            <td *ngIf="!!request?.returned">
                <p-chip label="{{ request?.returned }}"></p-chip>
            </td>
            <td>
                <p-chip
                    *ngIf="request.document === 'yes'; else no"
                    icon="pi pi-file"
                    [label]="request.documentCount"
                ></p-chip>
                <ng-template #no>-</ng-template>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-request>
        <tr>
            <td colspan="11">
                <p-table
                    [value]="request.targetLanguages"
                    [scrollable]="true"
                    [contextMenu]="cm"
                    dataKey="request.targetLanguageCode"
                    pResizableColumn
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th
                                id="pSortableColumn"
                                *ngFor="let col of model.colsForRowSpan"
                                pSortableColumn="col.field"
                            >
                                {{ col.header }}
                                <p-sortIcon *ngIf="col.sort" field="col.field"></p-sortIcon>
                                <p-columnFilter
                                    *ngIf="col.filter"
                                    type="text"
                                    field="col.field"
                                    display="menu"
                                    [hideOnClear]="true"
                                ></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr
                            [pSelectableRow]="order"
                            [pContextMenuRow]="order"
                            (contextmenu)="setRequest(request, order)"
                        >
                            <td *ngIf="!!order?.reviewer">{{ order.reviewer }}</td>
                            <td>
                                <div class="flex p-1 surface-300 border-round-3xl">
                                    <div class="m-1 w-3rem">{{ order.targetLanguageCode }}</div>
                                    <div class="flex-auto align-self-center m-1">
                                        <p-progressBar
                                            [value]="order.progress"
                                            [showValue]="false"
                                            minValue="0"
                                            styleClass="bg-white h-1rem"
                                        ></p-progressBar>
                                    </div>

                                    <div class="m-1">{{ order.progress }}%</div>
                                </div>
                            </td>
                            <td>
                                <p-chip
                                    [label]="order.doneNodes"
                                    icon="icon-pending"
                                    class="mx-1"
                                    styleClass="bg-blue-100 text-blue-500"
                                    pTooltip="Pending"
                                ></p-chip>
                                <p-chip
                                    [label]="order.approvedNodes"
                                    icon="pi pi-check-circle"
                                    class="mx-1"
                                    styleClass="bg-green-100 text-green-500"
                                    pTooltip="Approved"
                                ></p-chip>
                                <p-chip
                                    [label]="order.rejectedNodes"
                                    icon="pi pi-times-circle"
                                    class="mx-1"
                                    styleClass="bg-red-100 text-red-500"
                                    pTooltip="Rejected"
                                ></p-chip>
                            </td>
                            <td>
                                <span *ngIf="order.returnDate; else elseBlock">{{
                                    order.returnDate | date : 'yyyy-MM-dd'
                                }}</span>
                                <ng-template #elseBlock>
                                    <p-chip label="not returned"></p-chip>
                                </ng-template>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-contextMenu #cm [model]="contextMenuItems" appendTo="body"></p-contextMenu>
