<div class="file-upload" style="width: 100%">
    <header class="headerClass">validate Xml File</header>
    <p class="select-base">Select the new Xml file</p>

    <input #fileInput type="file" (change)="selectFile($event)" style="display: none" />
    <input class="u-full-width" placeholder="" type="text" [(ngModel)]="fileName" />
    <button id="browse" class="button-primary" (click)="fileInput.click()">Validate</button>
    <div class="errormessage">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="statusMessage">
        <p>{{ statusMessage }}</p>
    </div>
    <div class="errormessage">
        <p>{{ error }}</p>
    </div>
    <div class="errormessage">
        <p>{{ xmlError }}</p>
    </div>
</div>
