.xmlproject-container {
    position: relative;
    top: 125px;
}
.heading {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #949494;
    margin-top: 0;
}
.btn-row {
    margin-top: 6%;
}
.form-section {
    margin-top: 60px;
    padding-top: 30px;
}
.alert.alert-danger {
    font-size: 13px;
    color: red;
    padding-top: 5px;
}
.alert.alert-success {
    font-size: 13px;
    color: green;
    padding-top: 5px;
}
::ng-deep .p-card {
    border-radius: 0px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 5%), 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 3px 0 rgb(0 0 0 / 5%);
}
::ng-deep .p-inputtext {
    height: 40px;
    width: 445px;
    left: 635px;
    top: 432px;
    border: 1px solid #304cd9;
    box-sizing: border-box;
    border-radius: 5px;
}
::ng-deep .p-button {
    background: #304cd9;
    border: 1px solid #304cd9;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    width: 185px;
    font-style: normal;
    font-weight: 500;
}
.error {
    color: red;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.available {
    color: green;
}
::ng-deep .p-float-label > label {
    font-size: 14px;
}
.inner-container {
    margin: 0 60px;
}
.xmlproject-heading h5 {
    margin: 0 50px;
    color: #304cd9;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.xmlproject-heading h6 {
    margin: 5px 50px;
    color: #a5c9ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.xml-link {
    color: #02a8cd;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}
// ::ng-deep .p-button:enabled:hover {
//     outline: none;
//     background: #304cd9;
// }
::ng-deep .p-button:focus {
    box-shadow: none;
}
#spinner {
    -webkit-animation: frames 1s infinite linear;
    animation: frames 1s infinite linear;
    background: transparent;
    opacity: 0.6;
    padding: 0;
    position: absolute;
    z-index: 999;
}
@keyframes frames {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
#pause {
    display: flex;
    background: rgba(0, 0, 0, 0.66) no-repeat 0 0;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.xsdfile {
    margin-left: 20px;
}
