<div class="file-upload">
    <div class="upload-placeholder pt-3 pb-3">
        <p>Upload Documents</p>
    </div>
    <div class="primengUpload">
        <p-fileUpload
            #fileUpload
            name="selectedFiles[]"
            accept=".jpg,.png,.xls,.xlsx,.doc,.docx,.csv,.pdf"
            [multiple]="true"
            [maxFileSize]="1048576"
            [customUpload]="true"
            (onSelect)="onSelect($event)"
            (uploadHandler)="saveDocuments()"
        >
            <ng-template pTemplate="toolbar">
                <div class="existing-docs" *ngIf="existingDocs?.length">
                    <div class="single-doc" *ngFor="let doc of existingDocs; let i = index">
                        <img [src]="doc.file_name | FileIconImagePipe" alt="file" />
                        <span>{{ doc.file_name }}</span>
                        <p-button icon="pi pi-times" (click)="deleteDoc(doc.file_name, i)"></p-button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="file" let-file>
                <div class="new-docs grid flex align-content-center">
                    <div class="col-1 flex align-items-center justify-content-center">
                        <img [src]="file.name | FileIconImagePipe" alt="file" />
                    </div>
                    <div class="col-6 col-offset-1 flex align-items-center justify-content-left">
                        <span>{{ file.name }}</span>
                    </div>
                    <div class="col-3 flex align-items-center justify-content-center">
                        <span>{{ getFileSize(file.size) }}</span>
                    </div>
                    <div class="col-1 flex align-items-center justify-content-center">
                        <p-button icon="pi pi-times" (click)="removeFile($event, file, fileUpload)"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="mt-5 pb-3 left-bottom-btn">
        <span class="cancel-btn">
            <button
                pButton
                pRipple
                icon="pi pi-times"
                iconPos="left"
                type="button"
                label="Close"
                (click)="closeDialog()"
                class="p-button-primary"
            ></button>
        </span>
    </div>
</div>
<p-toast></p-toast>
