.left-bottom-btn {
    float: right;
}
.unworked {
    background: #ced4d9;
    color: #495057;
    text-align: center;
    width: 121px;
    height: 28px;
    border-radius: 6px;
    font-size: 12px;
    padding: 6px;
    display: block;
}
.done {
    background: #e4f7ef;
    color: #495057;
    text-align: center;
    width: 121px;
    height: 28px;
    border-radius: 6px;
    font-size: 12px;
    padding: 6px;
    display: block;
}
.workInProgress {
    background: #ffefca;
    color: #495057;
    text-align: center;
    width: 121px;
    height: 28px;
    border-radius: 6px;
    font-size: 12px;
    padding: 6px;
    display: block;
}
:host {
    ::ng-deep {
        #filterTable {
            table {
                border-collapse: separate !important;
                height: 80%;
                border-spacing: 0;
            }
            th {
                border-top: 1px solid #a5c9ff !important;

                border-bottom: 1px solid #a5c9ff !important;

                background-color: #ffffff !important;

                text-align: center !important;
            }
            td {
                border-bottom: 1px solid #a5c9ff !important;
            }
            td:first-child,
            th:first-child {
                border-left: 1px solid #a5c9ff !important;
            }
            td:last-child,
            th:last-child {
                border-right: 1px solid #a5c9ff !important;
            }
            th:first-child {
                border-top-left-radius: 5px !important;
                -moz-border-top-left-radius: 5px !important;
                -webkit-border-top-left-radius: 5px;
            }
            th:last-child {
                border-top-right-radius: 5px !important;
                -moz-border-top-right-radius: 5px !important;
                -webkit-border-top-right-radius: 5px;
            }
            tr:last-child > td:first-child {
                border-bottom-left-radius: 5px !important;
                -moz-border-bottom-left-radius: 5px !important;
                -webkit-border-bottom-left-radius: 5px !important;
            }
            tr:last-child > td:last-child {
                border-bottom-right-radius: 5px !important;
                -moz-border-bottom-right-radius: 5px !important;
                -webkit-border-bottom-right-radius: 5px !important;
            }
        }
        .cancel-btn {
            .pi-exclamation-triangle:before {
                color: #ffffff;
            }
        }
        .save-template {
            .p-dropdown {
                width: 15rem !important;
            }
            .p-inputtext {
                width: 16rem !important;
            }
        }
        .p-fieldset {
            border-color: #a5c9ff !important;
            margin-left: 7px;
            margin-right: 12px;
        }
        .tbl-container {
            #filterTable th {
                width: 200px;
                text-align: center !important;
            }
            #filterTable td {
                white-space: wrap;
                width: 200px;
                word-break: break-all !important;
                text-align: center !important;
            }
        }
        .select-filter-btn {
            .p-button {
                padding: 0.75rem 0.75rem;
            }
        }
    }
}
.filter-input {
    padding: 10px;
}
