<div>
    <p class="my-5">{{ uploadText }}</p>
    <p-fileUpload
        #fileUpload
        [files]="model?.selectedFiles"
        [accept]="allowedFileFormats"
        [multiple]="true"
        [maxFileSize]="maxFileSize"
        [showUploadButton]="false"
        [showCancelButton]="false"
        (onSelect)="selectFile($event)"
    >
        <ng-template pTemplate="content">
            <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
        </ng-template>

        <ng-template pTemplate="file" let-file>
            <div class="grid">
                <div class="col-1 flex align-items-center justify-content-center">
                    <img [src]="file.name | FileIconImagePipe" alt="File Icon Image Pipe" />
                </div>
                <div class="col-6 col-offset-1 flex align-items-center justify-content-left">
                    <span>{{ file.name }}</span>
                </div>
                <div class="col-3 flex align-items-center justify-content-center">
                    <span>{{ getFileSize(file.size) }}</span>
                </div>
                <div class="col-1 flex align-items-center justify-content-center">
                    <p-button icon="pi pi-times" (click)="removeFile($event, file, fileUpload)"></p-button>
                </div>
            </div>
        </ng-template>
    </p-fileUpload>
</div>
<div class="col-12">
    <div class="pb-3 flex justify-content-end">
        <button
            pButton
            type="button"
            label="Back"
            class="p-button-primary mr-1"
            icon="pi pi-chevron-left"
            iconPos="left"
            (click)="navigate(1)"
        ></button>
        <button
            pButton
            type="button"
            label="Next"
            class="p-button-primary"
            icon="pi pi-chevron-right"
            iconPos="right"
            (click)="navigate(3)"
        ></button>
    </div>
</div>
