<div class="">
    <p class="mt-3">Top choice of the editor language is listed. Also you can choose from the language listed</p>
    <div class="mt-5">
        <p-pickList
            [source]="sourceLanguage"
            [target]="targetLanguage"
            sourceHeader="Available Languages"
            targetHeader="Editor Languages"
            [dragdrop]="true"
            [responsive]="true"
            [sourceStyle]="{ height: '300px' }"
            [targetStyle]="{ height: '381px' }"
            [showTargetFilter]="false"
            filterBy="language_culture_name"
            sourceFilterPlaceholder="Search by name"
            appendTo="body"
            (onMoveToTarget)="getTargetLanguages()"
            (onMoveAllToTarget)="getTargetLanguages()"
            (onMoveAllToSource)="getMovedLanguagesToSource()"
            (onMoveToSource)="getMovedLanguagesToSource()"
        >
            <ng-template let-product pTemplate="item">
                <p>{{ product.language_culture_name }}</p>
            </ng-template>
        </p-pickList>
    </div>

    <div class="mt-5 pt-3 pb-5 left-bottom-btn">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            iconPos="left"
            type="button"
            label="Cancel"
            class="p-button-warning mr-2"
            (click)="hideLanguageConfigDialog()"
        ></button>

        <span class="next-btn">
            <button
                pButton
                pRipple
                type="button"
                label="Save"
                class="p-button-primary"
                icon="pi pi-save"
                iconPos="left"
                (click)="saveLanguageConfiguration()"
                [disabled]="isSaveEnabled"
            ></button>
        </span>
    </div>
</div>
