<p class="mt-5 mb-4">
    Select a set of length calculations and font packages to be used within your project. Items are added via the
    dropdown-boxes, where you can find all the length calculations and fonts currently available on the system. The
    default length calculation and font package can be selected by checking the checkbox next to the list entry.
</p>

<form [formGroup]="formGroup">
    <div class="grid p-fluid formgrid">
        <div class="col-3">
            <div class="field">
                <label for="availableFontPackages">Font Packages</label>
                <div class="p-inputgroup mb-2">
                    <p-dropdown
                        id="availableFontPackages"
                        [options]="model.availableOptions.fontPackages"
                        formControlName="fontPackage"
                        optionLabel="name"
                        optionValue="id"
                        optionDisabled="isDefault"
                        placeholder="Add Fonts..."
                        #fontInput
                    ></p-dropdown>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="field">
                <label for="availablelengthCalculation">Length Calculation</label>
                <div class="p-inputgroup mb-2">
                    <p-dropdown
                        id="availablelengthCalculation"
                        [options]="model.availableOptions.lengthCalculations"
                        formControlName="selectedLengthCalculation"
                        optionLabel="name"
                        optionValue="id"
                        optionDisabled="isDefault"
                        placeholder="Add Length Calculations..."
                        #lengthCalculationInput
                    ></p-dropdown>
                    <button
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        styleClass="p-button-warn"
                        (click)="moveLengthCalculationFromAvailableToSelected(lengthCalculationInput.value)"
                    ></button>
                </div>

                <div
                    formArrayName="lengthCalculations"
                    class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none h-10rem overflow-y-auto"
                >
                    <ng-container
                        *ngFor="let lengthCalculation of lengthCalculationFormControls.controls; let i = index"
                    >
                        <div [formGroupName]="i" class="field-checkbox">
                            <p-checkbox
                                [formControl]="lengthCalculation['controls']['isDefault']"
                                [binary]="true"
                                (click)="showWarningOnLengthCalculationToggle()"
                                (onChange)="lengthCalculationCheckBoxChange(i)"
                            ></p-checkbox>
                            <label class="flex-grow-1">{{ lengthCalculation.value.name }}</label>
                            <button
                                *ngIf="lengthCalculation.value.canDelete"
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-trash"
                                class="p-button-danger w-2rem h-2rem"
                                (click)="moveLengthCalculationFromSelectedToAvailable(i)"
                            ></button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="field">
                <label for="placeholder">Placeholders</label>
                <div class="p-inputgroup mb-2">
                    <input
                        id="placeholder"
                        pInputText
                        type="text"
                        placeholder="Enter Placeholder symbol"
                        #customPlaceholderSymbol
                    />
                    <button
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        styleClass="p-button-warn"
                        (click)="confirmAndAddPlaceholder(customPlaceholderSymbol.value)"
                    ></button>
                </div>
                <div
                    formArrayName="placeholders"
                    class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none h-10rem overflow-y-auto"
                >
                    <ng-container *ngFor="let placeholder of placeholders.controls; let i = index">
                        <div [formGroupName]="i" class="field-checkbox">
                            <label class="flex-grow-1">{{ placeholder.value.symbol }}</label>
                            <button
                                *ngIf="placeholder.value.canDelete"
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-trash"
                                class="p-button-danger w-2rem h-2rem"
                                (click)="removePlaceholderSymbol(placeholder.value.symbol)"
                            ></button>
                        </div>
                    </ng-container>
                </div>
            </div>

            <ng-container *ngIf="getCustomPlaceholderValidationErrors().length > 0">
                <small
                    *ngFor="let error of getCustomPlaceholderValidationErrors()"
                    id="custom-placeholder"
                    class="p-error"
                >
                    {{ error }}
                </small>
            </ng-container>
        </div>

        <!-- footer -->
        <p-divider></p-divider>
        <div class="flex justify-content-end flex w-full">
            <p-button
                *ngIf="stepControl.previousStep !== null"
                class="p-2"
                label="Back"
                icon="pi pi-chevron-left"
                (click)="previousStep()"
            ></p-button>

            <p-button
                *ngIf="stepControl.nextStep"
                class="p-2"
                label="Next"
                icon="pi pi-chevron-right"
                iconPos="right"
                [disabled]="!formGroup.valid"
                (click)="nextStep()"
            ></p-button>
            <!-- TODO: Remove this once dialog cancel at header would be applied -->
            <p-button
                label="Cancel"
                class="p-2"
                icon="pi pi-times"
                styleClass="p-button-warning"
                (click)="cancel()"
            ></p-button>
            <p-button
                *ngIf="model.useCase === UseCase.Edit"
                class="p-2"
                icon="pi pi-save"
                label="Save"
                (onClick)="updateProjectDetails()"
            ></p-button>

            <p-button
                *ngIf="!stepControl.nextStep && model.useCase === UseCase.Create"
                label="Create Project"
                icon="pi pi-save"
                class="p-2"
                (onClick)="onCreateProject()"
                [disabled]="!formGroup.valid"
            ></p-button>
        </div>
    </div>
</form>
