<p-toolbar *ngIf="!projectTranslationService.isMetaEditorVisible">
    <div class="p-toolbar-group-start col-10 p-0">
        <p-chip
            (click)="checkStatus(data?.proofReadStatus) && commentOverlayPanel.toggle($event)"
            [label]="data?.proofReadStatus ?? statusNotAvailable"
            icon="icon-pending"
            [styleClass]="'text-node-status ' + data.proofReadStatus"
            class="mr-2"
            [class.cursor-pointer]="statusFlag.isProofreadRejected"
        ></p-chip>
        <p-chip
            (click)="checkStatus(data?.reviewerStatus) && reviewcommentOverlayPanel.toggle($event)"
            [label]="data?.reviewerStatus ?? statusNotAvailable"
            icon="icon-review"
            [styleClass]="'text-node-status ' + data.reviewerStatus"
            [class.cursor-pointer]="statusFlag.isReviewRejected"
            class="mr-2"
        ></p-chip>
        <p-chip
            (click)="checkStatus(data?.screenReviewStatus) && screenReviewComment.toggle($event)"
            *ngIf="data?.screenReviewStatus"
            [label]="data?.screenReviewStatus ?? statusNotAvailable"
            icon="icon-screen-review"
            [styleClass]="'text-node-status ' + data.screenReviewStatus"
            [class.cursor-pointer]="statusFlag.isScreenReviewRejected"
        ></p-chip>

        <i
            *ngIf="data?.languageParentId > 0 || showChildLanguages?.length > 0"
            class="icon-language-2 text-node-status text-base"
            [ngClass]="{ 'text-primary cursor-pointer': showChildLanguages?.length > 0 }"
            (click)="showChildLanguages?.length > 0 && opChildLanguages.toggle($event); isChildLanguagesVisible = true"
        ></i>
    </div>
    <div class="p-toolbar-group-start col-2 p-0 text-right">
        <i
            *ngIf="isSpeechTextNode"
            (click)="openGrammarParser()"
            class="pi pi-code cursor-pointer text-green-400 text-2xl ml-auto mr-2 mt-2"
        ></i>
    </div>
    <div *ngIf="data?.date" class="p-toolbar-group-end font-bold">
        <i
            [ngClass]="data['icon']"
            pTooltip="Postpone date: {{ data['date'] | date : 'yyyy-MM-dd' }}"
            tooltipPosition="bottom"
            [ngStyle]="{ color: data['color'] }"
        ></i>
        <span class="ml-2">Mode:</span>
        <p-chip label="Edit" (click)="confirm()" styleClass="ml-2 bg-blue-100 text-blue-400 cursor-pointer"></p-chip>
    </div>
</p-toolbar>
<p-overlayPanel #commentOverlayPanel>
    <ng-template pTemplate="content">
        <p>ProofRead Comment :</p>
        <textarea [disabled]="true" rows="7" cols="50" pInputTextarea [ngModel]="data.proofReaderComment"></textarea>
    </ng-template>
</p-overlayPanel>
<p-overlayPanel #reviewcommentOverlayPanel>
    <ng-template pTemplate="content">
        <p>Review Comment :</p>
        <textarea [disabled]="true" rows="7" cols="50" pInputTextarea [ngModel]="data.reviewerComment"></textarea>
    </ng-template>
</p-overlayPanel>
<p-overlayPanel #screenReviewComment>
    <ng-template pTemplate="content">
        <p>Review Comment :</p>
        <textarea [disabled]="true" rows="7" cols="50" pInputTextarea [ngModel]="data.screenReviewComment"></textarea>
    </ng-template>
</p-overlayPanel>
<p-confirmDialog></p-confirmDialog>
<p-overlayPanel #opChildLanguages [showCloseIcon]="true">
    <p-listbox
        [style]="{ border: 'none' }"
        *ngIf="isChildLanguagesVisible"
        [options]="showChildLanguages"
        optionLabel="context"
        (onClick)="onSelectLanguage($event, opChildLanguages)"
    ></p-listbox>
</p-overlayPanel>
