:host ::ng-deep {
    .gppanel .p-panel-header {
        padding: 1.6rem;
    }
    .gppanel .decompress {
        background: #dee2e6;
        height: 15rem;
    }
    .gppanel .p-panel-content {
        height: 22rem;
    }
}
