<div class="container basefile-container">
    <div *ngIf="loadingFileSpinner" class="spinner">
        <p-progressSpinner animationDuration="1s"></p-progressSpinner>
    </div>
    <div class="main-heading">
        <p>
            Drag and drop the XML file in the highlighted area or choose the XML file which will be the base for the new
            project.
        </p>
    </div>
    <div class="upload-placeholder pt-3">
        <p>Upload new XML file</p>
    </div>
    <div class="primengUpload mt-2">
        <p-fileUpload
            accept=".xml"
            (uploadHandler)="selectFile($event)"
            [auto]="true"
            [customUpload]="true"
            (onBeforeUpload)="hideCancel()"
            (onSelect)="showCancel()"
        >
            <ng-template let-file pTemplate="file">
                <div class="flex justify-content-center">
                    <span> {{ file.name }}</span>
                    <span class="ml-5">{{ getFileSize(file.size) }}</span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="flex justify-content-center" *ngIf="isFileSelected">
                    <span> {{ projectName }}</span>
                    <span class="ml-5">{{ getFileSize(fileSize) }}</span>
                </div>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="error-msg">
        <p-messages [closable]="false" [(value)]="msgs1"></p-messages>
    </div>

    <div class="error-list" *ngIf="errorContainer">
        <div *ngIf="validationError" class="mt-1">
            <h5 class="error-heading">{{ errorMessage }}</h5>
        </div>
        <div *ngIf="ErrorInXml">
            <ul *ngFor="let error of xmlError">
                <li>{{ error }}</li>
            </ul>
        </div>
        <div *ngIf="parserResult">
            <h5 class="error-heading mt-1">Invalid XML, Please upload valid XML file</h5>
            <ul>
                <li>{{ parserRes }}</li>
            </ul>
        </div>
        <div *ngIf="wrongXmlFile">
            <ul>
                <li>{{ wrongXml }}</li>
            </ul>
        </div>
    </div>
    <div>
        <p-message
            severity="error"
            text="Base file is required"
            *ngIf="!formControl['selectBaseFile'].valid && formControl['selectBaseFile'].touched"
        ></p-message>
    </div>
    <div class="pro-list" *ngIf="hide && isValid">
        <span class="deatils-heading">Fixed properties of project found in the file</span>
        <div class="list-container">
            <div class="properties-details">
                <div class="list-item">
                    <label class="title">Name: </label>
                    <span *ngFor="let details of projectDetails" class="prop-value">
                        <span>{{ details.Name }}</span>
                    </span>
                </div>
                <div class="list-item">
                    <label class="title">ID: </label>
                    <span *ngFor="let details of projectDetails" class="prop-value">
                        <span>{{ details.Id }}</span>
                    </span>
                </div>
                <div class="list-item">
                    <label class="title">Date: </label>
                    <span *ngFor="let details of projectDetails" class="prop-value">
                        <span>{{ details.DataCreationDate | date : 'yyyy-MM-dd hh:mm a' }}</span>
                    </span>
                </div>
                <div class="list-item">
                    <label class="title">Creator: </label>
                    <span *ngFor="let details of projectDetails" class="prop-value">
                        <span>{{ details.Creator }}</span>
                    </span>
                </div>
                <div class="list-item" *ngIf="languageList.length > 0">
                    <div class="title">
                        Languages <span class="count">{{ languageList.length }}</span
                        >:
                    </div>

                    <div class="prop-value">
                        <span
                            ><span *ngFor="let language of languageList; let isLast = last">
                                {{ language.Name }}{{ isLast ? '' : ', ' }}</span
                            ></span
                        >
                    </div>
                </div>
                <div class="list-item" *ngIf="variants.length !== 0; else other_content">
                    <div class="title">
                        Variants <span class="count">{{ variants.length }}</span
                        >:
                    </div>

                    <div class="prop-value">
                        <span>
                            <span *ngFor="let variant of variants; let isLast = last">
                                {{ variant }}{{ isLast ? '' : ', ' }}</span
                            ></span
                        >
                    </div>
                </div>
                <ng-template #other_content>
                    <div class="list-item">
                        <div class="title">Variants (0):</div>
                        <div class="prop-value">-</div>
                    </div>
                </ng-template>
                <div class="list-item">
                    <label class="title"> Group Node Count: </label>
                    <span class="prop-value" *ngIf="groupNodeCount">
                        {{ groupNodeCount }}
                    </span>
                    <span class="prop-value" *ngIf="!groupNodeCount"> 0 </span>
                </div>
                <div class="list-item">
                    <label class="title">Text Node Count: </label>
                    <span class="prop-value" *ngIf="textNodeCount"> {{ textNodeCount }}</span>
                    <span class="prop-value" *ngIf="!textNodeCount"> 0</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-3 pb-5 div-left btns-row">
    <p-confirmDialog #cd [style]="{ width: '25vw' }" [baseZIndex]="10000" class="cancel-dialog" [closable]="false">
        <ng-template pTemplate="footer">
            <div class="yes-button">
                <button
                    class="p-button-danger"
                    type="button"
                    pButton
                    label="Yes"
                    icon="pi pi-check"
                    (click)="cd.accept()"
                ></button>
            </div>
            <div class="no-button">
                <button
                    class="p-button-secondary"
                    type="button"
                    pButton
                    label="No"
                    icon="pi pi-times"
                    (click)="cd.reject()"
                ></button>
            </div>
        </ng-template>
    </p-confirmDialog>
    <button
        pButton
        pRipple
        (click)="showConfirm()"
        type="button"
        icon="pi pi-times"
        iconPos="left"
        label="Cancel"
        class="p-button-warning mr-3"
    ></button>
    <div class="next-btn">
        <button
            pButton
            type="submit"
            label="Next"
            class="p-button-primary"
            icon="pi pi-chevron-right"
            iconPos="right"
            (click)="nextPage()"
            [disabled]="!isValid || isNextDesabled"
        ></button>
    </div>
</div>
