.count::before {
    content: '(';
}

.count::after {
    content: ')';
}

.basefile-container {
    margin-top: 2rem;
}

.list-container {
    border: 1px solid #304cd9;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 7px;
    width: 100%;
}

.properties-details {
    padding: 20px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.74);
}

.u-full-width {
    width: 81%;
    height: 2.5rem;
    border: 1px solid #304cd9;
    box-sizing: border-box;
    border-radius: 5px;
}

#browse {
    width: 17%;
    height: 35px;
    background: #304cd9;
    color: #fff;
    border: 1px solid #304cd9;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 2%;
}

.pro-list {
    margin-top: 1rem;
}

.deatils-heading {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 7px;
    color: #6c757d;
}

.properties-details span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.select-base {
    font-size: 1rem;
    color: #174a84;
}

.deatils-heading span {
    color: red;
}

.btns-row {
    float: right;
    padding: 0px 0px 20px 0px;
}

.btn-group {
    height: 32px;
}

::ng-deep span.p-button-label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0em;
    text-align: left;
}

.next-btn {
    display: inline;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

.no-button {
    display: inline;
}
.yes-button {
    display: inline;
}
.note p {
    font-size: 12px;
    color: #000000;
    margin-top: 1rem;
}

.note span {
    color: red;
}

.grp-count,
.txt-count {
    color: #000000;
}

:host {
    ::ng-deep .primengUpload {
        .p-button.p-button-icon-only {
            display: none;
        }
        .p-fileupload .p-fileupload-content {
            background: #c2d6f7;
            border: 1px solid #5897fc;
        }
        .p-progressbar {
            display: none;
        }
    }
}

.error-list {
    height: 332px;
    overflow-x: hidden;
    overflow-y: auto;
}

.error-list ul > li {
    color: red;
}

.error-heading {
    color: red;
}

.statusmessage {
    color: #12aa60;
}

.spinner {
    position: absolute;
}

.upload-placeholder p {
    font-size: 16px;
    font-size: 600;
    color: #304cd9;
}

.upload-note {
    color: #6c757d;
}

.main-heading p {
    color: #174a84;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-item {
    display: flex;
    align-items: center;

    .title {
        flex: 0.2;
    }

    .prop-value {
        flex: 1;
    }
}
