<div class="translate-tbl pl-2">
    <app-stc-header></app-stc-header>
    <igc-dockmanager [layout]="IgcDockManagerLayout">
        <div slot="structure" class="dockManagerContent">
            <app-stc-structure-data (cancel)="cancelLayout()" (setLayout)="setLayout($event)"></app-stc-structure-data>
        </div>
        <div slot="table" class="dockManagerContent">
            <app-stc-table-data (setLayout)="setLayout($event)" (cancel)="cancelLayout()"></app-stc-table-data>
        </div>
        <div slot="group" class="dockManagerContent">
            <app-stc-group (setLayout)="setLayout($event)" (cancel)="cancelLayout()"></app-stc-group>
        </div>
        <div slot="detailsgroup" class="dockManagerContent">
            <app-stc-group (setLayout)="setLayout($event)"></app-stc-group>
        </div>
        <div slot="stc" class="dockManagerContent">
            <app-create-stc (setLayout)="setLayout($event)" (cancel)="cancelLayout()"></app-create-stc>
        </div>
        <div slot="stcHistory" class="dockManagerContent">
            <app-stc-history (setLayout)="setLayout($event)" (cancel)="cancelLayout()"></app-stc-history>
        </div>
    </igc-dockmanager>
</div>
