.row {
    display: flex;
    border-bottom: 1px solid #a5c9ff;
}
.operationmenu {
    padding: 0.7rem;
    color: #304cd9;
    font-weight: bold;
}
.operationmenu i {
    padding: 0.7rem;
}
:host ::ng-deep {
     .translate-tbl {
        .p-datatable .p-datatable-thead > tr > th {
            color: #174a84;
            font-weight: 500;
            font-size: 14px;
            background: white;
            border-bottom: 1px solid #a5c9ff;
        }
    }
     .lock-tbl {
        .translate-tbl .p-datatable .p-datatable-thead > tr > th {
            border-radius: 5px !important;
            vertical-align: middle;
        }
    }
     .project-reference {
        .p-dialog {
            height: 70%;
            width: 60%;
        }
    }
}
.translate-tbl {
    color: #174a84;
    font-weight: 500;
    font-size: 14px;
    background: white;
    border-bottom: 1px solid #a5c9ff;
    height: 100%;
}


.translate-data {
    margin-top: 1rem;
    border: 1px solid #a5c9ff;
    border-radius: 4px;
    padding: 0.5rem;
}
.translate-row {
    display: flex;
}
.table-Structure-col {
    min-width: 60%;
    overflow: auto;
    padding: 1rem;
}
.translate-col {
    min-width: 40%;
    overflow: auto;
}

