.spinnerdashboradpanel {
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    z-index: 99999;
}
:host {
    ::ng-deep .project-status {
        .pi-check-square:before {
            color: #1ea97c;
            margin-right: 10px;
        }
    }
}
.status-ok {
    background: #e4f7ef;
    width: 100%;
    display: block;
}
.spinnerviewpanel {
    position: absolute;
    margin-left: 40%;
    z-index: 99999;
}
.product-badge {
    border-radius: 6px !important;
    padding: 0.25em 0.5rem;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 12px !important;
    letter-spacing: 0.3px;
    height: 32px;
    white-space: nowrap;
}
.warningbgcolor {
    background: #ffefca !important;
    margin: 1rem 0.5rem;
    height: 100px !important;
}
.errorbgcolor {
    background: #ffd9d1;
    margin: 1rem 0.5rem;
    height: 100px !important;
}
.card {
    margin-top: 0.5rem !important;
    padding: 0rem !important;
    margin-bottom: 1rem;
    border-radius: 2px;
    box-shadow: 0px 3px 5px #98a7f4, 0px 0px 2px rgb(48 76 217 / 0%), 0px 1px 4px rgb(54 65 207 / 2%) !important;
}
.viewdetails {
    position: relative;
}
.viewdetails .grid {
    margin: 0rem;
}
.projectprogressbar {
    padding: 0rem 1rem 0rem;
}
.projectprogressbar p {
    margin: 0 0 0.4rem 0;
    line-height: 1.5;
    font-size: 1rem;
    color: #304cd9;
}
.viewmsg {
    text-align: center;
    padding: 1rem 0rem;
}
.viewcard {
    background-color: #f0f6ff !important;
    margin: 1rem 0.5rem;
    height: 100px;
}

.massopermsg {
    font-size: 0.9rem !important;
}
.inforeport {
    font-size: 0.9rem !important;
    background: #f0f6ff;
    padding: 0px 10px;
}
.warningreport {
    font-size: 0.9rem !important;
    background: #ffefca;
    padding: 0px 10px;
}
.errorreport {
    font-size: 0.9rem !important;
    background: #ffd9d1;
    padding: 0px 10px;
}

.dateYellow {
    color: #cd9a23;
}
.dateRed {
    color: red;
}
.hmilpanelwidth {
    width: 100% !important;
    margin: 0px !important;
    margin-bottom: 3rem;
}
.ok-status-msg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem 1rem 0rem;
    font-size: 1rem;
    font-weight: bold;
}
.textlowercase {
    text-transform: lowercase;
}
.project-status p {
    color: #304cd9;
    font-size: 1rem;
    padding: 1rem 1rem 0rem;
}
.project-Messages p {
    color: #304cd9;
    font-size: 1rem;
    padding: 1rem 1rem 0rem;
}
.project-Messages span {
    margin-left: 50px;
    margin-right: 50px;
}
.project-Messages span p {
    display: inline;
}

.project-errors li {
    color: red;
}

.card-action {
    float: right;
}

.status-msg {
    margin-bottom: 1rem;
    padding: 0rem 1rem 0rem;
    font-size: 1rem;
}
.title-tr-details {
    padding: 20px 10px 10px;
    font-weight: 500;
    color: #304cd9;
}

.disabledtn {
    padding: 0.4rem 0.7rem;
    margin: 0.1rem;
    color: #eeecec;
    font-size: 1rem;
    font-weight: 0;
    background: #878d8d;
}
.abortoperation {
    padding: 0.4rem 0.7rem;
    margin: 0.5rem 1rem 0rem;
    font-size: 1rem;
    float: right;
    background: #ffffff;
}
.downloadreport {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.abortblock {
    width: 100%;
    height: 25px;
}