<div class="">
    <p>Fixed properties of project</p>
    <div class="tbl-container">
        <table class="p-5">
            <tr>
                <td class="property-key">Name:</td>
                <td>{{ xmlProperties?.["title"] }}</td>
            </tr>
            <tr>
                <td class="property-key">ID:</td>
                <td>{{ xmlID }}</td>
            </tr>
            <tr>
                <td class="property-key">Date:</td>
                <td>{{ xmlProperties?.["date_created"] | date:'yyyy-MM-dd hh:mm a' }}</td>
            </tr>
            <tr>
                <td class="property-key">Creator:</td>
                <td>{{ xmlProperties?.["creator"] }}</td>
            </tr>
            <tr>
                <td class="property-key">Languages ({{ langCount }}):</td>
                <td>{{ languages }}</td>
            </tr>
            <tr>
                <td class="property-key">Variants ({{ variantLength }}):</td>
                <td>
                    {{ variants ? variants : '-' }}
                </td>
            </tr>
            <tr>
                <td class="property-key">Group Node Count:</td>
                <td>
                    {{ xmlProperties?.["group_node_count"] ? xmlProperties?.["group_node_count"] : '-'}}
                </td>
            </tr>
            <tr>
                <td class="property-key">Text Node Count:</td>
                <td>
                    {{ xmlProperties?.["text_node_counts"] ? xmlProperties?.["text_node_counts"] : '-'}}
                </td>
            </tr>
        </table>
    </div>

    <div class="pt-5 inline-flex btn-container">
        <button
            pButton
            type="button"
            icon="pi pi-times"
            iconPos="left"
            label="Cancel"
            class="p-button-warning mr-3"
            (click)="closePropertiesDialogOnCancel()"
        ></button>
    </div>
</div>
