.property-key {
    width: 20%;
    font-weight: 500;
    line-height: 30px;
}
.tbl-container {
    border: 1px solid #304cd9;
    border-radius: 5px;
}
.btn-container {
    float: right;
}
.main-para {
    font-weight: 400;
    font-size: 18px;
    color: #434343;
}
