<p [innerHTML]="phraseForUsers()"></p>
<form [formGroup]="commentsForm" #commentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-column">
        <div class="flex justify-content-start">
            <p-dropdown
                appendTo="body"
                [options]="templates"
                formControlName="commentTemplate"
                optionLabel="templateName"
                placeholder="Select template"
            >
            </p-dropdown>
        </div>
        <div class="border-1 border-gray-200 border-round mx-0 my-3">
            <div class="p-1">
                <textarea
                    cols="12"
                    rows="4"
                    pInputTextarea
                    placeholder="Comments..."
                    formControlName="comment"
                    class="border-transparent shadow-none w-full textarea outline-none"
                ></textarea>
            </div>
            <div class="border-top-1 border-gray-200 flex flex-row p-3 justify-content-between">
                <div class="flex justify-content-between w-7">
                    <p-multiSelect
                        [hidden]="isMultiSelectHidden()"
                        [options]="languages"
                        [(ngModel)]="selectedLanguages"
                        defaultLabel="Select Languages"
                        optionLabel="languageCode"
                        optionValue="languageId"
                        [style]="{ width: '200px' }"
                        selectedItemsLabel="{0} languages selected"
                        [showToggleAll]="false"
                        [disabled]="isForeignLanguage"
                        formControlName="languageIds"
                        appendTo="body"
                        display="chip"
                    ></p-multiSelect>
                    <div
                        class="align-items-center border-gray-200 border-right-1 flex p-2 pr-5"
                        *ngIf="isForeignLanguage || languages.length > 1"
                    >
                        <p-checkbox
                            [binary]="true"
                            [disabled]="isForeignLanguage"
                            inputId="language"
                            formControlName="selectAll"
                        ></p-checkbox>
                        <label class="ml-2" for="language">Select All</label>
                    </div>
                    <div class="border-gray-200 flex align-items-center p-2">
                        <p-checkbox
                            [disabled]="isForeignLanguage"
                            [binary]="true"
                            formControlName="isPrivate"
                            inputId="scope"
                        ></p-checkbox>
                        <label class="ml-2" for="scope">Private Comment</label>
                    </div>
                </div>
                <div>
                    <span class="p-input-icon-right relative">
                        <i icon="pi pi-save" aria-hidden="true"></i>
                        <input type="text" pInputText placeholder="Save as new Template" />
                        <p-button icon="pi pi-save" class="absolute right-0"></p-button>
                    </span>
                </div>
            </div>
            <div class="border-top-1 border-gray-200 flex p-3 justify-content-end">
                <p-button label="Add" type="submit" [disabled]="commentForm.submitted || !commentsForm.valid">
                    <span class="mr-3"><i class="pi pi-plus" aria-hidden="true"></i></span>
                </p-button>
            </div>
        </div>
    </div>
</form>
