<span
    [title]="textNodeType === 'source_text' ? value : ''"
    [class]="!classSpan ? tableStatus[value] + ' ' + getClassNameIfSpace(value) : classSpan"
>
    <ng-container *ngIf="!isUnresolveCharOrFont(value); else itsUnresolveChar">
        <i [ngClass]="!className ? tableIcons[valueText(value)] : className" aria-hidden="true"></i>
        <i *ngIf="textNodeType === 'source_text' && mapped" aria-hidden="true" class="pi pi-link text-primary"></i>
    </ng-container>
    <ng-template #itsUnresolveChar> <img [src]="unresolvedSymbols[value]" alt="unresolved Symbols" /></ng-template>
    <span [innerHTML]="' ' + value"></span>
</span>
