:host ::ng-deep {
  .ql-container.ql-bubble:not(.ql-disabled) a:hover::before {
    transform: none !important;
    margin-left: 100% !important;
    transition: none !important;
  }  
  
  .ql-container.ql-bubble:not(.ql-disabled) a:hover::after {
    display: none !important;
    visibility: hidden !important;
  }

  .ql-container.ql-bubble:not(.ql-disabled) a::after {
    transform: none !important;
    transition: none !important;
    display: none !important;
    visibility: hidden !important;
  }
}

.container {
  display: flex;
  height: 170px;
  min-height: 100px;
  overflow-y: scroll;
}



