<div class="rowflex">
    <form action="" [formGroup]="jobDetailsForm">
        <div class="grid">
            <div class="col-6 project-manager">
                <p class="pt-3">Project Manager <span class="required">*</span></p>
                <p-dropdown
                    [options]="manager"
                    formControlName="selectedManager"
                    optionLabel="name"
                    filterBy="name"
                    [filter]="true"
                    appendTo="body"
                ></p-dropdown>
            </div>
            <div class="col-6 proof-read">
                <div class="p-field-checkbox displayInline">
                    <p-checkbox [binary]="true" inputId="binary" formControlName="proofRead"></p-checkbox>
                    <label for="binary" class="proof-read-label">Proofread</label>
                </div>
            </div>
        </div>
        <div class="col-12 p-field-checkbox">
            <p class="pt-3">Switch Translation Role</p>
            <p-checkbox
                [binary]="true"
                inputId="binary"
                formControlName="isConstrained"
                (onChange)="toggleTranslationRole($event)"
                [disabled]="isUnconstrained"
            >
            </p-checkbox>
            <label for="binary" class="proof-read-label">{{ translationRole }}</label>
        </div>
        <div class="grid textarea">
            <div class="col-12 project-descp-text">
                <p class="pt-3">Description</p>
                <textarea pInputTextarea [rows]="3" formControlName="description" [cols]="50"></textarea>
            </div>
        </div>
    </form>

    <div class="mt-5 pb-3 left-bottom-btn">
        <span class="back-btn">
            <button
                pButton
                type="button"
                label="Back"
                class="p-button-primary mr-3 btn-small"
                icon="pi pi-chevron-left"
                iconPos="left"
                (click)="navigate(1)"
            ></button>
        </span>
        <span class="help-btn">
            <button
                pButton
                type="button"
                label="Help"
                class="p-button-help mr-3"
                icon="pi pi-question"
                iconPos="left"
            ></button>
        </span>
        <span class="next-btn">
            <button
                pButton
                type="button"
                label="Next"
                class="p-button-primary"
                icon="pi pi-chevron-right"
                iconPos="right"
                (click)="navigate(3)"
                [disabled]="!this.jobDetailsForm.valid"
            ></button>
        </span>
    </div>
</div>
