<div class="language-selection">
    <div class="grid">
        <div class="col-6 language-dropdown mt-3">
            <p class="mt-3" *ngIf="isChildLanguage()">
                <b>Note:</b> Inherited languages will automatically receive the translation of their parent language as
                source.
            </p>
            <form action="" [formGroup]="languagesForm">
                <p>Source Language</p>
                <p-dropdown
                    [options]="dropdownData"
                    formControlName="selectedLanguage"
                    optionLabel="name"
                    filterBy="name"
                    [filter]="true"
                    appendTo="body"
                    (onChange)="getSelectedValue($event)"
                ></p-dropdown>
            </form>
        </div>
    </div>
    <p *ngIf="isNodeTranslated" style="color: red">
        The selected source language doesn't have any text node status done
    </p>
    <p class="mt-3 mb-3">Select the languages to be translated<span class="required">*</span></p>
</div>
<div class="grid">
    <div class="col-12">
        <p-pickList
            [source]="sourseLanguage"
            [target]="targetLanguage"
            sourceHeader="Available Languages"
            targetHeader="Selected Languages"
            [dragdrop]="true"
            [responsive]="true"
            [sourceStyle]="{ height: '400px' }"
            [targetStyle]="{ height: '400px' }"
            filterBy="name"
            sourceFilterPlaceholder="Search by name"
            targetFilterPlaceholder="Search by name"
            [showSourceControls]="false"
            [showTargetControls]="false"
            appendTo="body"
            (onMoveToTarget)="getMovedLanguages()"
            (onMoveAllToTarget)="getMovedLanguages()"
            (onMoveAllToSource)="getMovedLanguagesToSource()"
            (onMoveToSource)="getMovedLanguagesToSource()"
        >
            <ng-template let-product pTemplate="item">
                <p>{{ product.name }}</p>
            </ng-template>
        </p-pickList>
    </div>
</div>
<div class="col-12">
    <div class="pb-3 left-bottom-btn">
        <span class="help-btn">
            <button
                pButton
                type="button"
                label="Help"
                class="p-button-help mr-3"
                icon="pi pi-question"
                iconPos="left"
            ></button>
        </span>
        <span class="next-btn">
            <button
                pButton
                type="button"
                label="Next"
                class="p-button-primary"
                icon="pi pi-chevron-right"
                iconPos="right"
                (click)="navigate(1)"
                [disabled]="isLanguageSelected"
            ></button>
        </span>
    </div>
</div>
