<div class="configure">
    <p class="main-heading">Please select your preferences for project update</p>
    <div *ngFor="let item of configItems" class="p-field-checkbox check-list">
        <p-checkbox
            [value]="item"
            value="item"
            [inputId]="item.key"
            (onChange)="getCheckboxValue()"
            [(ngModel)]="selectedValues"
            [disabled]="item.disable"
        ></p-checkbox>
        <label [for]="item.key">{{ item.name }}</label>
    </div>
    <div class="threshold-value" *ngIf="checkedValues['model_text_change']">
        <p class="mt-3">Threshold value in (%)</p>
        <p-inputNumber
            [maxlength]="4"
            mode="decimal"
            [min]="0"
            [max]="100"
            suffix="%"
            class="mt-2"
            [(ngModel)]="thresholdValues"
        ></p-inputNumber>
    </div>
</div>

<div class="pt-3 pb-5 left-bottom-btn">
    <!-- cancel popup -->
    <p-confirmDialog #cd [style]="{ width: '25vw' }" [baseZIndex]="10000" class="cancel-dialog" [closable]="false">
        <ng-template pTemplate="footer">
            <div class="yes-button">
                <button
                    class="p-button-danger"
                    type="button"
                    pButton
                    label="Yes"
                    icon="pi pi-check"
                    (click)="cd.accept()"
                ></button>
            </div>
            <div class="no-button">
                <button
                    class="p-button-secondary"
                    type="button"
                    pButton
                    label="No"
                    icon="pi pi-times"
                    (click)="cd.reject()"
                ></button>
            </div>
        </ng-template>
    </p-confirmDialog>
    <span class="back-btn">
        <button
            pButton
            type="button"
            label="Back"
            class="p-button-primary mr-3"
            icon="pi pi-chevron-left"
            iconPos="left"
            (click)="prevPage()"
            *ngIf="selectedProject?.status !== projectStatusEnum.UpdateAvailable"
        ></button>
    </span>
    <span class="help-btn">
        <button
            pButton
            type="button"
            label="Help"
            class="p-button-help mr-3"
            icon="pi pi-question"
            iconPos="left"
        ></button>
    </span>
    <span class="cancel-btn">
        <button
            pButton
            pRipple
            (click)="showConfirm()"
            icon="pi pi-times"
            iconPos="left"
            type="button"
            label="Cancel"
            class="p-button-warning mr-3"
        ></button>
    </span>
    <span class="next-btn">
        <button
            pButton
            type="button"
            label="Next"
            class="p-button-primary"
            icon="pi pi-chevron-right"
            iconPos="right"
            (click)="nextPage()"
        ></button>
    </span>
</div>
