<div class="card">
    <p-treeTable
        [value]="pages"
        [scrollable]="true"
        scrollHeight="68vh"
        [columns]="cols"
        selectionMode="single"
        [(selection)]="selectedRow"
        (selectionChange)="selectionChange()"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <p class="m-0">Create Page</p>
                <p-button icon="pi pi-plus" class="mr-2" label="Add" (onClick)="addPage()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td *ngFor="let col of columns; let i = index">
                    <div class="flex align-items-center">
                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                        <ng-container *ngIf="!rowData?.isEditMode; else editMode">
                            <span class="mr-2" *ngIf="!rowData?.isChild"><i class="pi pi-inbox"></i></span>
                            {{ rowData[col.field] }}
                        </ng-container>

                        <ng-template #editMode>
                            <div class="flex flex-column gap-1">
                                <input pInputText type="text" [(ngModel)]="rowData.pageTitle" />
                                <small *ngIf="isPageExists(rowData?.pageTitle)">
                                    <span class="text-red-300">Page already exists</span>
                                </small>
                            </div>
                        </ng-template>
                        <div class="flex ml-auto">
                            <p-button
                                *ngIf="rowData?.isEditMode"
                                icon="pi pi-check"
                                styleClass="p-button-rounded p-button-success p-button-text"
                                pTooltip="Save Page"
                                [disabled]="rowData.pageTitle.length === 0 || isPageExists(rowData?.pageTitle)"
                                tooltipPosition="bottom"
                                (onClick)="savePage(rowData)"
                            ></p-button>
                            <p-button
                                *ngIf="rowData?.isEditMode"
                                icon="pi pi-times"
                                styleClass="p-button-rounded p-button-danger p-button-text"
                                pTooltip="Cancel"
                                tooltipPosition="bottom"
                                (onClick)="cancelEdit(rowNode, rowData)"
                            ></p-button>
                            <p-button
                                *ngIf="!rowData?.isEditMode && !rowData?.isChild"
                                icon="pi pi-plus"
                                styleClass="p-button-rounded p-button-text"
                                pTooltip="Add Page"
                                (onClick)="addPageItem(rowNode)"
                                tooltipPosition="bottom"
                            ></p-button>
                            <p-button
                                *ngIf="!rowData?.isEditMode"
                                icon="pi pi-pencil"
                                pTooltip="Edit Page"
                                tooltipPosition="bottom"
                                styleClass="p-button-rounded p-button-text ml-auto"
                                (onClick)="startEdit(rowData, rowNode)"
                            ></p-button>
                            <p-button
                                *ngIf="!rowData?.isEditMode"
                                icon="pi pi-trash"
                                pTooltip="Delete Page"
                                tooltipPosition="bottom"
                                styleClass="p-button-danger p-button-rounded p-button-text"
                                (onClick)="deletePage(rowNode, rowData)"
                            ></p-button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="pages.length">No data found.</td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>
<app-confirmation
    *ngIf="deleteConfirmationModel.showConfirmation"
    [confirmationHeader]="deleteConfirmationModel.confirmationHeader"
    [confirmationMessage]="deleteConfirmationModel.confirmationMessage"
    [acceptProperties]="deleteConfirmationModel?.acceptProperties"
    [rejectProperties]="deleteConfirmationModel?.rejectProperties"
    (acceptCallback)="deleteConfirmationModel.onAccept()"
    (rejectCallback)="deleteConfirmationModel.onReject($event)"
></app-confirmation>
