<div class="grid">
    <p class="col-2 font-bold" *ngIf="lengthCalculationService.tabIndex === 0">
        Length Calculations: {{ lengthCalculationService.availableLC.length }}
    </p>
    <p class="col-2 font-bold" *ngIf="lengthCalculationService.tabIndex === 1">
        Fonts: {{ lengthCalculationService.availableLC.length }}
    </p>
    <div class="col-6"></div>
    <div class="col-4 text-right" *ngIf="role === 1">
        <button
            pButton
            type="button"
            icon="pi pi-upload"
            iconPos="left"
            label="{{ lengthCalculationService.uploadBtnName }}"
            class="p-button-sm mr-2"
            (click)="lengthCalculationService.showUploadDialog()"
        ></button>
        <button
            pButton
            type="button"
            icon="pi pi-trash"
            iconPos="left"
            label="{{ lengthCalculationService.deleteBtnName }}"
            class="p-button-danger p-button-sm"
            (click)="lengthCalculationService.deteletSelectedRecord()"
        ></button>
    </div>
    <p-confirmDialog
        [closable]="false"
        header="Confirmation"
        icon="pi pi-exclamation-triangle"
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        class="confirm-popup"
    ></p-confirmDialog>
</div>
<p-table
    [columns]="lengthCalculationService.tableColumns"
    [value]="lengthCalculationService.availableLC"
    [loading]="lengthCalculationService.loading"
    [(selection)]="lengthCalculationService.selectedRow"
    selectionMode="single"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-columnFilter [type]="col.filterType" [field]="col.field" display="menu" [hideOnClear]="true">
                </p-columnFilter>
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" (click)="lengthCalculationService.getSelectedRow(rowData)">
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">Data not found.</td>
        </tr>
    </ng-template>
</p-table>
