<p-tabView>
    <p-tabPanel header="Preferences">
        <p-toast></p-toast>
        <form [formGroup]="mappingGP">
            <div class="p-grid p-fluid">
                <p-fieldset legend="Search Results">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-3">
                            <label for="Minimum Scrore">Minimum Scrore</label>
                            <p-inputNumber
                                [maxlength]="4"
                                minValue="1"
                                mode="decimal"
                                suffix="%"
                                [showButtons]="true"
                                inputId="minmax-buttons"
                                formControlName="minimumScore"
                                [min]="1"
                                [max]="100"
                            >
                            </p-inputNumber>
                            <div *ngIf="getMappingFromControls['minimumScore'].invalid && submitMappingForm">
                                <p-message
                                    severity="error"
                                    text="Minimum Score is required"
                                    *ngIf="
                                        getMappingFromControls['minimumScore']?.errors &&
                                        getMappingFromControls['minimumScore']?.errors['required']
                                    "
                                ></p-message>
                                <p-message
                                    severity="error"
                                    text="Please enter a value between 0 and 100"
                                    *ngIf="
                                        getMappingFromControls['minimumScore']?.errors &&
                                        getMappingFromControls['minimumScore']?.errors['max']
                                    "
                                ></p-message>
                            </div>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="Project">Maximum Result</label>
                            <p-inputNumber
                                [maxlength]="3"
                                minValue="1"
                                mode="decimal"
                                [showButtons]="true"
                                inputId="minmax-buttons"
                                formControlName="maximumResult"
                                [min]="1"
                                [max]="100"
                            >
                            </p-inputNumber>
                            <div *ngIf="getMappingFromControls['maximumResult'].invalid && submitMappingForm">
                                <p-message
                                    severity="error"
                                    text="Maximum Result is required"
                                    *ngIf="
                                        getMappingFromControls['maximumResult']?.errors &&
                                        getMappingFromControls['maximumResult']?.errors['required']
                                    "
                                ></p-message>
                                <p-message
                                    severity="error"
                                    text="Please enter a value between 0 and 100"
                                    *ngIf="
                                        getMappingFromControls['maximumResult']?.errors &&
                                        getMappingFromControls['maximumResult']?.errors['max']
                                    "
                                ></p-message>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Search Penalties">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-3">
                            <label for="MutipleTranslations">Mutiple Translations</label>
                            <p-inputNumber
                                [maxlength]="4"
                                mode="decimal"
                                suffix="%"
                                [showButtons]="true"
                                inputId="minmax-buttons"
                                formControlName="mutipleTranslations"
                                [min]="0"
                            >
                            </p-inputNumber>
                            <div *ngIf="getMappingFromControls['mutipleTranslations'].invalid && submitMappingForm">
                                <p-message
                                    severity="error"
                                    text="Mutiple Translations is required"
                                    *ngIf="
                                        getMappingFromControls['mutipleTranslations']?.errors &&
                                        getMappingFromControls['mutipleTranslations']?.errors['required']
                                    "
                                ></p-message>
                                <p-message
                                    severity="error"
                                    text="Please enter a value between 0 and 100"
                                    *ngIf="
                                        getMappingFromControls['mutipleTranslations']?.errors &&
                                        getMappingFromControls['mutipleTranslations']?.errors['max']
                                    "
                                ></p-message>
                            </div>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-3">
                            <label for="TextType">TextType</label>
                            <p-inputNumber
                                [maxlength]="4"
                                mode="decimal"
                                suffix="%"
                                [showButtons]="true"
                                inputId="minmax-buttons"
                                formControlName="textType"
                                [min]="0"
                            >
                            </p-inputNumber>
                            <div *ngIf="getMappingFromControls['textType'].invalid && submitMappingForm">
                                <p-message
                                    severity="error"
                                    text="Text type is required"
                                    *ngIf="
                                        getMappingFromControls['textType']?.errors &&
                                        getMappingFromControls['textType']?.errors['required']
                                    "
                                ></p-message>
                                <p-message
                                    severity="error"
                                    text="Please enter a value between 0 and 100"
                                    *ngIf="
                                        getMappingFromControls['textType']?.errors &&
                                        getMappingFromControls['textType']?.errors['max']
                                    "
                                ></p-message>
                            </div>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="Project">Project</label>
                            <p-inputNumber
                                [maxlength]="4"
                                mode="decimal"
                                suffix="%"
                                [showButtons]="true"
                                inputId="minmax-buttons"
                                formControlName="project"
                                [min]="0"
                            >
                            </p-inputNumber>
                            <div *ngIf="getMappingFromControls['project'].invalid && submitMappingForm">
                                <p-message
                                    severity="error"
                                    text="Project is required"
                                    *ngIf="
                                        getMappingFromControls['project']?.errors &&
                                        getMappingFromControls['project']?.errors['required']
                                    "
                                ></p-message>
                                <p-message
                                    severity="error"
                                    text="Please enter a value between 0 and 100"
                                    *ngIf="
                                        getMappingFromControls['project']?.errors &&
                                        getMappingFromControls['project']?.errors['max']
                                    "
                                ></p-message>
                            </div>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="Brand">Brand</label>
                            <p-inputNumber
                                [maxlength]="4"
                                mode="decimal"
                                suffix="%"
                                [showButtons]="true"
                                inputId="minmax-buttons"
                                formControlName="brand"
                                [min]="0"
                            >
                            </p-inputNumber>
                            <div *ngIf="getMappingFromControls['brand'].invalid && submitMappingForm">
                                <p-message
                                    severity="error"
                                    text="Brand is required"
                                    *ngIf="
                                        getMappingFromControls['brand']?.errors &&
                                        getMappingFromControls['brand']?.errors['required']
                                    "
                                ></p-message>
                                <p-message
                                    severity="error"
                                    text="Please enter a value between 0 and 100"
                                    *ngIf="
                                        getMappingFromControls['brand']?.errors &&
                                        getMappingFromControls['brand']?.errors['max']
                                    "
                                ></p-message>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Match Handling">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-3">
                            <p-radioButton
                                name="matchhandling"
                                value="match_ideal_form"
                                label="Always take ideal form"
                                formControlName="matchhandling"
                            ></p-radioButton>
                        </div>
                        <div class="field col-12 md:col-3">
                            <p-radioButton
                                name="matchhandling"
                                value="match_any_form"
                                label="Take best fitting form "
                                formControlName="matchhandling"
                            >
                            </p-radioButton>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Status Handling">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-3">
                            <p-checkbox
                                name="statushandling"
                                value="status_mapping"
                                [(ngModel)]="values"
                                label="Take status from STC when mapping"
                                formControlName="statushandling"
                            ></p-checkbox>
                        </div>
                        <div class="field col-12 md:col-3">
                            <p-checkbox
                                name="statushandling"
                                value="status_unmapping"
                                [(ngModel)]="values"
                                label="Reset status when unmapping"
                                formControlName="statushandling"
                            >
                            </p-checkbox>
                        </div>
                    </div>
                </p-fieldset>
                <div *ngIf="targetLanguages.length === 0 && submitMappingForm">
                    <p-message
                        severity="error"
                        text="Source language is required
                "
                    ></p-message>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Language Selection">
        <div class="gird">
            <div class="col-12"><span class="headingMap">Select the Languages for Mapping Proposals</span></div>
            <div class="col-12">
                <p-pickList
                    [source]="sourceLanguages"
                    [target]="targetLanguages"
                    sourceHeader="Available Languages"
                    targetHeader="Selected Languages"
                    [dragdrop]="true"
                    [responsive]="true"
                    [sourceStyle]="{ height: '300px' }"
                    [targetStyle]="{ height: '381px' }"
                    [showTargetFilter]="false"
                    filterBy="language_culture_name"
                    sourceFilterPlaceholder="Search by name"
                    appendTo="body"
                >
                    <ng-template let-product pTemplate="item">
                        <p>{{ product?.language_culture_name }}</p>
                    </ng-template>
                </p-pickList>
                <div *ngIf="targetLanguages.length === 0 && submitMappingForm">
                    <p-message
                        severity="error"
                        text="Source language is required
                "
                    ></p-message>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

<div>
    <div class="pt-1 pb-5 pull-right">
        <button
            pButton
            type="button"
            label="Cancel"
            (click)="closeBtn()"
            icon="pi pi-times"
            iconPos="left"
            class="p-button-warning mr-3"
        ></button>
        <button
            pButton
            type="button"
            label="Help"
            class="p-button-help mr-3"
            icon="pi pi-question"
            iconPos="left"
        ></button>
        <button
            pButton
            type="submit"
            (click)="submitMapping()"
            icon="pi pi-check"
            iconPos="left"
            [label]="isMappingAssistent ? 'Confirm' : 'Apply'"
            iconPos="left"
        ></button>
    </div>
</div>
