:host ::ng-deep {
     .p-fieldset {
        margin-bottom: 10px !important;
    }
     .p-fieldset .p-fieldset-legend {
        padding: 1.25rem;
        border: 1px solid #dee2e6;
        color: #304cd9;
        background: #fff;
        font-weight: 700;
        border-radius: 6px;
    }
}
.pull-right {
    bottom: 0;
    float: right;
}
.headingMap {
    font-size: 14px;
    font-weight: 400;
    color: #495057;
}
