<div *ngIf="isLoading" class="text-center">
    <p-progressSpinner animationDuration="1s"></p-progressSpinner>
</div>
<div class="card">
    <div class="col-12">
        <p>
            Enable or disable Automatic Spellcheck for available languages. Contact your system to provide additional
            language selection.
        </p>
    </div>
    <ng-container *ngIf="dictionary$ | async as dictionary">
        <div class="col-12">
            <p-table
                #dt1
                [value]="dictionary"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                [globalFilterFields]="['languageName']"
            >
                <ng-template pTemplate="caption">
                    <span class="p-input-icon-right relative inline">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="dt1.filterGlobal($event.target?.['value'], 'contains')"
                            placeholder="Search keyword"
                        />
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="languageName">Languages <p-sortIcon field="languageName"></p-sortIcon></th>
                        <th class="text-center">Spellcheck</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dictionaries>
                    <tr>
                        <td [ngClass]="!dictionaries.spellCheck ? 'text-500' : null">
                            {{ dictionaries.languageName }}
                        </td>
                        <td class="text-center">
                            <p-checkbox
                                *ngIf="dictionaries.spellCheck"
                                [(ngModel)]="dictionaries.isDictionaryAvailable"
                                [binary]="true"
                                inputId="binary"
                                [id]="dictionaries.languageId"
                            ></p-checkbox>
                            <i
                                class="pi pi-times-circle"
                                style="font-size: 1.5rem"
                                *ngIf="!dictionaries.spellCheck"
                            ></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12 text-right">
            <p-button icon="pi pi-check" (onClick)="apply(dictionary)" label="Apply & Close"></p-button>
        </div>
    </ng-container>
</div>
