igc-dockmanager::part(pane-header) {
    background-color: #fff !important;
    color: #304cd9 !important;
    border-bottom: 1px solid rgb(232, 232, 232);
    font-size: 0.75em;
}

igc-dockmanager::part(tab-strip-area) {
    background-color: #fff !important;
    color: #304cd9 !important;
}

igc-dockmanager::part(pane-header active) {
    box-shadow: inset 0 -2px 0 0 #304cd9;
    color: #304cd9;
}

igc-dockmanager::part(tab-header top selected) {
    background-color: #fff !important;
    color: #304cd9 !important;
}

igc-dockmanager::part(tab-header top) {
    background-color: #fff !important;
    color: #304cd9 !important;
}

igc-dockmanager::part(splitter) {
    background-color: #304cd9 !important;
    color: #304cd9 !important;
}

igc-dockmanager {
    border-radius: 5px;
}