<div class="container m-2">
    <div class="grid">
        <div class="col-4">
            <app-help-index
                (selectedPageEvent)="onPageSelect($event)"
                (updatePageEvent)="onUpdatePage($event)"
                (editPageEvent)="onEditPage($event)"
                #helpIndex
            ></app-help-index>
        </div>
        <div class="col-8">
            <app-help-page
                [page]="page"
                [isPageEditable]="isPageEditable"
                (savePageContentEvent)="onSavePage($event)"
                #helpPage
            ></app-help-page>
        </div>
    </div>
    <p-toast></p-toast>
</div>
