.btn-container {
    float: right;
}
.input-label p {
    color: #6c757d;
    margin-top: 20px;
}

:host {
    ::ng-deep {
        .folder-section {
            .p-dropdown {
                width: 100%;
                height: 35px;
                border-radius: 5px;
                border: 1px solid #304cd9;
            }
        }
    }
}
.download-link {
    float: right;
    cursor: pointer;
}
.no-button {
    display: inline;
}
.yes-button {
    display: inline;
}

.radio-container {
    width: 100%;
    border-radius: 6px;
    padding: 0.5rem 0.6rem !important;
    border: 1px solid #304cd9;
}
.radio-container-lineheight {
    line-height: 22px;
}
