<div class="border-300 border-bottom-1 mb-3 pb-3">
    <p class="font-medium text-700">Reference Language</p>
    <p-table [value]="referenceLanguages">
        <ng-template pTemplate="header">
            <tr>
                <th>Source Language</th>
                <th>Reference Language</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-language>
            <tr>
                <td>{{ language.selectedLanguage }}</td>
                <td>{{ language.referenceLanguage }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage"><p class="p-3">No reference language found</p> </ng-template>
    </p-table>
</div>
