<p-table [value]="languages">
    <ng-template pTemplate="header">
        <tr>
            <th id="checkboxForSelectedLanguages">
                <p-checkbox [value]="!selectedLanguages" (click)="toggleLanguageSelection()"></p-checkbox>
            </th>
            <th pSortableColumn="languageCode" id="language">
                Language

                <p-columnFilter type="text" field="languageCode" display="menu" [hideOnClear]="true"> </p-columnFilter>
                <p-sortIcon field="languageCode"></p-sortIcon>
            </th>
            <th pSortableColumn="checkListStatus">Checklist</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-language>
        <tr>
            <td>
                <p-checkbox
                    [inputId]="language.languageId"
                    [value]="language"
                    [(ngModel)]="selectedLanguages"
                    (onChange)="setSelectedLanguage()"
                ></p-checkbox>
            </td>
            <td>{{ language.languageCode }}</td>
            <td>
                <p-chip
                    [label]="language.checkListStatus"
                    icon="pi pi-check-circle"
                    [style]="{ backgroundColor: 'var(--blue-200)', color: 'var(--blue-500)' }"
                    (click)="showChecklist(language); checkListStatus.toggle($event)"
                ></p-chip>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-overlayPanel #checkListStatus>
    <ng-template pTemplate>
        <app-checklist
            [checklist]="checklist"
            [header]="'Checklist'"
            [isToggle]="false"
            [isTaskChecklist]="true"
            [showCheckbox]="false"
        ></app-checklist>
    </ng-template>
</p-overlayPanel>
