<div>
    <p>
        {{ title }}
    </p>
    <ng-container *ngIf="options$ | async as options">
        <form [formGroup]="createLabelForm" (ngSubmit)="onSubmit()">
            <div class="border-1 border-200 flex flex-column gap-3 p-3">
                <div class="flex flex-wrap gap-3">
                    <div class="flex-grow-1 relative">
                        <input type="text" formControlName="name" (blur)="handleUniqueLabelValidation()" pInputText placeholder="Label Name *" />
                        <span
                            class="absolute left-0 text-red-400 top-100 text-xs mt-1"
                            *ngIf="createLabelForm.controls['name'].hasError('unique')"
                            >Label Already Exists</span
                        >
                    </div>
                    <div class="flex-grow-1">
                        <p-multiSelect
                            appendTo="body"
                            [style]="{ width: '100%' }"
                            formControlName="attachTo"
                            placeholder="Attach To *"
                            display="chip"
                            [options]="options.attachTo"
                        ></p-multiSelect>
                    </div>
                    <div class="flex-grow-1 relative">
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="color"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="Select Color"
                            readonly
                        />
                        <p-colorPicker
                            appendTo="body"
                            [ngStyle]="{ right: '3%', bottom: '15%' }"
                            class="absolute"
                            formControlName="color"
                        ></p-colorPicker>
                    </div>
                </div>
                <div class="align-items-center flex flex-wrap gap-3">
                    <div class="flex-grow-1">
                        <p-dropdown
                            appendTo="body"
                            formControlName="restriction"
                            placeholder="Restriction"
                            name="restriction"
                            [options]="options.restrictions"
                        ></p-dropdown>
                    </div>
                    <div class="flex-grow-1">
                        <input type="text" formControlName="restrictionPattern" pInputText placeholder="Regex value" />
                    </div>
                    <div>
                        <p-calendar
                            appendTo="body"
                            placeholder="Date"
                            dateFormat="yy-mm-dd"
                            [minDate]="minDate"
                            [(ngModel)]="date"
                            formControlName="date"
                            name="date"
                            [showIcon]="true"
                        ></p-calendar>
                    </div>
                    <div class="flex-grow-1">
                        <p-dropdown
                            appendTo="body"
                            formControlName="icon"
                            name="icon"
                            placeholder="Icon"
                            [options]="options.icons"
                        >
                            <ng-template pTemplate="selectedItem">
                                <i [ngClass]="createLabelForm.value.icon"></i>
                            </ng-template>
                            <ng-template let-icon pTemplate="item">
                                <i [ngClass]="icon"></i>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div>
                        <p>Bug Fix</p>
                        <div class="flex gap-2">
                            <p-radioButton formControlName="isBugfix" [inputId]="'Yes'" [value]="true"></p-radioButton>
                            <label [for]="'Yes'">Yes</label>
                            <p-radioButton formControlName="isBugfix" [inputId]="'No'" [value]="false"></p-radioButton>
                            <label [for]="'No'">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-200 border-top-1 flex gap-3 mt-3 pt-3">
                <p-button
                    label="Back"
                    class="ml-auto"
                    styleClass="p-button-outlined"
                    icon="pi pi-angle-left"
                    type="button"
                    (click)="backToLabelList()"
                ></p-button>
                <p-button
                    [label]="isUpdate ? 'Update' : 'Create Label'"
                    [disabled]="!createLabelForm.valid"
                    icon="pi pi-check"
                    type="submit"
                ></p-button>
            </div>
        </form>
    </ng-container>
</div>
