<div class="container">
    <p>You can review the Assigned users. If required, you can re-assign to different Users here.</p>
    <form [formGroup]="usersSettingForm" (ngSubmit)="submitUserForm()">
        <div class="grid">
            <div class="col-3">
                <p-dropdown
                    [options]="projectManagers"
                    formControlName="selectedManager"
                    optionLabel="name"
                    filterBy="name"
                    placeholder="Select a project manager"
                    [filter]="true"
                    appendTo="body"
                ></p-dropdown>
            </div>
            <div class="col-3">
                <div class="p-inputgroup">
                    <p-dropdown
                        [options]="readOnlyUsers"
                        formControlName="users"
                        optionLabel="email"
                        optionValue="id"
                        filterBy="email"
                        placeholder="Select read only user"
                        [filter]="true"
                        appendTo="body"
                        [style]="{ 'border-bottom-right-radius': '0px', 'border-top-right-radius': '0px' }"
                    ></p-dropdown>
                    <button
                        type="button"
                        pButton
                        icon="pi pi-plus"
                        (click)="addUserAsReadOnly()"
                        styleClass="p-button-warn"
                    ></button>
                </div>
                <p-listbox
                    [options]="selectedReadOnlyUsers"
                    dataKey="id"
                    styleClass="mt-3"
                    [emptyMessage]="'No read only user assigned'"
                    [listStyle]="{ height: '250px' }"
                >
                    <ng-template let-user pTemplate="item">
                        <div class="flex align-items-center justify-content-between w-full">
                            <div>{{ user.name }}</div>
                            <p-button
                                icon="pi pi-trash"
                                (onClick)="delete(user)"
                                styleClass="p-button-danger p-button-sm z-5"
                            ></p-button>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="pt-5 inline-flex btn-container">
            <button
                pButton
                type="button"
                icon="pi pi-chevron-left"
                iconPos="left"
                label="Back"
                iconPos="left"
                (click)="prevTab()"
                *ngIf="isRawProject"
                class="mr-3"
            ></button>
            <button
                pButton
                type="button"
                icon="pi pi-times"
                iconPos="left"
                label="Cancel"
                class="p-button-warning mr-3"
                (click)="closePropertiesDialogOnCancel()"
            ></button>
            <button
                pButton
                type="submit"
                icon="pi pi-save"
                iconPos="left"
                label="Save"
                iconPos="left"
                *ngIf="!isRawProject"
                [disabled]="!usersSettingForm.valid"
            ></button>
            <button
                pButton
                type="button"
                icon="pi pi-chevron-right"
                iconPos="right"
                label="Next"
                iconPos="right"
                (click)="nextTab()"
                *ngIf="isRawProject"
                [disabled]="!usersSettingForm.valid"
            ></button>
        </div>
    </form>
</div>
<app-confirmation
    *ngIf="showConfirmation"
    (acceptCallback)="onAccept()"
    (rejectCallback)="onReject()"
></app-confirmation>
