.users-settings {
    margin-top: 20px;
}
.left-bottom-btn {
    float: right;
}
.next-btn {
    display: inline;
}
.usersdetails {
    margin: 30px 10px 75px;
}

:host {
    ::ng-deep .next-btn {
        .p-button {
            background: #304cd9;
        }
        .p-button:hover {
            opacity: 0.9;
        }
    }
    .back-btn {
        .p-button {
            background: #304cd9;
        }
        .p-button:hover {
            opacity: 0.9;
        }
    }
}
.btn-container {
    float: right;
}
.main-para {
    font-weight: 400;
    font-size: 18px;
    color: #434343;
}
