:host {
    ::ng-deep .project-reference {
        .p-dialog {
            height: 50%;
            width: 50%;
        }
    }
}
.ref-header {
    font-weight: 500;
    font-size: 14px;
    color: #304cd9;
    text-align: center;
    line-height: 2.5em;
}
.tbl {
    border: 1px solid #a5c9ff;
}
