$purple--lightest: #fff;
$purple--light: #fff;
$purple--med: #fff;
$purple--dark: #fff;

.flex-container {
    align-items: stretch;
    background: linear-gradient(155deg, $purple--lightest, $purple--light, $purple--dark);
    display: flex;
    height: 100vh;
    justify-content: center;
    min-width: 375px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .flex-container {
        flex-direction: column;
    }

    .wrapper {
        &.splash {
            order: 2;
        }

        &.form {
            min-height: 70vh;
            order: 1;
            flex-basis: auto;
        }
    }
}

@media screen and (max-width: 900px) and (max-height: 600px) {
    .wrapper {
        &.splash {
            display: none;
        }
    }
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: left;

    &.splash {
        background: #304cd9;
        color: black;
        text-align: center;
        background-image: url('./../../../../assets/images/login-pagebg.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.error-container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    color: red;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    opacity: 0;
    padding: 0 2em;
    transform: translateY(-30px);
    transition: opacity 250ms ease;

    &.show {
        display: block;
        opacity: 1;
    }
}

.form-signin {
    background: white;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 45px 45px;
    transform: translateY(-30px);

    .form-signin-heading {
        font-size: 22px;
        font-weight: 200;
        margin-bottom: 30px;
    }

    .checkbox {
        font-weight: normal;
    }

    .form-control {
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        height: auto;
        padding: 10px;
        position: relative;

        &:focus {
            z-index: 2;
        }
    }

    .form-item {
        position: relative;
    }

    label {
        color: #9e9e9e;
        cursor: text;
        font-size: 14px;
        font-weight: 200;
        height: 100%;
        left: 0;
        letter-spacing: 0.05em;
        pointer-events: none;
        position: absolute;
        text-align: initial;
        top: 0;
        transform-origin: 0 100%;
        transform: translateY(16px);
        transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;

        &.active {
            transform: translateY(-10px) scale(0.8);
            transform-origin: 0 0;
        }
    }

    input[type='text'],
    input[type='password'] {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        box-shadow: none;
        box-sizing: content-box;
        font-size: 1rem;
        height: 3rem;
        margin: 0 0 30px;
        min-width: 270px;
        outline: none;
        padding: 0;
        transition: all 0.3s;
        width: 100%;

        &:focus {
            border-bottom: 1px solid $purple--med;
            box-shadow: 0 1px 0 0 $purple--med;
        }
    }
}

.btn {
    background-color: $purple--dark;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-top: 10px;
    padding: 0 2rem;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
    vertical-align: middle;

    &:hover {
        background-color: $purple--med;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
}

.secondary-cta {
    color: $purple--dark;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 20px;
}

.login-forgot {
    float: right;
    padding: 12px 0px;
    font-size: 12px;
}
.login-heading {
    font-size: 24px;
    font-weight: 700;
    padding: 0px;
    color: #000000;
}
.login-sub-heading {
    color: #949494;
    font-size: 14px;
    padding: 0px 2px;
}
.p-button {
    color: #ffffff;
    background: #304cd9;
    border: 1px solid #304cd9;
    padding: 0.6rem 2.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    margin: 0px 4px;
}

.imagewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagewrapper img {
    width: 60%;
}

.site-header {
    padding: 0.5em 1em;
}

.site-header::after {
    content: '';
    display: table;
    clear: both;
}

.site-identity {
    float: left;
}

.site-identity h1 {
    margin: 0.7em 0 0.3em 0;
    border-width: 1px;
    border-color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    display: inline-block;
}

.site-identity img {
    float: left;
    margin: 0 10px 0 0;
}
.site-header a {
    color: #fff;
}
:host {
    ::ng-deep {
        .ui-panel-images {
            width: 100%;
        }
        .ui-panel-images img {
            width: 70%;
        }
        .site-identity img {
            width: 4rem;
        }
        .errorLogin .p-dialog {
            margin-top: 20% !important;
            border-left: 6px solid #ff5757;
        }
        .errorLogin .p-dialog .p-dialog-header {
            border-bottom: 0 none;
            background: #ffe7e6;
            color: #343a40;
            padding: 0rem;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }
        .errorLogin .p-dialog .p-dialog-content {
            background: #ffe7e6;
            color: #495057;
            padding: 0rem;
        }
        .errorLogin .p-message.p-message-error {
            background: #ffe7e6;
            border: solid #ffe7e6;
            border-width: 0 0 0 6px;
            color: #ff5757;
        }
    }
}
.passfield {
    margin-top: 15px;
}
