<p-panel [header]="header" [toggleable]="isToggle">
    <p-dataView #dv [value]="checklist">
        <ng-template let-check pTemplate="listItem">
            <div class="col-12">
                <div
                    class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
                    [ngClass]="{ 'text-red-500': !check.isChecked && isTaskChecklist }"
                >
                    <p-checkbox
                        [binary]="true"
                        [(ngModel)]="check.isChecked"
                        (onChange)="update()"
                        [disabled]="!showCheckbox"
                    ></p-checkbox>
                    {{ check.check }}
                </div>
            </div>
        </ng-template>
    </p-dataView>
</p-panel>
