<div class="container basefile-container">
    <div *ngIf="loadingFileSpinner" class="spinner">
        <p-progressSpinner animationDuration="1s"></p-progressSpinner>
    </div>
    <div class="main-heading">
        <p>Drag and drop the XSLT file in the highlighted area or choose the XSLT file.</p>
    </div>
    <div class="upload-placeholder pt-3">
        <p>Upload XSLT file</p>
    </div>
    <div class="primengUpload mt-2">
        <p-fileUpload
            accept=".xslt,.xsl"
            (uploadHandler)="uploadFile($event)"
            [auto]="true"
            [customUpload]="true"
            (onBeforeUpload)="hideCancel()"
            (onSelect)="showCancel()"
        >
            <ng-template pTemplate="content">
                <div class="flex justify-content-center" *ngIf="isFileSelected">
                    <span id="spanFileName"> {{ selectedFileName }}</span>
                    <span id="idFileSize" class="ml-5">{{ fileSize }}</span>
                </div>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="col-12 mt-2">
        <p-message *ngIf="fileIsInvalid && fileData === null" severity="error" text="Invalid file"> </p-message>
        <p-message *ngIf="ifFileExisit && fileError !== ''" severity="error" [text]="fileError"></p-message>
    </div>
    <div class="col-12 mt-2">
        <p>Description</p>
    </div>
    <div class="col-12 mt-2 project-descp-text">
        <textarea pInputTextarea rows="5" cols="30" [autoResize]="true" [(ngModel)]="description"></textarea>
    </div>
    <div class="pt-1 pb-1 pull-right">
        <button
            pButton
            type="button"
            label="Cancel"
            (click)="hideExportPanel()"
            icon="pi pi-times"
            iconPos="left"
            class="p-button-warning mr-3"
        ></button>
        <button
            [disabled]="fileData === '' || ifFileExisit"
            pButton
            type="submit"
            icon="pi pi-plus"
            iconPos="left"
            label="Add Export"
            iconPos="left"
            (click)="saveExportFile()"
        ></button>
    </div>
    <p-confirmDialog
        #cr
        [style]="{ width: '25vw' }"
        [baseZIndex]="10000"
        class="cancel-dialog"
        [closable]="false"
        key="cancelExport"
    >
        <ng-template pTemplate="footer">
            <div class="col-12 flex-row-reverse align-items-end">
                <button
                    class="p-button-danger"
                    type="button"
                    pButton
                    label="Yes"
                    icon="pi pi-check"
                    (click)="cr.accept()"
                ></button>

                <button
                    class="p-button-secondary"
                    type="button"
                    pButton
                    icon="pi pi-times"
                    label="No"
                    (click)="cr.reject()"
                ></button>
            </div>
        </ng-template>
    </p-confirmDialog>
</div>
