.u-full-width {
    width: 81%;
    height: 2.5rem;
    border: 1px solid #304cd9;
    box-sizing: border-box;
    border-radius: 5px;
}
:host {
    ::ng-deep  {
            .project-descp-text {
                textarea {
                    height: 100px !important;
                    width: 100%;
                    border: 1px solid #304cd9;
                    border-radius: 5px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: #505051;
                }
            } 
            .primengUpload {
            .p-button.p-button-icon-only {
                display: none;
            }
            .p-fileupload .p-fileupload-content {
                background: #c2d6f7;
                border: 1px solid #5897fc;
            }
            .p-progressbar {
                display: none;
            }
        }
    }
    .pull-right {
        float: right;
    }
    .upload-placeholder {
        color: #304cd9;
    }
}
.main-heading {
    color: #174a84;
}
