<div class="flex flex-row">
    <div class="flex h-center mt-2">
        <p><strong>Editor</strong> {{ parserDetails.editor?.fileName }}</p>
    </div>
    <div class="flex ml-auto">
        <div class="flex m-2">
            <p-fileUpload
                #fileUploadEditor
                mode="basic"
                (onSelect)="onFileUpload($event, parserDetails.editor, fileUploadEditor)"
                [auto]="true"
                [multiple]="false"
            ></p-fileUpload>
        </div>
        <div class="flex m-2">
            <p-button
                [disabled]="!parserDetails.editor.gpConfigId"
                (onClick)="downloadParserConfigFile(parserDetails.editor)"
                icon="pi pi-download"
                size="small"
            ></p-button>
        </div>
        <div class="flex m-2">
            <p-button
                [disabled]="!parserDetails.editor.gpConfigId"
                icon="pi pi-trash"
                styleClass="p-button-danger"
                size="small"
                (onClick)="delete(parserDetails.editor)"
            ></p-button>
        </div>
    </div>
</div>

<div class="flex flex-row">
    <div class="flex h-center mt-2">
        <p><strong>Translator</strong> {{ parserDetails.translator?.fileName }}</p>
    </div>
    <div class="flex flex-row ml-auto">
        <div class="flex m-2">
            <p-fileUpload
                #fileUploadTranslator
                mode="basic"
                (onSelect)="onFileUpload($event, parserDetails.translator, fileUploadTranslator)"
                [auto]="true"
                [multiple]="false"
            ></p-fileUpload>
        </div>
        <div class="flex m-2">
            <p-button
                [disabled]="!parserDetails.translator.gpConfigId"
                (onClick)="downloadParserConfigFile(parserDetails.translator)"
                icon="pi pi-download"
                size="small"
            ></p-button>
        </div>
        <div class="flex m-2">
            <p-button
                [disabled]="!parserDetails.translator.gpConfigId"
                icon="pi pi-trash"
                styleClass="p-button-danger"
                size="small"
                (onClick)="delete(parserDetails.translator)"
            ></p-button>
        </div>
    </div>
</div>
