<p class="mt-5 mb-4">Select a set of languages your project shall be translated to</p>

<div class="grid">
    <div class="col-12">
        <p-pickList
            sourceHeader="{{ sourceHeaderText }}"
            targetHeader="{{ targetHeaderText }}"
            filterBy="languageCode"
            sourceFilterPlaceholder="Search by name"
            targetFilterPlaceholder="Search by name"
            appendTo="body"
            [source]="model.availableOptions.languages"
            [target]="model.rawProject.languages"
            [dragdrop]="true"
            [responsive]="true"
            [sourceStyle]="{ height: '175px' }"
            [targetStyle]="{ height: '175px' }"
            [showSourceControls]="false"
            [showTargetControls]="false"
        >
            <ng-template let-language pTemplate="item">
                <p>{{ language.languageCode }}</p>
            </ng-template>
        </p-pickList>
    </div>
</div>

<!--footer-->
<p-divider></p-divider>
<div class="flex justify-content-end flex w-full">
    <p-button
        *ngIf="stepControl.previousStep !== null"
        class="p-2"
        label="Back"
        icon="pi pi-chevron-left"
        (click)="previousStep()"
    >
    </p-button>
    <p-button label="Cancel" class="p-2" icon="pi pi-times" styleClass="p-button-warning" (click)="cancel()"></p-button>
    <p-button
        *ngIf="stepControl.nextStep"
        class="p-2"
        label="Next"
        icon="pi pi-chevron-right"
        iconPos="right"
        [disabled]="model.rawProject.languages.length === 0"
        (onClick)="nextStep()"
    ></p-button>
    <p-button
        *ngIf="model.useCase === UseCase.Edit"
        class="p-2"
        icon="pi pi-save"
        label="Save"
        (onClick)="updateProjectDetails()"
    ></p-button>
</div>
