<p-steps [model]="reviewSteps" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<app-order-review-language *ngIf="activeIndex === 0" (navigationEvent)="navigate($event)"></app-order-review-language>
<app-order-review-assignment
    *ngIf="activeIndex === 1"
    (navigationEvent)="navigate($event)"
></app-order-review-assignment>
<app-order-review-documents *ngIf="activeIndex === 2" (navigationEvent)="navigate($event)"></app-order-review-documents>
<app-order-review-statistics
    *ngIf="activeIndex === 3"
    (navigationEvent)="navigate($event)"
    (closeDialog)="closeDialog($event)"
></app-order-review-statistics>
