<div class="border-300 border-bottom-1 mb-3 pb-3" *ngIf="isDescriptionVisible()">
    <p class="font-medium text-700">{{ title }}</p>
    <div class="border-1 border-300 border-round h-5rem overflow-auto p-2">
        {{ selectedProject?.description }}
    </div>
</div>

<app-reference-languages
    *ngIf="userInfo.role === userRoles.editor"
    [referenceLanguages]="referenceLanguages"
></app-reference-languages>

<div class="notranslationrequest mb-3">
    <p class="font-medium text-700">Attached Documents</p>
    <div class="border-1 border-300 border-round mb-3">
        <div class="w-full">
            <ng-container
                *ngIf="translationRequestDocuments?.editor?.length > 0"
                [ngTemplateOutlet]="documentTemplate"
                [ngTemplateOutletContext]="{ documents: translationRequestDocuments?.editor }"
            ></ng-container>

            <ng-container
                *ngIf="translationRequestDocuments?.projectManager?.length > 0"
                [ngTemplateOutlet]="documentTemplate"
                [ngTemplateOutletContext]="{ documents: translationRequestDocuments?.projectManager }"
            ></ng-container>

            <ng-container
                *ngIf="translationRequestDocuments?.translationManager?.length > 0"
                [ngTemplateOutlet]="documentTemplate"
                [ngTemplateOutletContext]="{ documents: translationRequestDocuments?.translationManager }"
            ></ng-container>

            <ng-container
                *ngIf="isDocumentNotFound(translationRequestDocuments?.editor)"
                [ngTemplateOutlet]="noDocumentFound"
                [ngTemplateOutletContext]="{ user: 'Editor' }"
            ></ng-container>

            <ng-container
                *ngIf="isDocumentNotFoundForProcessor(translationRequestDocuments?.projectManager)"
                [ngTemplateOutlet]="noDocumentFound"
                [ngTemplateOutletContext]="{ user: 'Project Manager' }"
            ></ng-container>

            <ng-container
                *ngIf="isDocumentNotFoundForProcessor(translationRequestDocuments?.translationManager)"
                [ngTemplateOutlet]="noDocumentFound"
                [ngTemplateOutletContext]="{ user: 'Translation Manager' }"
            ></ng-container>
        </div>
    </div>

    <ng-template #documentTemplate let-documents="documents">
        <div
            class="border-300 border-bottom-1 flex flex-wrap align-items-center justify-content-between"
            *ngFor="let file of documents"
        >
            <div class="w-4 p-3">
                <div class="align-items-center flex-wrap flex gap-2">
                    <img [src]="file.file_name | FileIconImagePipe" alt="Icon for {{ file.file_name }} file" />
                    <p>
                        {{ file.file_name }}
                    </p>
                </div>
            </div>
            <div class="capitalize p-3">{{ getUserRole(file.role) }}</div>
            <div class="text-center">{{ file.created_on | date : 'yyyy-MM-dd' }}</div>
            <div class="p-3">
                <p-button
                    styleClass="p-button-sm w-1"
                    icon="pi pi-download"
                    (click)="downloadSingleFile(file?.file_name, file?.role, file?.document_url)"
                ></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template #noDocumentFound let-user="user">
        <div class="w-full p-3 border-300 border-bottom-1">
            <span>No Documents found from {{ user }}</span>
        </div>
    </ng-template>
    <p-button
        *ngIf="isFilesManagedByUser(role)"
        label="Manage Document"
        class="btndoc"
        (click)="openManageDocumentsPopup(selectedProject, role)"
    >
        <img
            style="padding-right: 10px"
            src="../../../../assets/images/symbol/managedocument.svg"
            alt="Manage Document Symbol"
        />
    </p-button>
    <p-button label="Download All" styleClass="hidden">
        <img
            style="padding-right: 10px"
            src="../../../../assets/images/symbol/downloadall.svg"
            alt="Download All Symbol"
        />
    </p-button>
</div>
