<p-table
    #dt
    dataKey="id"
    selectionMode="single"
    [(selection)]="selectedTranslationRequestRow"
    [value]="model.translationRequestsForProject"
    [virtualRowHeight]="30"
    [loading]="loading"
    (onLazyLoad)="loadDataLazy($event)"
    [lazy]="true"
    [paginator]="model.translationRequestsForProject.length > 0"
    [rows]="10"
    [totalRecords]="model.totalTranslationRequest"
    (onRowClick)="onRowClick($event)"
    [contextMenu]="translationRequestsContextMenu"
>
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn></th>
            <th
                *ngFor="let col of model.cols; let i = index"
                id="col${i}"
                [pSortableColumn]="col.field"
                pSortableColumn="title"
                pResizableColumn
            >
                {{ col.header }} <p-sortIcon field="col.field"></p-sortIcon>
                <p-columnFilter
                    [field]="col.field"
                    display="menu"
                    [showMatchModes]="false"
                    [hideOnClear]="true"
                    *ngIf="isColumnProofread(col.field)"
                >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown
                            [options]="proofreadStatus"
                            (onChange)="filter($event.value)"
                            placeholder="Status"
                            [ngModel]="value"
                        >
                            <ng-template let-option pTemplate="item">
                                {{ option.label }}
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter
                    [type]="col.type"
                    [field]="col.field"
                    [hideOnClear]="true"
                    display="menu"
                    *ngIf="isShowColumnFilter(col.field)"
                ></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-translationRequest let-expanded="expanded" let-rowIndex="rowIndex">
        <tr
            style="height: 40px"
            [pContextMenuRow]="translationRequest"
            (contextmenu)="getSelectedTranslationRequestForImport(translationRequest)"
            [pSelectableRow]="translationRequest"
            (click)="onRowClick(translationRequest)"
            (contextmenu)="onRowClick(translationRequest)"
        >
            <td>
                <button
                    type="button"
                    pButton
                    pRipple
                    [pRowToggler]="translationRequest"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                ></button>
            </td>
            <td>{{ translationRequest.title }}</td>
            <td>{{ translationRequest.version | number : '2.0-0' }}</td>
            <td>{{ translationRequest.due_date | date : 'yyyy-MM-dd' }}</td>
            <td>{{ translationRequest.source_language }}</td>
            <td>{{ translationRequest.returnedLanguages }}</td>
            <td>{{ translationRequest.project_manager_email }}</td>
            <td>{{ translationRequest.proofread }}</td>
            <td>
                <p-chip
                    *ngIf="translationRequest.document === 'yes'; else no"
                    icon="pi pi-file"
                    [label]="translationRequest.documentCount"
                ></p-chip>
                <ng-template #no>-</ng-template>
            </td>
            <td>
                <p-chip
                    label="{{ translationRequestsStatusEnum[translationRequest.status] }}"
                    icon=" {{ translationRequestsStatusIconEnum[translationRequest.status] }}"
                    pTooltip=" {{
                        translationRequest.status === translationRequestsStatusEnum.Rejected
                            ? translationRequest.reason
                            : ''
                    }}"
                    [styleClass]="'text-node-status ' + translationRequestsStatusEnum[translationRequest.status]"
                    tooltipPosition="left"
                    [tooltipDisabled]="translationRequest.status !== translationRequestsStatusEnum.Rejected"
                ></p-chip>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-translationRequest>
        <tr>
            <td colspan="12">
                <p-table [value]="translationRequest.language_code" dataKey="product.language_prop.id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th
                                *ngFor="let col of model.colsForExpandedRow; let i = index"
                                id="col${i}"
                                [pSortableColumn]="col.field"
                            >
                                {{ col.header }} <p-sortIcon field="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-translationRequestsForLanguage>
                        <tr>
                            <td>{{ translationRequestsForLanguage.language }}</td>
                            <td class="text-right">
                                <p-progressBar
                                    [value]="
                                        (translationRequestsForLanguage.translationProgress /
                                            translationRequestsForLanguage.totalTranslationTextNode) *
                                            100 | number : '0.0-2'
                                    "
                                ></p-progressBar>
                                <span
                                    >{{ translationRequestsForLanguage.translationProgress }}/{{
                                        translationRequestsForLanguage.totalTranslationTextNode
                                    }}</span
                                >
                            </td>
                            <td>
                                <span *ngIf="!!translationRequestsForLanguage.returnedStatus">{{
                                    translationRequestsForLanguage.returnedStatus | date : 'yyyy-MM-dd'
                                }}</span
                                ><span *ngIf="!translationRequestsForLanguage.returnedStatus">Not returned</span>
                            </td>
                            <td>{{ translationRequestsForLanguage.importedStatus }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="6">There are no languages yet.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-contextMenu
    #translationRequestsContextMenu
    [model]="translationImportContextMenuItems"
    appendTo="body"
></p-contextMenu>
