<form [formGroup]="objSampleTextCatalogService.idealTextFG">
    <div class="grid">
        <div class="col-12">
            <div style="position: relative !important;"
                class="idealTextDes"
                *ngIf="!objSampleTextCatalogService.getIdelTextTabList?.controls[0]?.get('enable').value"
            >
                <a class="hyperlink plus pi pi-plus pt-3" pTooltip="Add" (click)="addNewIdealTextTab()"></a>
                <a
                    class="hyperlink remove pi pi-minus"
                    *ngIf="objSampleTextCatalogService.getIdelTextTabList.controls.length > 1"
                    pTooltip="Remove"
                    (click)="removeStc()"
                ></a>
            </div>
            <p-tabView
                [(activeIndex)]="objSampleTextCatalogService.activeIdealTextTabIndex"
                (onChange)="onChangeTab($event)"
                id="tabIdealText"
                [scrollable]="objSampleTextCatalogService.getIdelTextTabList.controls.length > 4"
                formArrayName="idealTextRow"
            >
                <ng-container
                    *ngFor="let group of objSampleTextCatalogService.getIdelTextTabList.controls; let i = index"
                    [formGroupName]="i"
                >
                    <p-tabPanel [selected]="group.value.selected">
                        <ng-template pTemplate="header">
                            <div>
                                {{ group.value.header }}<span *ngIf="i === 0" class="pl-1" style="color: red">*</span>
                            </div>
                        </ng-template>
                        <textarea
                            #idealTextAreaElement
                            [disabled]="group.value.enable"
                            [rows]="3"
                            [cols]="65"
                            *ngIf="i === 0"
                            (keyup)="checkIdealText($event, i)"
                            formControlName="idealText"
                            pInputTextarea
                            [autoResize]="true"
                            [minlength]="group.value.minlength"
                        ></textarea>
                        <textarea
                            #idealTextAreaElement
                            [disabled]="group.value.enable"
                            [rows]="3"
                            [cols]="65"
                            *ngIf="i > 0"
                            (keyup)="checkIdealText($event, i)"
                            [maxLength]="group.value.maxLength"
                            formControlName="idealText"
                            pInputTextarea
                            [autoResize]="true"
                        ></textarea>
                        <div *ngIf="ifSortFormExsit">
                            <p-message severity="error" text="Shortform already exists"></p-message>
                        </div>
                        <i
                            class="statusIcon pi pi-circle-fill"
                            [ngStyle]="{
                                color: statusIcon[group.value['status']] || 'transparent'
                            }"
                            aria-hidden="true"
                        ></i>
                    </p-tabPanel>
                    <div
                        *ngIf="
                            objSampleTextCatalogService.getIdelTextTabList.controls[0].get('idealText').invalid &&
                            submitSTC
                        "
                    >
                        <p-message
                            severity="error"
                            text="Text is required"
                            *ngIf="
                                objSampleTextCatalogService.getIdelTextTabList.controls[0].get('idealText')?.errors[
                                    'required'
                                ]
                            "
                        ></p-message>
                        <p-message
                            severity="error"
                            text="Text is invalid"
                            *ngIf="
                                objSampleTextCatalogService.getIdelTextTabList.controls[0].get('idealText')?.errors[
                                    'pattern'
                                ]
                            "
                        ></p-message>
                    </div>
                </ng-container>
            </p-tabView>
            <p-message
                severity="error"
                text="All Shortforms length should be less than ideal Text"
                *ngIf="ifIdealTextChanged"
            ></p-message>
            <p-message severity="error" text="Same length short form " *ngIf="submitSTC && sameLengthShortForm">
            </p-message>
        </div>
    </div>
</form>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
