.remove {
    padding-left: 9px;
    font-size: 12px;
    cursor: pointer;
}

.plus {
    font-size: 0.8rem;
    cursor: pointer;
}

:host ::ng-deep {
     .p-confirm-dialog-reject {
        background-color: #707070;
        color: #fff;
    }
    .p-confirm-dialog-reject:hover {
        background-color: #707070 !important;
        color: #fff !important;
    }
     .p-confirm-dialog-accept {
        background-color: #ff5757;
        color: #fff;
    }
     .p-tabview-scrollable .p-tabview-nav-container {
        margin-right: 50px;
    }
     .p-tabview .p-tabview-panels {
        border-top: 1px solid #304cd9;
        padding: 0.5rem;
    }
     .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        font-weight: 600;
        word-wrap: normal;
    }
     .p-tabview .p-tabview-nav li {
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: #304cd9;
        width: 130px !important;
    }
     .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        height: 0px !important;
    }
     textarea {
        overflow-y: auto !important;
        resize: none;
        cursor: pointer;
    }
     .statusIcon {
        float: right;
        cursor: pointer;
    }
}
