<div class="flex justify-content-between align-items-center">
    <p>{{ dialogHeading }} :</p>
    <app-help-icon [linkId]="linkId"></app-help-icon>
</div>
<textarea rows="7" cols="60" pInputTextarea [(ngModel)]="comment"></textarea>

<div class="mt-3 mr-2 flex justify-content-end">
    <p-button
        (click)="cancelDialog()"
        icon="pi pi-times"
        styleClass="p-button-outlined p-button-danger p-button-sm mr-2"
    ></p-button>
    <p-button
        icon="pi pi-check"
        [disabled]="comment.trim() === ''"
        styleClass=" p-button-success p-button-sm "
        (click)="addComment()"
    ></p-button>
</div>
