.display-header {
    text-align: left;
    color: #174a84;
}
.prepare-input-container {
    padding-top: 15px;
}
.prepare-input-container input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #304cd9;
}
.prepare-input-container p {
    text-align: left;
    font-size: 12px;
}
.prepare-input-container span {
    color: red;
}
.error {
    color: red;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.prepare-buttons {
    display: inline-flex;
}
:host {
    ::ng-deep {
        .prepare-buttons .p-button-label {
            color: #ffffff !important;
        }
        .prepare-downloadxml .p-button {
            background: #304cd9;
        }
    }
}
