<div class="inner-container">
    <p class="display-header">Enter a unique name of your project and download it by pressing "Prepare Project"</p>
    <div class="prepare-input-container">
        <p>Name of Project <span>*</span></p>
        <input
            pInputText
            id="float-input"
            type="text"
            class="form-control"
            [(ngModel)]="projectname"
            required
            (keyup)="checkProjectName(projectname)"
            appInputRestriction
        />
        <div *ngIf="showProjectError" class="mt-3 error">
            {{ error }}
        </div>
    </div>
    <div id="pause" *ngIf="loading" class="d-flex align-items-center justify-content-center">
        <p-progressSpinner
            id="spinner"
            bdOpacity="0.9"
            [style]="{ width: '50px', height: '50px' }"
            styleClass="custom-spinner"
            strokeWidth="8"
            fill="#EEEEEE"
            animationDuration=".5s"
        ></p-progressSpinner>
    </div>
</div>
<div class="col-12">
    <div class="pb-3 flex justify-content-end">
        <p-button
            (click)="prepareConfirm()"
            label="Cancel"
            icon="pi pi-times"
            iconPos="left"
            styleClass="p-button-warning mr-3"
        ></p-button>
        <p-button
            label="Prepare Project"
            (click)="downloadPrepareProject()"
            [disabled]="showProjectError"
        ></p-button>
    </div>
</div>
