<div class="main-container">
    <div *ngIf="isSpinner" class="spinner">
        <p-progressSpinner animationDuration="1s"></p-progressSpinner>
    </div>

    <div class="confirm-msg">
        <p-messages [(value)]="confirmMessage" [enableService]="false" [closable]="false"> </p-messages>
    </div>

    <div class="flex justify-content-center flex-wrap">
        <div class="flex align-items-center justify-content-center">
            <div class="complete-img pt-3">
                <img src="../../../../../../assets/images/svg/confirm.svg" alt="confirm" />
            </div>
        </div>
    </div>

    <div class="pt-5 flex justify-content-end">
        <span class="back-btn">
            <button
                pButton
                type="button"
                label="Back"
                class="p-button-primary mr-3 btn-small"
                icon="pi pi-chevron-left"
                iconPos="left"
                (click)="prevPage()"
            ></button>
        </span>
        <button
            pButton
            type="button"
            label="Cancel"
            (click)="showConfirm()"
            icon="pi pi-times"
            iconPos="left"
            label="Cancel"
            class="p-button-warning mr-3"
        ></button>
        <div class="next-btn">
            <button
                pButton
                type="submit"
                label="Create Project"
                icon="pi pi-send"
                iconPos="left"
                class="p-button-primary"
                (click)="createProject()"
            ></button>
        </div>
    </div>
</div>
<p-confirmDialog></p-confirmDialog>
