<div class="main-dashborad">
    <div #content class="main-inner-dashboard">
        <div *ngIf="isLoading" class="spinner">
            <p-progressSpinner animationDuration="1s"></p-progressSpinner>
        </div>

        <igc-dockmanager [layout]="layout">
            <div slot="{{ contentId }}" class="dockManagerContent bg-white h-full w-full">
                <app-grid
                    *ngIf="model.grid"
                    [model]="model.grid"
                    (requestSelectionEvent)="selectReviewRequest($event)"
                    (showFinishOrderDialogEvent)="showFinishReviewOrderDialog($event)"
                ></app-grid>
            </div>
            <div slot="document" class="dockManagerContent bg-white p-3 h-full w-full">
                <app-view-documents
                    *ngIf="model.grid && selectedReviewRequest"
                    [selectedProject]="selectedReviewRequest"
                    role="reviewer"
                    [requestId]="selectedReviewRequest?.id"
                    (uploadDocumentsEvent)="uploadDocuments($event)"
                ></app-view-documents>
            </div>
        </igc-dockmanager>
    </div>
</div>
<app-finish-review-request
    [isVisible]="showFinishOrderDialog"
    [selectedReviewRequest]="selectedReviewRequest"
    [targetLanguageRequest]="targetLanguageRequest"
    (finishRequestEvent)="finishReviewRequest()"
    (closeFinishOrderDialogEvent)="closeFinishOrderDialog()"
></app-finish-review-request>
