.screen-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.show {
  display: block;
}

/*theme.css line 888 not working because of style.scss line 139*/
//p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
//  border-color: #e24c4c !important;
//}
