.greenbtn {
    padding: 0.4rem 0.7rem;
    margin: 0.1rem;
    color: #1ea97c;
    font-size: 1rem;
    font-weight: 0;
    background: #e4f7ef;
}
.disabledtn {
    padding: 0.4rem 0.7rem;
    margin: 0.1rem;
    color: #eeecec;
    font-size: 1rem;
    font-weight: 0;
    background: #878d8d;
}
.redbtn {
    padding: 0.4rem 0.7rem;
    margin: 0.1rem;
    color: #cd0000;
    font-size: 1rem;
    font-weight: 0;
}
.acceptRejectBtns {
    padding-top: 10px;
}
.downloadLink {
    padding: 15px 0 10px 0;
    float: right;
}
