<p-table
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    selectionMode="single"
    [scrollable]="true"
    [columns]="model?.columns"
    scrollHeight="400px"
    [(selection)]="selectedRow"
    styleClass="p-datatable-gridlines"
    [resizableColumns]="true"
    [value]="model?.rows"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <p-multiSelect
                appendTo="body"
                [showToggleAll]="false"
                [style]="{ width: '100%' }"
                optionLabel="lcName"
                placeholder="Available LC"
                [(ngModel)]="selectedLC"
                display="chip"
                [options]="getAvailableLC()"
                (onChange)="onSelect($event.value)"
            ></p-multiSelect>
            <div class="align-items-center flex gap-2 mr-3">
                <p-button label="Add row for custom text" class="py-2" (click)="addRowWithTextBox()"></p-button>
                <p-button
                    [disabled]="!selectedRow?.customText"
                    icon="pi pi-trash"
                    styleClass="p-button-danger"
                    (click)="delete()"
                ></p-button>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pResizableColumn *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <ng-container *ngIf="isColumnNotSampleText(rowData, col)">
                    <span [ngClass]="{ 'py-1 px-3 bg-red-100 border-round-3xl': isTextHasError(rowData, col) }">
                        <i class="mb-1 mr-1 pi pi-times-circle vertical-align-middle" *ngIf="isTextHasError(rowData, col)"></i>{{
                        rowData[col?.field]
                    }}</span>
                </ng-container>
                <ng-container *ngIf="rowData?.customText && col?.field === 'sampleText'">
                    <input
                        pInputText
                        type="text"
                        (focus)="onFocus(rowData)"
                        [(ngModel)]="rowData.sampleText"
                        (keyup)="calculateLengthForCustomText(input.value)"
                        #input
                    />
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
