<p-tabView>
    <p-tabPanel header="Custom Dictionary">
        <div class="col-5 col-offset-1">
            <div class="grid">
                <div class="col-11">
                    <app-add-text
                        (addEvent)="add($event)"
                        [list$]="words$"
                        [hidePlusAction]="true"
                        [attributeName]="'Word'"
                        [placeholder]="placeholder"
                        [selectedText]="''"
                        [duplicateValidation]="duplicateValidation"
                        [buttonLabel]="''"
                    ></app-add-text>
                </div>
                <div class="col-1">
                    <p-button
                        icon="pi pi-trash"
                        (onClick)="deleteAll()"
                        styleClass="z-1 p-button-danger"
                        [disabled]="disableDelete"
                    ></p-button>
                </div>
            </div>
            <ng-container *ngIf="words$ | async as dictionaryWord">
                <app-editable-list
                    (addEvent)="add($event)"
                    (editEvent)="edit($event)"
                    (deleteTextEvent)="delete($event)"
                    [placeholder]="placeholder"
                    [enableSearch]="enableSearch"
                    [duplicateValidation]="duplicateValidation"
                    [buttonLabel]="''"
                    [list$]="words$"
                ></app-editable-list>
            </ng-container>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Automatic Spellcheck">
        <div class="col-6 col-offset-3">
            <app-automatic-spellcheck (closeSettingEvent)="closeSetting()"> </app-automatic-spellcheck>
        </div>
    </p-tabPanel>
</p-tabView>
<app-confirmation
    *ngIf="showConfirmation"
    (acceptCallback)="onAccept()"
    (rejectCallback)="onReject()"
    [confirmationMessage]="confirmationMessage"
    [confirmationHeader]="confirmationHeader"
></app-confirmation>
