<span>
    Select the labels you want to attach from the list of available labels on the left and assign them by shifting them
    to the list of attached labels on the right. To detach a label, move it back from the attached labels tot the
    project labels.</span
>
<div class="mt-4 mb-2">
    <p-pickList
        [source]="sourceLabels"
        [target]="targetLabels"
        sourceHeader="Available"
        targetHeader="Selected"
        [dragdrop]="true"
        [responsive]="true"
        [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }"
        breakpoint="1400px"
        (onMoveToTarget)="checkDuplicateLabels()"
        (onMoveAllToTarget)="checkDuplicateLabels()"
    >
        <ng-template let-label pTemplate="label">
            <p-chip [icon]="label.icon" [label]="label.name" [style]="{ background: label.color }"></p-chip>
        </ng-template>
    </p-pickList>
</div>

<div class="text-right mt-5">
    <p-button (onClick)="assignLabel()" label="Done" icon="pi pi-check"></p-button>
</div>
<p-dialog header="Warning" [style]="{ width: '35vw' }" [modal]="true" [(visible)]="isWarningVisible" [closable]="false">
    <ng-template pTemplate="content">
        <i class="pi pi-exclamation-triangle text-yellow-600"></i> Only one postpone label is allowed.
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Ok" (click)="getOriginalLabelsOrder()"></p-button>
    </ng-template>
</p-dialog>
