<div class="card">
    <div class="grid">
        <div class="col-12">
            <ng-container *ngIf="list$ | async as list">
                <p-listbox
                    [listStyle]="{ 'max-height': '250px' }"
                    [options]="list"
                    optionLabel="text"
                    [filter]="enableSearch"
                >
                    <ng-template let-row pTemplate="row">
                        <div
                            class="flex flex-row w-full"
                            (mouseenter)="onMouseEnter(row)"
                            (mouseleave)="onMouseLeave(row)"
                            *ngIf="!row.isEditable"
                        >
                            <div class="flex align-items-center">{{ row.text }}</div>

                            <div *ngIf="row.onHover" class="flex ml-auto z-1">
                                <p-button
                                    styleClass="p-button-sm mr-2"
                                    icon="pi pi-pencil"
                                    (onClick)="OnMarkEditable($event, row)"
                                ></p-button>
                                <p-button
                                    icon="pi pi-trash"
                                    (click)="delete(row.text)"
                                    styleClass="p-button-danger p-button-sm"
                                ></p-button>
                            </div>
                        </div>
                        <div *ngIf="row.isEditable" class="flex-row w-full">
                            <div class="flex">
                                <div class="col-10">
                                    <app-add-text
                                        [hidePlusAction]="false"
                                        [selectedText]="row.text"
                                        [list$]="list$"
                                        [attributeName]="attributeName"
                                        [placeholder]="placeholder"
                                        [duplicateValidation]="duplicateValidation"
                                        [selectedRow]="row"
                                        #addText
                                    ></app-add-text>
                                </div>

                                <div class="col-1 z-1">
                                    <p-button
                                        icon="pi pi-check"
                                        (onClick)="editText(addText.addForm.get('text').value)"
                                        styleClass="p-button-rounded p-button-text z-1"
                                        [disabled]="addText.addForm.invalid"
                                    ></p-button>
                                </div>
                                <div class="col-1 z-1">
                                    <p-button
                                        icon="pi pi-times"
                                        styleClass="p-button-rounded p-button-danger p-button-text"
                                        (onClick)="onCancel($event, row)"
                                    ></p-button>
                                </div>
                            </div>
                        </div> </ng-template
                ></p-listbox>
            </ng-container>
        </div>
    </div>
</div>
