<div class="flex justify-content-center">
    <p-progressSpinner id="spinner" *ngIf="isLoading" animationDuration="1s"></p-progressSpinner>
</div>
<div>
    <div #dialogContainer>
        <div class="text-center p-5" *ngIf="isErrorOnLoad && model?.length !== 0">
            <p class="text-lg">
                <i class="pi pi-exclamation-triangle"></i> <strong> {{ errorMessage }}</strong>
            </p>
        </div>

        <div class="text-center p-5" *ngIf="model?.length === 0">
            <p class="text-lg">
                <i class="pi pi-exclamation-triangle"></i>
                <strong> There is no screenshot available for project. </strong>
            </p>
        </div>

        <canvas #canvas [ngClass]="{ 'fade-in': !isLoading, 'fade-out': isLoading }"></canvas>
    </div>

    <div class="flex" *ngIf="!!model && model?.length > 0 && model?.[0]?.dbTextNodeId > 0">
        <div class="col-4">
            <p-dropdown
                [ngModel]="selectedView"
                [options]="model"
                appendTo="body"
                optionLabel="viewName"
                (onChange)="onChangeScreenShot($event)"
            >
            </p-dropdown>
        </div>
        <div class="col-4" *ngIf="!!selectedView?.variantName">
            <input type="text" pInputText [ngModel]="selectedView?.variantName" disabled="true" />
        </div>
        <div class="col-4" *ngIf="selectedView?.language">
            <div class="inline-block vertical-align-middle">
                <p-chip
                    [style]="{ height: '40px', color: '#fff' }"
                    [label]="selectedView?.fallback ? 'Fallback : ' + selectedView?.language : selectedView?.language"
                    [styleClass]="selectedView?.fallback ? 'bg-yellow-500' : 'bg-primary'"
                ></p-chip>
            </div>
        </div>
    </div>
</div>
