<ng-container *ngIf="!!descriptionFG">
    <h5 style="display: none">{{ getDescriptionTabList?.controls[0]?.value | json }}</h5>
    <ng-container [formGroup]="descriptionFG">
        <div class="grid">
            <div class="col-12">
                <div style="position: relative !important;" class="idealTextDes" *ngIf="!getDescriptionTabList?.controls[0]?.get('enable').value">
                    <a class="hyperlink plus pi pi-plus pt-3" pTooltip="Add" (click)="op.toggle($event)"></a>
                    <a
                        class="hyperlink remove pi pi-minus"
                        *ngIf="getDescriptionTabList?.controls?.length > 1"
                        (click)="removeDesc()"
                        pTooltip="Remove"
                    ></a>
                    <p-overlayPanel #op [showCloseIcon]="true">
                        <ng-template pTemplate>
                            <p-dropdown
                                [options]="langOption"
                                placeholder="Select Language"
                                optionLabel="language_culture_name"
                                (onChange)="onChangeLang($event); op.toggle($event)"
                            >
                            </p-dropdown>
                        </ng-template>
                    </p-overlayPanel>
                </div>
                <p-tabView
                    [(activeIndex)]="selectedTabIndex"
                    (onChange)="onChangeTab($event)"
                    [scrollable]="getDescriptionTabList?.controls?.length > 5"
                    formArrayName="descriptionRow"
                >
                    <ng-container
                        *ngFor="let group of getDescriptionTabList.controls; let i = index"
                        [formGroupName]="i"
                    >
                        <p-tabPanel [selected]="group?.value.selected">
                            <ng-template pTemplate="header">
                                <div>
                                    {{ group.value.header }}<span *ngIf="i === 0" class="pl-1 text-red-400">*</span>
                                </div>
                            </ng-template>
                            <textarea
                                #descriptionAreaElement
                                [rows]="3"
                                [cols]="65"
                                formControlName="description"
                                pInputTextarea
                                [autoResize]="true"
                                (keyup)="checkDescText()"
                            >
                            </textarea>
                        </p-tabPanel>
                        <div *ngIf="getDescriptionTabList.controls[i].get('description').invalid && submitSTC">
                            <p-message
                                severity="error"
                                text="Description is required"
                                *ngIf="
                                    getDescriptionTabList.controls[i].get('description')?.errors['required'] &&
                                    getDescriptionTabList.controls[i].get('description')?.errors['required']
                                "
                            ></p-message>
                            <p-message
                                severity="error"
                                text="Description is invalid"
                                *ngIf="getDescriptionTabList.controls[0].get('description')?.errors['pattern']"
                            ></p-message>
                        </div>
                    </ng-container>
                </p-tabView>
            </div>
        </div>
    </ng-container>
</ng-container>
