.remove {
    padding-left: 9px;
    font-size: 12px;
    cursor: pointer;
}

.plus {
    font-size: 0.8rem;
    cursor: pointer;
}

:host ::ng-deep {
    .p-tabview .p-tabview-nav li {
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: #304cd9;
        width: 100px !important;
    }

     .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        height: 0px !important;
    }

     .p-tabview .p-tabview-panels {
        border-top: 1px solid #304cd9;
        padding: 0.5rem;
    }

     textarea {
        overflow-y: auto !important;
        resize: none;
        cursor: pointer;
    }
}
