<div *ngIf="isLoading" class="spinner">
    <p-progressSpinner animationDuration="1s"></p-progressSpinner>
</div>
<div *ngIf="!isLoading" class="h-full">
    <p-treeTable
        [value]="nodes"
        [columns]="cols"
        selectionMode="single"
        [scrollable]="true"
        scrollHeight="65vh"
        [metaKeySelection]="true"
        dataKey="id"
        [(selection)]="selectedTreeNodes"
        [resizableColumns]="true"
    >
        <ng-template pTemplate="caption">
            Project: {{ rawProject?.projectName }} 
            <div class="flex justify-content-end">
                <p-button
                    icon="pi pi-folder"
                    pTooltip="Add group node"
                    tooltipPosition="bottom"
                    class="mr-2"
                    (onClick)="onAddNew(NodeTypeEnum.Group, 0)"
                    [disabled]="nodes.length>0"
                ></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" ttResizableColumn>
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttContextMenuRow]="rowNode">
                <td
                    *ngFor="let col of columns; let colIndex = index"
                    [ttEditableColumn]="rowData"
                    [ttEditableColumnField]="col.inputConfig.field"
                    [ngClass]="{ 'p-toggler-column': colIndex === 0 }"
                >
                    <div class="flex align-items-center">
                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="colIndex === 0"></p-treeTableToggler>

                        <ng-container *ngIf="!rowNode.node.editMode; else editMode">
                            <ng-container *ngIf="col.inputConfig.field === 'nodeSubType'">
                                <i
                                    class="{{ rowNode.node.nodeType | nodeIconClassPipe : rowNode.node.nodeSubType }}"
                                    style="font-size: 1.5rem"
                                ></i>
                                <ng-container *ngIf="rowNode.node.nodeType === NodeTypeEnum.Group">
                                    <span class="pl-2">{{ rowNode.node.name }}</span>
                                </ng-container>

                                <ng-container *ngIf="rowNode.node.nodeType === NodeTypeEnum.Textnode">
                                    <span class="pl-2">{{ rowNode.node[col.inputConfig.field] }}</span>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="isTextNodeNotSingleSelection(col.inputConfig, rowNode)">
                                {{ rowNode.node[col.inputConfig.field] }}
                            </ng-container>
                            <ng-container *ngIf="isTextNodeSingleSelection(col.inputConfig, rowNode)">
                                {{ getNameFromCode(col, rowNode) }}
                            </ng-container>
                        </ng-container>

                        <ng-template #editMode>
                            <ng-container *ngIf="rowNode.node.nodeType === NodeTypeEnum.Group">
                                <div *ngIf="col.inputConfig.field === 'nodeSubType'">
                                    <p-dropdown
                                        [options]="getListOfSubType(rowNode.node.nodeType)"
                                        [(ngModel)]="rowNode.node.nodeSubType"
                                        optionLabel="name"
                                        optionValue="value"
                                        appendTo="body"
                                        class="block w-9"
                                    >
                                        <ng-template let-item pTemplate="item">
                                            <i
                                                class="{{ rowNode.node.nodeType | nodeIconClassPipe : item.value }}"
                                                style="font-size: 1.5rem"
                                            ></i>
                                            - {{ item.value }}
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                                <div *ngIf="col.inputConfig.field === 'name'">
                                    <input pInputText type="text" [(ngModel)]="rowNode.node.name" />
                                </div>
                            </ng-container>

                            <ng-container *ngIf="rowNode.node.nodeType === NodeTypeEnum.Textnode">
                                <ng-container *ngIf="col.inputConfig.type === inputTypeEnum.SingleSelect">
                                    <p-dropdown
                                        class="w-9"
                                        [options]="col.inputConfig.options"
                                        [placeholder]="'select ' + col.inputConfig.field"
                                        [(ngModel)]="rowNode.node[col.inputConfig.field]"
                                        optionLabel="{{ col.inputConfig.optionLabel }}"
                                        optionValue="{{ col.inputConfig.optionValue }}"
                                        appendTo="body"
                                    >
                                    </p-dropdown>
                                </ng-container>

                                <ng-container *ngIf="col.inputConfig.type === inputTypeEnum.Text">
                                    <div class="relative">
                                        <input
                                            pInputText
                                            type="text"
                                            [(ngModel)]="rowNode.node[col.inputConfig.field]"
                                        />
                                        <small
                                            class="-mt-1 absolute left-0 ml-1 text-red-300 top-100"
                                            *ngIf="
                                                rowNode?.node?.name?.length === 0 && col.inputConfig.field === 'name'
                                            "
                                            >Name is mandatory</small
                                        >
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="col.inputConfig.type === inputTypeEnum.Number">
                                    <input pInputText type="number" [(ngModel)]="rowNode.node[col.inputConfig.field]" />
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </div>
                    <div
                        *ngIf="col.inputConfig.field === 'actions'"
                        class="flex align-items-center justify-content-end"
                    >
                        <p-button
                            *ngIf="isNodeTypeGroupAndNotEditMode(rowNode)"
                            icon="pi pi-folder"
                            styleClass="p-button-rounded p-button-text"
                            (onClick)="onAddNew(NodeTypeEnum.Group, rowNode.node.key, rowNode.node)"
                            pTooltip="Add group node"
                            tooltipPosition="bottom"
                        ></p-button>
                        <p-button
                            *ngIf="isNodeTypeGroupAndNotEditMode(rowNode)"
                            icon="pi pi-plus"
                            styleClass="p-button-rounded p-button-text"
                            (onClick)="onAddNew(NodeTypeEnum.Textnode, rowNode.node.key, rowNode.node)"
                            pTooltip="Add text"
                            tooltipPosition="bottom"
                        ></p-button>
                        <p-button
                            *ngIf="!rowNode.node.editMode"
                            icon="pi pi-pencil"
                            pTooltip="Edit"
                            tooltipPosition="bottom"
                            styleClass="p-button-rounded p-button-text ml-auto"
                            (onClick)="startEdit(rowNode)"
                        ></p-button>
                        <p-button
                            *ngIf="!rowNode.node.editMode"
                            icon="pi pi-trash"
                            pTooltip="Delete"
                            tooltipPosition="bottom"
                            styleClass="p-button-danger p-button-rounded p-button-text"
                            (onClick)="deleteNode(rowNode.node)"
                        ></p-button>
                        <p-button
                            *ngIf="rowNode.node.editMode"
                            icon="pi pi-check"
                            pTooltip="Save"
                            tooltipPosition="bottom"
                            [disabled]="rowNode?.node?.name.length === 0"
                            styleClass="p-button-success p-button-rounded p-button-text"
                            (onClick)="editNode(rowNode)"
                        ></p-button>
                        <p-button
                            *ngIf="rowNode.node.editMode"
                            icon="pi pi-times"
                            pTooltip="Cancel"
                            tooltipPosition="bottom"
                            styleClass="p-button-danger p-button-rounded p-button-text"
                            (onClick)="cancelEdit(rowNode)"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
    <app-confirmation
        *ngIf="deleteConfirmationModel.showConfirmation"
        [confirmationHeader]="deleteConfirmationModel.confirmationHeader"
        [confirmationMessage]="deleteConfirmationModel.confirmationMessage"
        (acceptCallback)="deleteConfirmationModel.onAccept()"
        (rejectCallback)="deleteConfirmationModel.onReject()"
    ></app-confirmation>
</div>
