<div class="translation-import">
    <p-dialog
        [header]="'Export for project -' + selectedProduct?.title + ',  Version: ' + versionNo"
        [(visible)]="export"
        [closable]="false"
        [modal]="true"
        [resizable]="false"
        [responsive]="true"
        [style]="{ width: '50vw' }"
    >
        <p-tabView [(activeIndex)]="tabIndex" (onChange)="onChangeTab($event)">
            <p-toast></p-toast>
            <p-tabPanel header="Execution">
                <p>
                    <app-excution [selectedProduct]="selectedProduct" [fileList]="fileList"></app-excution>
                </p>
                <div class="pt-1 pb-1 pull-right">
                    <button
                        pButton
                        type="button"
                        label="Cancel"
                        (click)="hideExportPanel()"
                        icon="pi pi-times"
                        iconPos="left"
                        class="p-button-warning mr-3"
                    ></button>
                    <button
                        pButton
                        type="submit"
                        icon="pi pi-download"
                        iconPos="left"
                        label="Export"
                        iconPos="left"
                        (click)="exportToXML('E')"
                        [disabled]="exportDisable"
                    ></button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Add XSLT file">
                <p>
                    <app-upload-xslt-file
                        [selectedProduct]="selectedProduct"
                        [fileList]="fileList"
                        (hideExport)="hideExportPanel()"
                        (closeExport)="closeExport()"
                    >
                    </app-upload-xslt-file>
                </p>
            </p-tabPanel>
        </p-tabView>
        <ng-template pTemplate="footer"></ng-template>
    </p-dialog>
</div>
<p-confirmDialog
    #cr
    [style]="{ width: '25vw' }"
    [baseZIndex]="10000"
    class="cancel-dialog"
    [closable]="false"
    key="cancelExport1"
>
    <ng-template pTemplate="footer">
        <div class="col-12 flex-row-reverse align-items-end">
            <button
                class="p-button-danger"
                type="button"
                pButton
                label="Yes"
                icon="pi pi-check"
                (click)="cr.accept()"
            ></button>

            <button
                class="p-button-secondary"
                type="button"
                pButton
                icon="pi pi-times"
                label="No"
                (click)="cr.reject()"
            ></button>
        </div>
    </ng-template>
</p-confirmDialog>
