<div *ngIf="loadingFileSpinner" class="spinner">
    <p-progressSpinner animationDuration="1s"></p-progressSpinner>
</div>
<div class="main-heading">
    <p>
        Drag and drop the XML file in the highlighted area or choose the XML file which will be the base for the project
        update.
    </p>
</div>
<div class="upload-placeholder pt-3">
    <p>Upload new XML file</p>
</div>
<div class="primengUpload">
    <p-fileUpload
        accept=".xml"
        (uploadHandler)="selectFile($event)"
        [auto]="true"
        [customUpload]="true"
        (onRemove)="clearFileData()"
        (onBeforeUpload)="hideCancel()"
        (onSelect)="showCancel()"
    >
        <ng-template let-file pTemplate="file">
            <div class="flex justify-content-center">
                <span> {{ file.name }}</span>
                <span class="ml-5">{{ getFileSize(file.size) }}</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="flex justify-content-center" *ngIf="isFileSelected">
                <span> {{ fileName }}</span>
                <span class="ml-5">{{ getFileSize(fileSize) }}</span>
            </div>
        </ng-template>
    </p-fileUpload>
</div>
<div class="error-msg">
    <p-messages
        *ngIf="hide"
        [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'"
        [(value)]="msgs1"
        [closable]="false"
    ></p-messages>
</div>
<div class="error-list" *ngIf="errorContainer">
    <div *ngIf="validationError" class="mt-1">
        <h5 class="error-heading">{{ errorMessage }}</h5>
    </div>
    <div *ngIf="ErrorInXml">
        <ul *ngFor="let error of xmlError">
            <li>{{ error }}</li>
        </ul>
    </div>
    <div *ngIf="parserResult">
        <h5 class="error-heading mt-1">Invalid XML, Please upload valid XML file</h5>
        <ul>
            <li>{{ parserRes }}</li>
        </ul>
    </div>
    <div *ngIf="wrongXmlFile">
        <ul>
            <li>{{ wrongXml }}</li>
        </ul>
    </div>
</div>

<div class="grid project-diffrence mx-0" *ngIf="(newProjectName || oldProjectName) && isValid">
    <div class="col-2"><p class="property-header">Project Properties</p></div>
    <div class="col-5"><p class="property-header">New Project</p></div>
    <div class="col-5"><p class="property-header">Old Project</p></div>

    <div class="col-12 px-0"><hr class="border-top-1 border-primary" /></div>

    <div class="col-2"><p>Name:</p></div>
    <div class="col-5">
        <p>{{ newProjectName }}</p>
    </div>
    <div class="col-5">
        <p>{{ oldProjectName }}</p>
    </div>
    <div class="col-2"><p>Date:</p></div>
    <div class="col-5">
        <p>{{ (newProjectDate | date : 'M/d/yy, h:mm:ss a') || '' }}</p>
    </div>
    <div class="col-5">
        <p>{{ (oldProjectDate | date : 'M/d/yy, h:mm:ss a') || '' }}</p>
    </div>
    <div class="col-2"><p>Languages:</p></div>
    <div class="col-5">
        <span *ngIf="newLangCount"
            ><span class="count">{{ newLangCount || '' }}</span></span
        >
        <p class="inline ml-1">{{ newProjectLanguages || '' }}</p>
    </div>
    <div class="col-5">
        <span *ngIf="oldLangCount"
            ><span class="count">{{ oldLangCount || '' }}</span></span
        >
        <p class="inline ml-1">{{ oldProjectLanguages || '' }}</p>
    </div>
    <div class="col-2"><p>Text Node Count:</p></div>
    <div class="col-5">
        <p>{{ newProjectTextNodeCount || '' }}</p>
    </div>
    <div class="col-5">
        <p>{{ oldProjectTextNodeCount || '' }}</p>
    </div>
    <div class="col-2"><p>Group Node Count:</p></div>
    <div class="col-5">
        <p>{{ newProjectGroupNodeCount || '' }}</p>
    </div>
    <div class="col-5">
        <p>{{ oldProjectGroupNodeCount || '' }}</p>
    </div>
    <div class="col-2"><p>Variants:</p></div>
    <div class="col-5">
        <p>{{ newProjectVariants || '' }}</p>
    </div>
    <div class="col-5">
        <p>{{ oldProjectVariants || '' }}</p>
    </div>
</div>

<div class="pt-2" *ngIf="isMsgVisible">
    <p style="color: red">
        No changes were identified in the uploaded XML. If you still want to proceed, please click on Next
    </p>
</div>
<!-- Summary -->
<div
    class="mt-4 summary"
    *ngIf="
        languageDiffrence ||
        languageDeleted ||
        textnodeDeleted ||
        textnodeAdded ||
        groupnodeDeleted ||
        groupnodeAdded ||
        textnodeChangeEntries
    "
>
    <p class="sub-heading">Following changes are detected:</p>
    <p *ngIf="languageDiffrence">
        New language(s): <span>{{ languageDiffrence }}</span>
    </p>
    <p *ngIf="languageDeleted">
        Language deleted: <span>{{ languageDeleted }}</span>
    </p>
    <p *ngIf="textnodeDeleted">
        Textnode deleted: <span>{{ textnodeDeleted }}</span>
    </p>
    <p *ngIf="textnodeAdded">
        Textnode added: <span>{{ textnodeAdded }}</span>
    </p>
    <p *ngIf="groupnodeDeleted">
        Groupnode deleted: <span>{{ groupnodeDeleted }}</span>
    </p>
    <p *ngIf="groupnodeAdded">
        Groupnode added: <span>{{ groupnodeAdded }}</span>
    </p>
    <p *ngIf="textnodeChangeEntries">
        Textnode changes: <span>{{ textnodeChangeEntries }}</span>
    </p>
</div>
<div class="pt-3 pb-5 left-bottom-btn">
    <!-- Cancel popup -->
    <p-confirmDialog #cd [style]="{ width: '25vw' }" [baseZIndex]="10000" class="cancel-dialog" [closable]="false">
        <ng-template pTemplate="footer">
            <div class="yes-button">
                <button
                    class="p-button-danger"
                    type="button"
                    pButton
                    label="Yes"
                    icon="pi pi-check"
                    (click)="cd.accept()"
                ></button>
            </div>
            <div class="no-button">
                <button
                    class="p-button-secondary"
                    type="button"
                    pButton
                    label="No"
                    icon="pi pi-times"
                    (click)="cd.reject()"
                ></button>
            </div>
        </ng-template>
    </p-confirmDialog>
    <span class="help-btn">
        <button
            pButton
            type="button"
            label="Help"
            class="p-button-help mr-3"
            icon="pi pi-question"
            iconPos="left"
        ></button>
    </span>
    <span class="cancel-btn">
        <button
            pButton
            pRipple
            (click)="showConfirm()"
            pButton
            icon="pi pi-times"
            iconPos="left"
            type="button"
            label="Cancel"
            class="p-button-warning mr-3"
        ></button>
    </span>
    <span class="next-btn">
        <button
            pButton
            type="button"
            label="Next"
            class="p-button-primary"
            icon="pi pi-chevron-right"
            iconPos="right"
            (click)="nextPage()"
            [disabled]="!isValid || isNextDesabled || disableButton === 'NOK' || disableNext === true"
        ></button>
    </span>
</div>
