<div class="grid">
    <div class="col-12">
        <p>
            Configuration files for the Grammar Parser of Speech Text can be configure here. Separate configurations
            files for Editors and Translators can be added for each of the parsing engines. The standard configuration
            file for each type of speech text can be downloaded for customization. The standard configuration will be
            used when no customized configuration files are uploaded.
        </p>
    </div>
    <div class="col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="row" style="display: flex; justify-content: space-between">
                    <div class="col-7">
                        <p>
                            <strong>{{ parserConfigModel.speechCommands.editor.type }} </strong>
                        </p>
                    </div>
                    <div class="col-5">
                        <p-button
                            (click)="downloadConfiguration(configType.SSMLStandard)"
                            icon="pi pi-download"
                            label="SSML Standard Config"
                        ></p-button>
                    </div>
                </div>
            </ng-template>
            <app-parser-config-item
                (setParserMessageEvent)="setParserMessage($event)"
                (removeMessageEvent)="removeMessageInParserErrorMessages($event)"
                [parserDetails]="parserConfigModel.speechCommands"
                (downloadEvent)="download($event)"
                [configType]="configType.SRGSStandard"
            ></app-parser-config-item>
        </p-panel>
    </div>

    <div class="col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="grid">
                    <div class="col-7">
                        <p>
                            <strong>{{ parserConfigModel.speechPrompts.translator.type }}</strong>
                        </p>
                    </div>
                    <div class="col-5">
                        <p-button
                            icon="pi pi-download"
                            (click)="downloadConfiguration(configType.SRGSStandard)"
                            label="SRGS Standard Config"
                            align="right"
                        ></p-button>
                    </div>
                </div>
            </ng-template>
            <app-parser-config-item
                (setParserMessageEvent)="setParserMessage($event)"
                (removeMessageEvent)="removeMessageInParserErrorMessages($event)"
                [parserDetails]="parserConfigModel.speechPrompts"
                [configType]="configType.SRGSStandard"
                (downloadEvent)="download($event)"
            ></app-parser-config-item>
        </p-panel>
    </div>

    <div class="col-12">
        <ng-container *ngFor="let parseErrorMessage of parseErrorMessages">
            <div class="col-12">
                <p-message [text]="parseErrorMessage.message" severity="error"></p-message>
            </div>
        </ng-container>
    </div>
</div>
