.btn-container {
    float: right;
}
.tbl-container {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.tbl-container .xml-language {
    width: 20vh;
}
.tbl-container .prime-tree {
    width: 30vh;
}
.tbl-container tr {
    max-height: 4vh;
}
.p-tree .p-tree-container .p-treenode {
    padding: 0rem;
}
.languagesFromXML {
    height: 41.5vh;
    max-height: 41.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 6px;
    border: 1px solid #72b7ce;
    table {
        width: -webkit-fill-available;
        width: stretch;
        td {
            border-bottom: 1px solid #72b7ce;
            height: 40px;
        }
    }
}
:host ::ng-deep {
    .primeng-tree {
        margin: 21px 0px;
        .p-tree {
            height: 41.5vh;
            border: 1px solid #a5c9ff;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;
        }
        .p-tree .p-tree-container .p-treenode .p-treenode-content {
            border-bottom: 1px solid #a5c9ff;
            border-radius: 0px;
        }
    }
    .p-tree .p-tree-container .p-treenode .p-treenode-content {
        transition: box-shadow 0.2s;
        width: 100%;
        border-bottom: 1px solid lightblue;
        padding: 0px;
        border-radius: 0px;
    }
    .languagesFromXML {
        .p-tree-empty-message.ng-star-inserted {
            color: #fff;
        }
        .p-tree .p-tree-container .p-treenode {
            padding: 0px;
        }
        .p-tree .p-tree-container .p-treenode .p-treenode-content {
            height: 38px;
            padding: 0px;
        }
        .p-tree {
            border: none !important;
            background: #ffffff;
            color: #495057;
            padding: 0px !important;
            border-radius: 6px;
            white-space: nowrap;

            .languagesFromXML {
                .p-tree .p-tree-container .p-treenode {
                    padding: 0px;
                }
                .p-tree .p-tree-container .p-treenode .p-treenode-content {
                    height: 38px;
                    padding: 0px;
                }
                .p-tree {
                    border: none !important;
                    background: #ffffff;
                    color: #495057;
                    padding: 0px !important;
                    border-radius: 6px;
                    white-space: nowrap;

                    .p-tree-wrapper {
                        border-left: 1px solid lightblue;
                    }
                }

                .pi:before {
                    font-size: 12px !important;
                }
            }
            .languagesFromXMLHidden {
                .p-tree .p-tree-container .p-treenode {
                    padding: 0px;
                    display: none;
                }
                .p-tree .p-tree-container .p-treenode .p-treenode-content {
                    padding: 0px;
                }
                .p-tree {
                    border: none !important;
                    background: #ffffff;
                    color: #495057;
                    padding: 0px !important;
                    border-radius: 6px;
                }
                .pi:before {
                    font-size: 12px !important;
                }
            }
        }
        .languagesFromXMLHidden {
            .p-tree .p-tree-container .p-treenode {
                padding: 0px;
                display: none;
            }
            .p-tree .p-tree-container .p-treenode .p-treenode-content {
                padding: 0px;
            }
            .p-tree {
                border: none !important;
                background: #ffffff;
                color: #495057;
                padding: 0px !important;
                border-radius: 6px;
            }

            .pi:before {
                font-size: 12px !important;
            }
        }
        .input-container {
            .p-dropdown {
                width: 30vw;
                border-radius: 5px;
                border: 1px solid #304cd9;
            }
        }
    }
}
.languagesFromXML td > .languagesXML {
    padding-left: 30px;
}
.langFromXml p {
    color: #434343;
}
.dragDropLang p {
    color: #434343;
    width: 264px;
}
td .langFromPtree {
    margin-left: 1rem;
}
.input-container p {
    color: #717a80;
    font-size: 12px;
}
.input-container span {
    color: red;
}
.no-button {
    display: inline;
}
.yes-button {
    display: inline;
}
