<div class="grid mt-4">
    <div class="col-6">
        <p-panel class="gppanel" header="Translation area">
            <div class="grid">
                <div class="col-12">
                    <div class="p-inputgroup mb-2">
                        <input
                            id="translationText"
                            pInputText
                            type="text"
                            placeholder="Enter Translation Text"
                            #translationText
                        />
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-plus"
                            styleClass="p-button-warn"
                            (click)="addText(translationText.value)"
                        ></button>
                    </div>
                </div>
                <div class="col-12">
                    <p-listbox [options]="translationTexts" optionLabel="text"></p-listbox>
                </div>
            </div>

            <div class="text-right mt-4">
                <button pButton type="button" icon="pi pi-refresh" class="p-button-outlined mr-3"></button>
                <button pButton type="button" label="Compress"></button>
            </div>
        </p-panel>
    </div>
    <div class="col-6">
        <p-panel class="gppanel" header="Speech Command">
            <textarea
                class="surface-100"
                [rows]="10"
                [disabled]="true"
                [cols]="30"
                pInputTextarea
                [autoResize]="true"
            ></textarea>
        </p-panel>
    </div>
</div>
