<p-contextMenu #cm [model]="items" [target]="stc" appendTo="body"></p-contextMenu>
<p-treeTable
    (onContextMenuSelect)="getSelectedRow($event)"
    [(contextMenuSelection)]="selectedNode"
    [(selection)]="selectedNode"
    [columns]="cols"
    [contextMenu]="cm"
    [resizableColumns]="true"
    [rowTrackBy]="rowTrackBy"
    [value]="treeData"
    selectionMode="single"
>
    <ng-template let-columns pTemplate="header">
        <tr>
            <th *ngFor="let col of cols" ttResizableColumn>
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template let-rowData="rowData" let-rowNode pTemplate="body">
        <tr (click)="selectRow(rowNode)" [ttContextMenuRow]="rowNode" [ttSelectableRow]="rowNode">
            <td class="textWrap" title="{{ rowData['Type'] ? rowData['context'] || rowData['stc_text'] : '' }}">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                <i
                    aria-hidden="true"
                    [class]="getNodeIconClassByNodeType(rowData['Type'], rowData['nodeType'])"
                    class="pr-1"
                    style="color: #304cd9"
                ></i>
                {{ rowData['Type'] ? rowData['context'] || rowData['stc_text'] : '' }}
            </td>
            <td>
                <img
                    *ngIf="rowData.Type === 'Group'"
                    alt="{{ getAltText(rowData['brand_id']) }}"
                    src="{{ getBrandLogo(rowData['brand_id']) }}"
                />
            </td>
            <td class="textWrap" title="{{ rowData['stc_text'] }}">
                {{ rowData['stc_text'] }}
            </td>
            <td>
                <i
                    [ngStyle]="{
                        color: statusIcon[rowData['status']] || 'transparent'
                    }"
                    class="pi pi-circle-fill"
                    aria-hidden="true"
                ></i>
            </td>
        </tr>
    </ng-template>
</p-treeTable>
<div #stc (click)="addGroup()" (contextmenu)="addGroup()" class="empty-row"></div>
<p-confirmDialog
    #cr
    [baseZIndex]="10000"
    [closable]="false"
    [style]="{ width: '25vw' }"
    class="cancel-dialog"
    dragHandle=".p-dialog-header"
    dragTarget=".p-dynamic-dialog"
>
    <ng-template pTemplate="footer">
        <div class="col-12 flex-row-reverse align-items-end">
            <button
                (click)="cr.accept()"
                class="p-button-danger"
                icon="pi pi-check"
                label="Yes"
                pButton
                type="button"
            ></button>
            <button
                (click)="cr.reject()"
                class="p-button-secondary"
                icon="pi pi-times"
                label="No"
                pButton
                type="button"
            ></button>
        </div>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
