.iconStyle {
    margin-left: 8px;
}

.projectNameStyle {
    font-size: 14px;
    color: #000000;
}

.tabview {
    flex-wrap: wrap;
    background: #ffffff;
    border: 1px solid #304cd9;
    border-radius: 5px;
}

.details-button {
    justify-content: end;
    margin: auto;
    margin-bottom: 60px;
}

.input-container p {
    color: #717a80;
    font-size: 12px;
}

.input-container span {
    color: red;
}

.input-container input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #304cd9;
}

.input-container textarea {
    height: 60px;
    width: 100%;
    border: 1px solid #304cd9;
    border-radius: 5px;
}

:host ::ng-deep {
    .input-container {
        .p-dropdown {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #304cd9;
        }
    }
    .p-tabview-nav {
        display: flex;
        margin: -1px;
        margin-left: 0rem;
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        margin: 0px 0px 0px 0px;
        border-width: 0 0 0px 0;
    }

    .p-tabview .p-tabview-nav {
        background: #ffffff;
        border: none;
        border-width: 0 0 2px 0;
    }
    .p-inputtext.ng-dirty.ng-invalid {
        border-color: #ffffff;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background-color: #f7faff;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: none;
    }
    .p-inputtextarea:enabled:focus {
        box-shadow: 0 0 0 0.2rem transparent;
        border-color: transparent;
    }
    .p-inputtextarea:enabled:hover {
        border-color: transparent;
    }
    .p-inputtextarea {
        border-color: transparent;
        height: auto !important;
    }
}

.hyperlink {
    cursor: pointer;
}

.table-Structure-col {
    min-width: 60%;
    overflow: auto;
    padding: 1rem;
}

.pi-exclamation-triangle {
    color: red;
}

.row {
    display: flex;

    margin-bottom: 10px;
}
.p-inputgroup-addon {
    color: #000000 !important;
    cursor: pointer;
}
.search {
    width: 15px;
    cursor: pointer;
}
