::ng-deep {
    .references .p-dialog .p-dialog-header {
        border: 1px solid #cdcecf;
        background: #f8f9fa;
    }
    .references .p-panel .p-panel-content {
        padding: 0.5rem;
        border: 1px solid #cdcecf;
        background: #f8f9fa;
    }
}
