<div class="">
    <div class="mt-2">
        <p-toast></p-toast>
        <p-table [value]="stcDetails" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Forms</th>
                    <th>Text</th>
                    <th>Length</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stc>
                <tr (click)="rowDbClick(stc)" [style.background]="stc.selected ? '#D9E8FF' : ''">
                    <td>{{ stc.Forms }}</td>
                    <td>{{ stc.Text }}</td>
                    <td>{{ stc?.Text?.length * 8 }}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-message severity="error" *ngIf="ifRowNotSelect" text="Please select row"></p-message>
    </div>
    <div class="mt-5 pb-3 right-bottom-btn">
        <button
            pButton
            type="button"
            (click)="Ok()"
            label="Ok"
            icon="pi pi-thumbs-up"
            class="p-button-info mr-2"
        ></button>
        <button
            pButton
            icon="pi pi-times"
            iconPos="left"
            type="button"
            label="Cancel"
            class="p-button-warning mr-2"
            (click)="cancel()"
        ></button>
        <button pButton type="button" icon="pi pi-question" label="Help" class="p-button-help"></button>
    </div>
</div>
