.pi-exclamation-triangle {
    color: red;
}

.pi-circle-fill {
    color: orange;
}

.pi-trash {
    color: red;
}

.pi-check-circle {
    color: #1ea97c;
}

:host {
    ::ng-deep {
        .pi {
            cursor: pointer !important;
        }
    }
}
