<div class="main-dashborad">
    <div #content class="main-inner-dashboard">
        <div *ngIf="isLoading" class="spinner">
            <p-progressSpinner animationDuration="1s"></p-progressSpinner>
        </div>
        <igc-dockmanager [layout]="layout">
          <div slot="rawProjectList" class="dockManagerContent bg-white h-full w-full">
            <app-raw-project-grid (loadingChange)="loadingOnChange($event)"></app-raw-project-grid>
          </div>
        </igc-dockmanager>
    </div>
</div>

