<div class="assign-worker">
    <p-dialog
        [modal]="true"
        [(visible)]="displayAssignWorkerDialog"
        [closable]="false"
        [resizable]="false"
        [breakpoints]="{
            '960px': '75vw',
            '640px': '100vw'
        }"
        [style]="{ width: '50vw' }"
    >
        <ng-template pTemplate="header">
            <h3 class="text-primary">Assign Worker</h3>
            <app-help-icon class="ml-auto" [linkId]="'assign-worker-tm'"></app-help-icon>
        </ng-template>
        <div class="inner-container">
            <div class="col-12">
                <p class="display-para">Saved Templates</p>
            </div>
            <div class="formgroup-inline col-12">
                <div class="field col-4">
                    <p-dropdown
                        class="col-12"
                        [options]="templateList"
                        optionLabel="layout_name"
                        optionValue="ID"
                        placeholder="Select Template"
                        (onChange)="templateSelectHandler($event)"
                        [disabled]="reAssignFlag"
                    >
                    </p-dropdown>
                    <p class="error" *ngIf="selectTemplateError">Please select Template first</p>
                </div>
                <div class="field col-6">
                    <button
                        pButton
                        (click)="useTemplate()"
                        type="button"
                        label="Use Template"
                        icon="pi pi-thumbs-up"
                        iconPos="left"
                        class="p-button-primary mr-3"
                        [disabled]="reAssignFlag"
                    ></button>
                    <button
                        pButton
                        type="button"
                        label="Delete"
                        class="p-button-danger"
                        icon="pi pi-trash"
                        iconPos="left"
                        (click)="deleteTemplate()"
                        [disabled]="reAssignFlag"
                    ></button>
                </div>
            </div>
            <div class="col-12">
                <p class="display-para">Due Date</p>
            </div>
            <div class="col-12">
                <p-calendar
                    dateFormat="yy-mm-dd"
                    [showIcon]="false"
                    [(ngModel)]="dueDate"
                    [defaultDate]="dueDate"
                    disabled="true"
                ></p-calendar>
            </div>
            <div class="col-12">
                <div id="pause" *ngIf="loading" class="d-flex align-items-center justify-content-center">
                    <p-progressSpinner
                        id="spinner"
                        bdOpacity="0.9"
                        [style]="{ width: '50px', height: '50px' }"
                        styleClass="custom-spinner"
                        strokeWidth="8"
                        fill="#EEEEEE"
                        animationDuration=".5s"
                    ></p-progressSpinner>
                </div>

                <p-table [value]="assignWorkerTableData">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="language_code">
                                Language <p-sortIcon field="language_code"></p-sortIcon>
                            </th>
                            <th pSortableColumn="translator">Translator</th>
                            <th pSortableColumn="proofreader">Proofreader</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td><span class="p-column-title">language_code</span> {{ data.language_code }}</td>
                            <td>
                                <span class="p-column-title">translator</span>
                                <div class="mt-2 mb-2">
                                    <p-dropdown
                                        [options]="translatorList"
                                        (onChange)="translatorSelectorHandler(data, $event)"
                                        placeholder="Select Translator"
                                        [optionLabel]="'name'"
                                        [optionValue]="'id'"
                                        [(ngModel)]="selectedValues[data.language_code]['translator']"
                                        [inputId]="data.language_code + 'translator'"
                                        [disabled]="reAssignFlag"
                                        appendTo="body"
                                    >
                                    </p-dropdown>
                                </div>
                            </td>
                            <td>
                                <span class="p-column-title">Proofreader</span>
                                <div class="mt-2 mb-2">
                                    <p-dropdown
                                        [options]="proofreaderList"
                                        (onChange)="proofreaderSelectorHandler(data, $event)"
                                        [optionLabel]="'name'"
                                        [optionValue]="'id'"
                                        [disabled]="enableProofRead"
                                        [(ngModel)]="selectedValues[data.language_code]['proofreader']"
                                        [inputId]="data.language_code + 'proofreader'"
                                        placeholder="Select proofreader"
                                        appendTo="body"
                                    >
                                    </p-dropdown>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <div class="col-12 error" *ngIf="showAssignError">
                    <p>Please Assign Translator to All Languages</p>
                </div>
            </div>
        </div>
        <div class="pt-4 grid">
            <div class="p-field-checkbox col-3 flex">
                <p-checkbox
                    inputId="st"
                    [(ngModel)]="saveTemplate"
                    [binary]="true"
                    (onChange)="templateSave($event)"
                    [disabled]="reAssignFlag"
                >
                </p-checkbox>
                <label for="st" class="ml-2 flex align-items-center" style="min-height: inherit">Save Template</label>
            </div>
            <div class="col-4">
                <form [formGroup]="form">
                    <input
                        type="text"
                        pInputText
                        *ngIf="saveTemplate"
                        [(ngModel)]="templateName"
                        formControlName="tname"
                        placeholder="Enter the template name"
                    />
                    <p *ngIf="form.controls['tname']?.errors?.['required'] && saveTemplate" class="p-error">
                        Please enter template Name
                    </p>
                </form>
            </div>
            <div class="col-12 error" *ngIf="existTemplate && saveTemplate">
                {{ error }}
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="col-12 flex-row-reverse align-items-end submit-button">
                <button
                    pButton
                    type="submit"
                    label="Assign"
                    class="p-button-primary cancel"
                    icon="pi pi-check"
                    iconPos="left"
                    (click)="submitData()"
                    [disabled]="showAssignError || templateRequire"
                ></button>
                <button
                    pButton
                    (click)="cancelDialog()"
                    type="button"
                    label="Cancel"
                    icon="pi pi-times"
                    iconPos="left"
                    class="p-button-warning mr-3 cancel"
                ></button>
            </div>
        </ng-template>
    </p-dialog>
</div>
<p-confirmDialog #cd [style]="{ width: '25vw' }" [baseZIndex]="10000" [closable]="false">
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            label="No"
            (click)="cd.reject()"
            class="p-button-primary"
        ></button>
        <button
            type="button"
            pButton
            icon="pi pi-check"
            label="Yes"
            (click)="cd.accept()"
            class="p-button-danger"
        ></button>
    </ng-template>
</p-confirmDialog>
