<div class="container">
    <p-contextMenu #cm appendTo="body" [model]="treeActionItems" [styleClass]="isContextMenuVisible() ? 'hidden' : ''">
    </p-contextMenu>
    <p-treeTable
        #tt
        [value]="structureData"
        [resizableColumns]="true"
        [rows]="10"
        [virtualRowHeight]="20"
        [loading]="loading"
        (onNodeExpand)="onNodeExpand($event)"
        selectionMode="single"
        [(selection)]="selectedTreeNode"
        [(contextMenuSelection)]="selectedTreeNode"
        [contextMenu]="cm"
        contextMenuSelectionMode="separate"
        id="translationtree"
        [rowTrackBy]="rowTrackBy"
    >
        <ng-template pTemplate="header" let-treecols>
            <tr>
                <th ttResizableColumn>
                    <span [class]="'text-node-status'"> Context</span>
                </th>
                <th id="Translation" ttResizableColumn>
                    Translation:
                    {{ isProofreader || isReviewer ? proofreaderLanguage : editorLanguageCode }}
                </th>
                <th ttResizableColumn>
                    <span [class]="'text-node-status'"> Translation</span>
                </th>
                <th id="Proofread" ttResizableColumn>
                    <span [class]="'text-node-status'"> Proofread</span>
                </th>
                <th id="ttResizableColumn" ttResizableColumn>
                    <span [class]="'text-node-status'"> Review</span>
                </th>
                <th id="ttResizableColumn" ttResizableColumn>
                    <span [class]="'text-node-status'"> Screen Review</span>
                </th>
                <th ttResizableColumn>Labels</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="treecols">
            <tr
                [ttRow]="rowNode"
                [ttSelectableRow]="rowNode"
                [ttContextMenuRow]="rowNode"
                (click)="getRowOnClick(rowNode)"
                (contextmenu)="getRowOnClick(rowNode)"
            >
                <td class="textWrap" title="{{ rowData['context'] }}">
                    <p-treeTableToggler
                        [ngClass]="{ hidearrowicon: rowData['nodeCount'] === 0 }"
                        [rowNode]="rowNode"
                    ></p-treeTableToggler>
                    <i
                        [class]="grpNodeType[rowData['Type']] || getUserDefinedIcon(rowNode?.node)"
                        aria-hidden="true"
                        style="color: #304cd9"
                    ></i>
                    <i [class]="checkNodeType(rowData)" aria-hidden="true" style="color: #304cd9"></i>
                    {{ rowData['context'] }}
                </td>
                <td class="textWrap" title=" {{ getWorstCaseValueByPlaceholderOfTitle(rowData, rowNode?.parent) }}">
                    <i
                        *ngIf="rowData['mapped'] === 'Yes'"
                        aria-hidden="true"
                        style="color: #304cd9"
                        class="pi pi-link mr-2"
                    ></i>
                    <div [innerHTML]="getWorstCaseValueByPlaceholder(rowData, rowNode?.parent)"></div>
                </td>
                <td>
                    <span
                        *ngIf="rowData?.['metatext_info'] !== 'MetaText'"
                        [class]="'text-node-status ' + rowData['state']"
                        [ngStyle]="{ color: getTextNodeStatus(rowData['state']) ? statusIcon[rowData['state']] : null }"
                    >
                        <i
                            *ngIf="isTextnodeContainsError()"
                            [ngClass]="{
                                'pi pi-circle-fill mr-2': isTextNodeUnresolved(rowData['state'])
                            }"
                            aria-hidden="true"
                        >
                        </i>
                        <img
                            *ngIf="rowData['state'] === 'Unresolved Chars' || rowData['state'] === 'Unresolved font'"
                            [src]="unresolvedSymbols[rowData['state']]"
                            alt="unresolved Symbols"
                        />
                        <i
                            *ngIf="rowData['locked'] === 'Locked'"
                            aria-hidden="true"
                            style="color: #02a8cd"
                            class="pi pi-lock mr-2"
                        ></i>
                        <i
                            class="icon-lenght-cal mr-2"
                            *ngIf="rowData['state'] === 'Length Error'"
                            aria-hidden="true"
                        ></i>
                        <i
                            [ngClass]="tableIcons[rowData['state']]"
                            *ngIf="rowData['state'] === 'Error' || rowData['state'] === 'Placeholder Error'"
                            aria-hidden="true"
                        ></i>
                        {{ rowData['state'] }}</span
                    >
                </td>
                <td>
                    <span *ngIf="rowData?.['metatext_info'] !== 'MetaText'">
                        <p-chip
                            *ngIf="isGroupNode(rowData)"
                            [label]="rowData['proofread_status'] ?? statusNotAvailable"
                            icon="icon-pending"
                            styleClass="text-node-status Approved"
                        ></p-chip>
                        <p-chip
                            *ngIf="!isGroupNode(rowData)"
                            [label]="textnodeStatus[rowData['proofread_status']] ?? statusNotAvailable"
                            icon="icon-pending"
                            [pTooltip]="getComments(rowData, Roles.proofreader)"
                            [tooltipDisabled]="isTooltipVisible(rowData, 'proofread_status')"
                            [styleClass]="'text-node-status ' + textnodeStatus[rowData['proofread_status']]"
                        ></p-chip
                    ></span>
                </td>
                <td>
                    <span *ngIf="rowData?.['metatext_info'] !== 'MetaText'">
                        <p-chip
                            *ngIf="isGroupNode(rowData)"
                            [label]="rowData['review_status'] ?? statusNotAvailable"
                            icon="icon-review"
                            styleClass="text-node-status Approved"
                        ></p-chip>
                        <p-chip
                            *ngIf="!isGroupNode(rowData) && textnodeStatus[rowData['review_status']]"
                            [label]="textnodeStatus[rowData['review_status']] ?? statusNotAvailable"
                            [pTooltip]="getComments(rowData, Roles.reviewer)"
                            [tooltipDisabled]="isTooltipVisible(rowData, 'review_status')"
                            icon="icon-review"
                            [styleClass]="'text-node-status ' + textnodeStatus[rowData['review_status']]"
                        ></p-chip
                    ></span>
                </td>
                <td>
                    <span *ngIf="rowData?.['metatext_info'] !== 'MetaText'">
                        <p-chip
                            *ngIf="isGroupNode(rowData)"
                            [label]="rowData['screen_review_status'] ?? statusNotAvailable"
                            icon="icon-review"
                            styleClass="text-node-status Approved"
                        ></p-chip>
                        <p-chip
                            *ngIf="!isGroupNode(rowData) && textnodeStatus[rowData['screen_review_status']]"
                            [label]="textnodeStatus[rowData['screen_review_status']] ?? statusNotAvailable"
                            [pTooltip]="rowData['screen_review_comment']"
                            [tooltipDisabled]="isTooltipVisible(rowData, 'screen_review_status')"
                            icon="icon-screen-review"
                            [styleClass]="'text-node-status ' + textnodeStatus[rowData['screen_review_status']]"
                        ></p-chip
                    ></span>
                </td>
                <td>
                    <app-label-icon [labels]="rowData['labels']"></app-label-icon>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="structureData.length">No data found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are
                {{ excludeMetaTextCount }} text nodes.
            </div>
        </ng-template>
    </p-treeTable>
</div>
