.left-bottom-btn {
    float: right;
}
.next-btn {
    display: inline;
}
:host {
    ::ng-deep {
        .next-btn .p-button {
            background: #304cd9;
        }
        .cancel-btn {
            .pi-exclamation-triangle:before {
                color: #ffffff;
            }
        }
        .back-btn {
            .p-button {
                background: #304cd9;
            }
        }
        .due-date {
            .p-calendar {
                width: 33vw;
                height: 60px;
                border-radius: 5px;
            }
            .p-calendar-w-btn .p-inputtext {
                border: 1px solid #304cd9;
            }
        }
    }
}
.required {
    color: red;
}
.chart-spinner {
    position: absolute;
    left: 45%;
    z-index: 9999;
}
