<p>
    Configuration files for the Grammar Parser of Speech Text can be configure here. Separate configurations files for
    Editors and Translators can be added for each of the parsing engines. The standard configuration file for each type
    of speech text can be downloaded for customization. The standard configuration will be used when no customized
    configuration files are uploaded.
</p>
<div class="primengUpload">
    <p-fileUpload
        accept=".zip"
        (onSelect)="onMiscellaneousDocumentsSelected($event)"
        [auto]="true"
        [customUpload]="true"
    >
        <ng-template pTemplate="content">
            <div
                class="p-fileupload-row p-flex p-flexboxgrid p-justify-between"
                *ngIf="isMiscellaneousDocumentsFileSelected"
            >
                <div class="p-fileupload-filename col-offset-3 col-3">
                    <span> {{ miscellaneousDocumentsFile.name }}</span>
                </div>
                <div class="p-fileupload-filesize">
                    <span class="ml-5">{{ getFileSize(miscellaneousDocumentsFile.size) }}</span>
                </div>
                <div class="p-fileupload-buttons">
                    <p-button icon="pi pi-times"></p-button>
                </div>
            </div>
        </ng-template>
    </p-fileUpload>
</div>
