.p-field-radiobutton {
    display: inline;
    padding: 5px;
    position: relative;
    top: 18px;
    left: 15px;
}
.p-field-radiobutton label {
    margin-left: 5px;
}
.radio-container {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #304cd9;
}
:host ::ng-deep {
    .radio {
        .p-radiobutton .p-radiobutton-box {
            margin-top: 3px !important;
        }
    }
     .font-container {
        .p-datatable .p-datatable-tbody > tr > td {
            text-align: center;
            border: 1px solid #dee2e6;
            border-width: 0 0 1px 0;
            padding: 1rem 1rem !important;
        }
        .p-datatable .p-datatable-thead > tr > th {
            text-align: center;
        }
    }
     .font-available {
        .pi-check-circle {
            color: rgb(30, 200, 30);
            font-size: 20px;
        }
        .pi-times-circle {
            color: red;
            font-size: 20px;
        }
    }
}
.download-link {
    float: right;
    cursor: pointer;
}
.font-linking {
    border: 1px solid #304cd9;
    height: 60px;
    border-radius: 5px;
    width: 450px;
}
.radio {
    padding-top: 16px !important;
    display: inline-block;
}

.font-container {
    border: 1px solid #a5c9ff;
    border-radius: 5px;
}
.btn-container {
    float: right;
}
.no-button {
    display: inline;
}
.yes-button {
    display: inline;
}
.main-para {
    font-weight: 400;
    font-size: 18px;
    color: #434343;
}
