@font-face {
    font-family: 'vwicon';
    src: url('/assets/fonts/vwicon.eot?avgmou');
    src: url('/assets/fonts/vwicon.eot?avgmou#iefix') format('embedded-opentype'),
        url('/assets/fonts/vwicon.ttf?avgmou') format('truetype'),
        url('/assets/fonts/vwicon.woff?avgmou') format('woff'),
        url('/assets/fonts/vwicon.svg?avgmou#vwicon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vwicon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-unmap:before {
    content: '\e900';
}

.icon-module:before {
    content: '\e901';
}

.icon-mappng:before {
    content: '\e902';
}

.icon-concatenate:before {
    content: '\e903';
}

.icon-lenght-cal1:before {
    content: '\e904';
}

.icon-exclamation-triangle:before {
    content: '\e905';
}

.icon-group-widget1:before {
    content: '\e906';
}

.icon-proofReaderNOK:before {
    content: '\e907';
}

.icon-uniE908:before {
    content: '\e908';
}

.icon-uniE909:before {
    content: '\e909';
}

.icon-group:before {
    content: '\e90a';
}

.icon-uniE90B:before {
    content: '\e90b';
}

.icon-Group-module:before {
    content: '\e90c';
}

.icon-uniE90D:before {
    content: '\e90d';
}

.icon-meta-text1:before {
    content: '\e90e';
}

.icon-group-view:before {
    content: '\e90f';
}

.icon-module1:before {
    content: '\e910';
}

.icon-next:before {
    content: '\e911';
}

.icon-group-widget:before {
    content: '\e912';
}

.icon-next-unfinished:before {
    content: '\e913';
}

.icon-perivious:before {
    content: '\e914';
}

.icon-previous-unfinished:before {
    content: '\e915';
}

.icon-uniE916:before {
    content: '\e916';
}

.icon-meta-text2:before {
    content: '\e917';
}

.icon-window-maximize:before {
    content: '\e918';
}

.icon-sds-text1:before {
    content: '\e919';
}

.icon-uniE91A:before {
    content: '\e91a';
}

.icon-pending:before {
    content: '\e91b';
}

.icon-unresolved:before {
    content: '\e91c';
}

.icon-unresolved1:before {
    content: '\e91d';
}

.icon-px-Expleo_Group_Logosvg:before {
    content: '\e91e';
}

.icon-error---length-calculation-scale:before {
    content: '\e91f';
}

.icon-uniE920:before {
    content: '\e920';
}

.icon-uniE921:before {
    content: '\e921';
}

.icon-uniE922:before {
    content: '\e922';
}

.icon-uniE923:before {
    content: '\e923';
}

.icon-uniE924:before {
    content: '\e924';
}

.icon-error-font:before {
    content: '\e925';
}

.icon-text-node-concat:before {
    content: '\e926';
}

.icon-text-node-meta-text:before {
    content: '\e927';
}

.icon-text-node-meta-text2:before {
    content: '\e928';
}

.icon-error:before {
    content: '\e929';
}

.icon-paste-icon:before {
    content: '\e92a';
}

.icon-save-next:before {
    content: '\e92b';
}

.icon-Group:before {
    content: '\e92c';
}

.icon-Group-Ddb:before {
    content: '\e92d';
}

.icon-uniE92E:before {
    content: '\e92e';
}

.icon-uniE92F:before {
    content: '\e92f';
}

.icon-uniE930:before {
    content: '\e930';
}

.icon-lenght-cal:before {
    content: '\e931';
}

.icon-Length-cal:before {
    content: '\e932';
}

.icon-meta-text:before {
    content: '\e933';
}

.icon-sds-prompt:before {
    content: '\e934';
}

.icon-sds-text:before {
    content: '\e935';
}

.icon-uniE936:before {
    content: '\e936';
}

.icon-uniE937:before {
    content: '\e937';
}

.icon-uniE938:before {
    content: '\e938';
}

.icon-uniE939:before {
    content: '\e939';
}

.icon-uniE93A:before {
    content: '\e93a';
}

.icon-uniE93B:before {
    content: '\e93b';
}

.icon-uniE93C:before {
    content: '\e93c';
}

.icon-uniE93D:before {
    content: '\e93d';
}

.icon-uniE93E:before {
    content: '\e93e';
}

.icon-uniE93F:before {
    content: '\e93f';
}

.icon-uniE940:before {
    content: '\e940';
}

.icon-uniE941:before {
    content: '\e941';
}

.icon-text-node---concat:before {
    content: '\e942';
}

.icon-Text-node---meta-text:before {
    content: '\e943';
}

.icon-Text-node---meta-text2:before {
    content: '\e944';
}

.icon-text-node-ddb:before {
    content: '\e945';
}

.icon-review:before {
    content: '\e946';
}

.icon-userdefined:before {
    content: '\e947';
}

.icon-teleprompter:before {
    content: '\e948';
}

.icon-list:before {
    content: '\e949';
}

.icon-archive:before {
    content: '\e94a';
}

.icon-language-1:before {
    content: '\e94b';
}

.icon-language-2:before {
    content: '\e94c';
    font-size: 20px;
}

.icon-lowercase:before {
    content: '\e94d';
}

.icon-uppercase:before {
    content: '\e94e';
}

.icon-bug:before {
    content: '\e94f';
}

.icon-spellcheck:before {
    content: '\e950';
}

.icon-screen-review:before {
    content: '\e951';
}

.icon-symbol:before {
    content: '\e952';
}

.icon-update-template:before {
    content: '\e953';
    color: #fff;
}

.icon-save-new-template:before {
    content: '\e954';
    color: #fff;
}

.icon-action-icon-translation:before {
    content: '\e955';
}
.icon-action-icon-speech-commend:before {
    content: '\e956';
}
