<div class="rowflex">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="grid">
            <div class="col-12 text-right" *ngIf="state?.title !== 'creategroup' && !isCreateGroupDisabled">
                <span class="edit-icon inline-block">
                    <i class="pi pi-trash deleteBtn" aria-hidden="true" (click)="deleteGroup()"></i>
                    <i
                        *ngIf="state?.title !== 'editgroup'"
                        class="pi pi-pencil editBtn"
                        (click)="editGroupEnable()"
                        aria-hidden="true"
                    ></i>
                </span>
            </div>
            <div class="col-12">
                <p-breadcrumb [model]="items"></p-breadcrumb>
            </div>
        </div>
        <form [formGroup]="createGroupForm">
            <div class="grid">
                <div class="col-6">
                    <div class="input-container">
                        <p>Brand</p>
                        <input type="text" pInputText formControlName="brandName" />
                        <div>
                            <p-message></p-message>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-container">
                        <p>Group Name <span *ngIf="state?.title !== 'detailsgroup'">*</span></p>
                        <input
                            type="text"
                            pInputText
                            formControlName="groupName"
                            (keyup)="checkGroupName($event)"
                            [readonly]="state?.title === 'detailsgroup'"
                            [style.color]="state?.title === 'detailsgroup' ? '#999' : null"
                        />

                        <p-message
                            *ngIf="isGroupNameAvailble"
                            severity="error"
                            text="Group name is already exist please try with diffrent name."
                        ></p-message>
                        <div>
                            <p-message></p-message>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid details-button" *ngIf="state?.title !== 'detailsgroup'">
                <div class="input-container">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-times"
                        iconPos="left"
                        label="Cancel"
                        class="p-button-warning mr-3"
                        (click)="cancelPanel()"
                    ></button>
                    <button
                        pButton
                        type="button"
                        icon="pi {{ groupFormIcon }}"
                        iconPos="left"
                        label="{{ buttonName }}"
                        iconPos="left"
                        class="p-button"
                        (click)="onSubmit()"
                        [disabled]="isGroupNameAvailble"
                    ></button>
                </div>
            </div>
        </form>
    </div>
</div>
<p-confirmDialog #cr [style]="{ width: '25vw' }" [baseZIndex]="10000" class="cancel-dialog" [closable]="false">
    <ng-template pTemplate="footer">
        <div class="col-12 flex-row-reverse align-items-end">
            <button
                class="p-button-danger"
                type="button"
                pButton
                label="Yes"
                icon="pi pi-check"
                (click)="cr.accept()"
            ></button>

            <button
                class="p-button-secondary"
                type="button"
                pButton
                icon="pi pi-times"
                label="No"
                (click)="cr.reject()"
            ></button>
        </div>
    </ng-template>
</p-confirmDialog>
<p-toast></p-toast>
