<div class="main-dashborad">
    <div class="main-inner-dashborad tableondashboard">
        <div style="height: 100%" #content>
            <p-contextMenu #cm [model]="contextMenuItems" appendTo="body"></p-contextMenu>
            <igc-dockmanager [layout]="IgcDockManagerLayout">
                <div slot="orders" class="dockManagerContent" style="background-color: #fff">
                    <div *ngIf="loadingDashboardDetails" class="spinnerdashboradpanel">
                        <p-progressSpinner animationDuration="1s"></p-progressSpinner>
                    </div>
                    <p-table
                        [value]="projects"
                        [responsive]="true"
                        dataKey="project_id"
                        responsiveLayout="scroll"
                        [paginator]="true"
                        selectionMode="single"
                        [scrollHeight]="contentHeight"
                        [rows]="viewPageLine"
                        [(selection)]="selectedProject"
                        [(contextMenuSelection)]="selectedProject"
                        [contextMenu]="cm"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center">
                                <p class="m-0">Order Overview</p>
                                <app-help-icon [linkId]="'translator-dashboard'"></app-help-icon>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="title" pResizableColumn>
                                    Project
                                    <p-sortIcon field="title"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="title"
                                        display="menu"
                                        [hideOnClear]="true"
                                    ></p-columnFilter>
                                </th>
                                <th pSortableColumn="version_id_show" pResizableColumn>
                                    Version
                                    <p-sortIcon field="version_id_show"></p-sortIcon>
                                    <p-columnFilter
                                        type="numeric"
                                        field="version_id_show"
                                        display="menu"
                                        [hideOnClear]="true"
                                    ></p-columnFilter>
                                </th>
                                <th pSortableColumn="brand_name" pResizableColumn>
                                    Brand
                                    <p-sortIcon field="brand_name"></p-sortIcon>
                                    <p-columnFilter type="text" field="brand_name" display="menu" [hideOnClear]="true">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown
                                                [ngModel]="value"
                                                [options]="getBrandsName()"
                                                (onChange)="filter($event.value)"
                                                placeholder="Any"
                                            >
                                                <ng-template let-brand pTemplate="item">
                                                    <span [class]="'customer-badge status-' + brand">
                                                        {{ brand }}
                                                    </span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pSortableColumn="due_date" pResizableColumn style="white-space: initial">
                                    Due Date
                                    <p-sortIcon field="due_date"></p-sortIcon>
                                </th>
                                <th
                                    id="Proofreading"
                                    pSortableColumn="proofread"
                                    pResizableColumn
                                    style="white-space: initial"
                                >
                                    Proofread
                                    <p-sortIcon field="proofread"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="proofread"
                                        display="menu"
                                        [hideOnClear]="true"
                                    ></p-columnFilter>
                                </th>
                                <th
                                    pSortableColumn="editor_language_code"
                                    pResizableColumn
                                    style="white-space: initial"
                                >
                                    Source Language
                                    <p-sortIcon field="editor_language_code"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="editor_language_code"
                                        display="menu"
                                        [hideOnClear]="true"
                                    ></p-columnFilter>
                                </th>
                                <th pSortableColumn="status" pResizableColumn>
                                    Order Status
                                    <p-columnFilter field="status" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown
                                                [ngModel]="value"
                                                [options]="statuses"
                                                (onChange)="filter($event.value)"
                                                placeholder="Any"
                                            >
                                                <ng-template let-option pTemplate="item">
                                                    <span [class]="'customer-badge status-' + option.value">{{
                                                        option.label
                                                    }}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th id="document" pSortableColumn="document" pResizableColumn>Attachments</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-product let-expanded="expanded" let-rowIndex="rowIndex">
                            <tr
                                (click)="displayView(product)"
                                (contextmenu)="getProject(product)"
                                [ngClass]="
                                    product.project_id === selectedProject.project_id &&
                                    product.version_id === selectedProject.version_id &&
                                    product.ID === selectedProject.ID
                                        ? 'selectedrow'
                                        : ''
                                "
                                [pContextMenuRow]="product"
                                style="height: 55px"
                            >
                                <td>{{ product.title }}</td>
                                <td>{{ product.version_id_show | number : '2.0-0' }}</td>
                                <td>
                                    <img
                                        *ngIf="product.brand_id"
                                        src="{{ getBrandLogo(product.brand_id) }}"
                                        alt="{{ getAltText(product.brand_id) }}"
                                    />
                                </td>
                                <td>
                                    <span [class.required]="product.remainingTime < 0">{{
                                        product.due_date | date : 'yyyy-MM-dd'
                                    }}</span>
                                </td>
                                <td>
                                    {{ product.proofread }}
                                </td>
                                <td>
                                    {{ product.language_code }}
                                </td>
                                <td>
                                    <span>
                                        <i
                                            class="pi pi-star"
                                            [ngStyle]="{ color: 'var(--green-300)' }"
                                            *ngIf="setNewIconForStatus(product)"
                                            aria-hidden="true"
                                        ></i>
                                        {{ showTranslationRequestsStatus(product) }}
                                    </span>
                                </td>
                                <td>
                                    <p-chip
                                        *ngIf="product.document === 'yes'; else no"
                                        [label]="product.documentCount"
                                        icon="pi pi-file"
                                    ></p-chip>
                                    <ng-template #no>-</ng-template>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div slot="details" class="dockManagerContent">
                    <div class="viewpanel" [style.height]="viewHeight">
                        <div class="viewdetails" *ngIf="projects.length !== 0">
                            <app-view-documents
                                [selectedProject]="selectedProject"
                                [role]="'translator'"
                                [translation_request_id]="selectedProject.translation_request_id"
                            ></app-view-documents>
                            <app-checklist
                                [checklist]="previousChecklist"
                                [header]="'Translation Checklist'"
                                [isToggle]="true"
                                [showCheckbox]="true"
                                (updateCheckListEvent)="updateCheckList($event)"
                            ></app-checklist>
                        </div>
                    </div>
                </div>
            </igc-dockmanager>
        </div>
    </div>
</div>

<p-dialog
    header="Finish Translation"
    [(visible)]="displayFinishTRDialog"
    [modal]="true"
    (onHide)="closeFinishTRDialog()"
>
    <p [innerHTML]="getSanityMessage()"></p>
    <br />
    <div class="container">
        <div class="grid">
            <div class="col-2">{{ sanityMessageModel.proofreadText }}</div>
            <div class="col-10">
                <span *ngIf="selectedProject?.proofread; else proofreadStatusNo">Yes</span>
                <ng-template #proofreadStatusNo>No</ng-template><br />
            </div>
            <div class="col-2">{{ sanityMessageModel?.dateText }}</div>
            <div class="col-10">{{ selectedProject?.due_date | date : 'yyyy/MM/dd' }}</div>
            <div class="col-2">{{ sanityMessageModel?.sourceLanguageText }}</div>
            <div class="col-10">{{ selectedProject?.language_code }}</div>
            <div class="col-2">{{ sanityMessageModel?.textNodesText }}</div>
            <div class="col-10">{{ selectedProject?.totalTextNodeCount }}</div>
        </div>
        <app-checklist
            [checklist]="checklist"
            [header]="'Open Tasks'"
            [isToggle]="false"
            [showCheckbox]="true"
        ></app-checklist>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Finish Order" icon="pi pi-check" (click)="completeTranslation(selectedProject)"></p-button>
    </ng-template>
</p-dialog>
