<p-contextMenu appendTo="body" #cm [model]="translationHistoryService.columnConfigMenu"> </p-contextMenu>
<p-table
    [columns]="tableColumns"
    [value]="translationHistoryService.historyData"
    [lazy]="true"
    (onLazyLoad)="translationHistoryService.historyLazyLoadEvent($event)"
    [contextMenu]="cm"
    [(contextMenuSelection)]="translationHistoryService.historyDataCM"
>
    <ng-template pTemplate="header" let-columns>
        <tr [pContextMenuRow]="translationHistoryService.historyDataCM">
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-columnFilter
                    [field]="col.field"
                    display="menu"
                    [showMatchModes]="false"
                    [hideOnClear]="true"
                    *ngIf="isColumnChangedAttributes(col.field); else nonStatusHeaders"
                >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown
                            [ngModel]="value"
                            [options]="getTranslationHistoryAttributes()"
                            optionLabel="label"
                            optionValue="value"
                            (onChange)="filter($event.value)"
                            placeholder="Attributes"
                        >
                            <ng-template let-option pTemplate="item">
                                <span [class]="'customer-badge status-' + option">
                                    {{ option.label }}
                                </span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                <ng-template #nonStatusHeaders>
                    <p-columnFilter
                        [type]="col.filterType"
                        [field]="col.field"
                        display="menu"
                        [hideOnClear]="true"
                    ></p-columnFilter>
                </ng-template>
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pContextMenuRow]="translationHistoryService.historyDataCM">
            <td *ngFor="let col of columns">
                <app-diffrence-element
                    *ngIf="col.field === 'new_value' && (!tableIcons?.[rowData[col.field]] &&  rowData[col.field]!=='Unlocked' ); else iconbutton"
                    [oldValue]="rowData?.['old_value']"
                    [newValue]="rowData?.['new_value']"
                ></app-diffrence-element>

                <ng-template #iconbutton>
                    <app-state-icon-button
                        *ngIf="col.field !== 'attribute_name'; else noFormatValues"
                        [value]="rowData[col.field]"
                    >
                    </app-state-icon-button>
                </ng-template>

                <ng-template #noFormatValues>
                    {{ rowData[col.field] }}
                </ng-template>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="translationHistoryService.historyData">No history found.</td>
        </tr>
    </ng-template>
</p-table>
