.users-settings {
    margin-top: 20px;
}
.left-bottom-btn {
    float: right;
}
.next-btn {
    display: inline;
}
.usersdetails {
    margin: 30px 10px 75px;
}
.no-button {
    display: inline;
}
.yes-button {
    display: inline;
}
