.selected-row {
    background-color: #d7e7ff !important;
}

// TODO: Remove these colors with the default colors
.warning {
    color: #cd9a23;
}

.danger {
    color: #ff5757
}

.ok {
    color: grey
}