<p-progressSpinner
    class="spinner"
    *ngIf="lengthCalculationService.isLoaderVisisble"
    animationDuration="1s"
></p-progressSpinner>
<form
    [formGroup]="
        lengthCalculationService.tabIndex === 0 ? lengthCalculationService.lcForm : lengthCalculationService.fontsForm
    "
>
    <div class="pt-1 pb-1 form-element">
        <p-fileUpload
            accept=".zip"
            (uploadHandler)="
                lengthCalculationService.tabIndex === 0
                    ? lengthCalculationService.selectLCFile($event)
                    : lengthCalculationService.selectFontsFile($event)
            "
            [auto]="true"
            [customUpload]="true"
            (onRemove)="lengthCalculationService.onFileRemove()"
        >
            <ng-template let-file pTemplate="file">
                <div class="flex justify-content-center">
                    <span> {{ file.name }}</span>
                    <span class="ml-5">{{ getFileSize(file.size) }}</span>
                </div>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="grid">
        <div class="col-6 mt-1 form-element">
            <p>Name <span class="text-red-400">*</span></p>

            <input
                pInputText
                id="float-input"
                class="p-inputtext-md"
                type="text"
                (keyup)="lengthCalculationService.checkUniqueFontName($event)"
                [formControlName]="lengthCalculationService.tabIndex === 0 ? 'lcName' : 'fontName'"
            />
        </div>
        <div class="col-6 mt-1 form-element">
            <p>Author <span class="text-red-400">*</span></p>
            <input
                pInputText
                id="float-input"
                class="p-inputtext-md"
                type="text"
                [formControlName]="lengthCalculationService.tabIndex === 0 ? 'lcAuthor' : 'fontAuthor'"
            />
        </div>
        <div class="col-6 form-element">
            <p>Version <span class="text-red-400">*</span></p>
            <input
                pInputText
                id="float-input"
                class="p-inputtext-md"
                type="text"
                (keyup)="lengthCalculationService.checkUniqueFontVersion($event)"
                [formControlName]="lengthCalculationService.tabIndex === 0 ? 'lcVersion' : 'fontVersion'"
            />
            <p
                class="text-red-400"
                *ngIf="
                    lengthCalculationService.tabIndex === 0
                        ? lengthCalculationService.isLengthcalculationVersionExist
                        : checkDuplicateFontVersion()
                "
            >
                Version already exist !
            </p>
        </div>
        <div class="col-12 form-element">
            <p>Description <span class="text-red-400">*</span></p>
            <textarea
                pInputTextarea
                [rows]="3"
                [formControlName]="lengthCalculationService.tabIndex === 0 ? 'lcDescription' : 'fontDescription'"
                [cols]="50"
            ></textarea>
        </div>

    </div>
    <p-messages [value]="lengthCalculationService.messages" [enableService]="false" [closable]="false"></p-messages>
</form>
<div class="pt-2 text-right">
    <button
        pButton
        type="button"
        icon="pi pi-times"
        iconPos="left"
        label="Cancel"
        class="p-button-warning p-button-sm mr-2"
        (click)="lengthCalculationService.closeUploadDialog()"
    ></button>
    <button
        pButton
        type=" submit"
        icon="pi pi-thumbs-up"
        iconPos="left"
        label="OK"
        class="p-button-sm"
        (click)="
            lengthCalculationService.tabIndex === 0
                ? lengthCalculationService.updateLCTable()
                : lengthCalculationService.submitFontsForm(lengthCalculationService.fontsForm.value)
        "
        [disabled]="
            lengthCalculationService.tabIndex === 0
                ? lengthCalculationService.isLengthcalculationOkButtonDisabled
                : !checkIfFormIsValidAndVersionAlreadyDoesNotexist()
        "
    ></button>
</div>
