<p class="mb-2">Version of {{ model?.title }}</p>

<p-dropdown
    [options]="model?.versions"
    placeholder="Select project version"
    optionLabel="displayVersionId"
    [(ngModel)]="selectedProjectVersion"
></p-dropdown>

<p class="pt-2">Description</p>

<textarea
    pInputTextarea
    [(ngModel)]="description"
    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
></textarea>

<div class="mt-3">
    <app-language-grid
        [checklist]="checklist"
        (languageSelectionEvent)="setSelectedLanguage($event)"
        (showChecklistEvent)="getChecklist($event)"
    ></app-language-grid>
</div>

<div class="mt-3 flex justify-content-end">
    <button
        pButton
        (click)="closeTranslationRequestDialog()"
        icon="pi pi-times"
        iconPos="left"
        label="Cancel"
        class="p-button-warning"
    ></button>
    <button
        pButton
        (click)="submitTranslationImportData()"
        icon="pi pi-upload"
        iconPos="left"
        label="Import"
        class="p-button-primary ml-2"
        [disabled]="!(selectedLanguages.length > 0)"
    ></button>
</div>
<p-toast></p-toast>
