.header-para {
    color: #434343;
    font-size: 18px;
}
:host {
    ::ng-deep{
            .languageFromApplication {
            .p-tree .p-tree-container .p-treenode .p-treenode-content {
                transition: box-shadow 0.2s;
                width: 100%;
                border-bottom: 1px solid lightblue;
                padding: 0px;
                border-radius: 0px;
            }
            .p-tree .p-tree-container .p-treenode {
                padding: 0rem;
            }
        }
        .p-tree .p-tree-container .p-treenode .p-treenode-content {
            transition: box-shadow 0.2s;
            width: 100%;
            border-bottom: 1px solid lightblue;
            padding: 0px;
            border-radius: 0px;
        }
        .p-tree {
            border: 1px solid #fff !important;
        }
        .languagesFromXML {
            .p-tree-empty-message.ng-star-inserted {
                color: #fff;
            }
            .p-tree .p-tree-container .p-treenode {
                padding: 0px;
            }
            .p-tree .p-tree-container .p-treenode .p-treenode-content {
                padding: 0px;
            }
            .p-tree {
                border: none !important;
                background: #ffffff;
                color: #495057;
                padding: 0px !important;
                border-radius: 6px;
                white-space: nowrap;

                .p-tree-wrapper {
                    border-left: 1px solid lightblue;
                }
            }
            .pi:before {
                font-size: 12px !important;
            }
        }
        .languagesFromXMLHidden {
            .p-tree .p-tree-container .p-treenode {
                padding: 0px;
                display: none;
            }
            .p-tree .p-tree-container .p-treenode .p-treenode-content {
                padding: 0px;
            }
            .p-tree {
                border: none !important;
                background: #ffffff;
                color: #495057;
                padding: 0px !important;
                border-radius: 6px;
            }
            .pi:before {
                font-size: 12px !important;
            }
        }
        .cancel-dialog {
            .pi-exclamation-triangle:before {
                color: black;
            }
            .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
                color: black;
                font-size: 14px;
            }
        }
        .project-property-dialog {
            .p-dialog-header {
                padding: 0.5rem;
            }
        }
        .Language-dialog {
            .p-dialog-header {
                padding: 0.5rem;
            }
        }
        .automatic-mapping {
            .p-button {
                float: right;
                background: #304cd9;
                border: 1px solid #304cd9;
            }
        }
        .input-container {
            .p-dropdown {
                width: 30vw;
                border-radius: 5px;
                border: 1px solid #304cd9;
            }
        }  
    }
    .p-tree .p-tree-container .p-treenode {
        padding: 0rem;
    }
}
.languageFromApplication table {
    border-radius: 6px;
    padding: 0px;
    margin-top: 20px;
    width: 100%;
}
.languageFromApplication td > div {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 270px;
    max-height: 270px;
    border: 1px solid #5897fc !important;
    border-radius: 6px;
}
.languagesFromXML {
    height: 270px;
    max-height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 6px;
    border: 1px solid #72b7ce;
    table {
        width: -webkit-fill-available;
        width: stretch;

        td {
            border-bottom: 1px solid #72b7ce;
            height: 31px;
        }
    }
}
.languagesFromXML td > .languagesXML {
    padding-left: 30px;
}
.heading-color {
    color: #25558b;
}
.language-settings {
    font-size: 14px;
    color: #174a84;
    margin-top: 20px;
}
.new-project-dialog {
    height: 591px;
    width: 1032px;
    left: 565px;
    top: 280px;
    border-radius: 0px;
    position: absolute;
    right: 16.82%;
    bottom: 19.35%;
    background: #ffffff;
}
.languageFromApplication p {
    color: #434343;
}
.langFromXml p {
    color: #434343;
}
.dragDropLang p {
    color: #434343;
    width: 264px;
}

td .langFromPtree {
    margin-left: 1rem;
}
.left-bottom-btn {
    float: right;
}
.next-btn {
    display: inline;
}
.input-container p {
    color: #717a80;
    font-size: 12px;
}
.no-button {
    display: inline;
}
.yes-button {
    display: inline;
}
.input-container span {
    color: red;
}
.note p {
    font-size: 12px;
    color: #000000;
    margin-top: 20px;
}
.note span {
    color: red;
}
.main-heading p {
    color: #174a84;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
