<div>
    <app-help-icon class="absolute right-0 top-0 z-5" [linkId]="'project-property-popup'"></app-help-icon>
    <p-tabView [(activeIndex)]="index">
        <p-tabPanel [hidden]="isRawProject" [disabled]="isRawProject" header="Fixed Properties">
            <app-base-file *ngIf="index === 0"></app-base-file>
        </p-tabPanel>
        <p-tabPanel [header]="isRawProject ? 'Properties' : 'Editable Properties'" [disabled]="isRawProject">
            <app-editable-properties *ngIf="index === 1" (closeEvent)="closeDialog()"></app-editable-properties>
        </p-tabPanel>
        <p-tabPanel header="Language Settings" [disabled]="isRawProject">
            <app-language-settings *ngIf="index === 2" (closeEvent)="closeDialog()"></app-language-settings>
        </p-tabPanel>
        <p-tabPanel header="Language Inheritance" [disabled]="isRawProject">
            <app-language-inheritance *ngIf="index === 3"></app-language-inheritance>
        </p-tabPanel>
        <p-tabPanel header="Resources" [disabled]="isRawProject">
            <app-metadata *ngIf="index === 4"></app-metadata>
        </p-tabPanel>
        <p-tabPanel header="Project Roles" [disabled]="isRawProject"
            ><app-users *ngIf="index === 5"></app-users
        ></p-tabPanel>
        <p-tabPanel header="Checks" *ngIf="!isRawProject"
            ><app-translation-checks *ngIf="index === 6" (closeDialogEvent)="closeDialog()"></app-translation-checks
        ></p-tabPanel>
        <p-tabPanel header="Confirmation" *ngIf="isRawProject" [disabled]="isRawProject">
            <app-confirm-create-raw-project (closeEvent)="closeDialog()"></app-confirm-create-raw-project>
        </p-tabPanel>
    </p-tabView>
</div>
