:host {
    ::ng-deep {
        .p-dialog-title {
            color: #304cd9;
        }
        .p-dialog .p-dialog-header .p-dialog-title {
            color: #304cd9;
        }
        .p-confirm-dialog-icon {
            font-size: 1rem !important;
        }
        .p-dialog-content i.pi-exclamation-triangle {
            color: #cd9a23 !important;
            font-size: 1.5rem !important;
        }
        .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
            color: black;
        }
        .p-steps-item {
            width: 20%;
        }
        .p-fileupload .p-fileupload-buttonbar {
            border: 1px solid #5897fc;
            border-bottom: none;
        }
        .p-fileupload .p-fileupload-content {
            border: 1px solid #5897fc;
        }
    }
}
