<div class="main-dashborad">
    <div #content class="main-inner-dashboard">
        <div *ngIf="isLoading" class="spinner">
            <p-progressSpinner animationDuration="1s"></p-progressSpinner>
        </div>
        <igc-dockmanager [layout]="layout">
            <div slot="orders" class="dockManagerContent bg-white h-full w-full">
                <app-translation-request-grid
                    [model]="model.grid"
                    [selectedProject]="selectedProject"
                    (projectSelectionEvent)="selectProject($event)"
                    (staticalEvaluationEvent)="toggleStaticalEvaluationDialog()"
                    (showCompleteTranslationRequestDialogEvent)="showCompleteTranslationRequestDialog()"
                    (noLanguageDialogEvent)="toggleNoLanguageDialog()"
                    (rejectOrderEvent)="rejectOrder()"
                ></app-translation-request-grid>
            </div>
            <div slot="details" class="dockManagerContent bg-white p-3 h-full w-full">
                <app-view-documents
                    *ngIf="model.grid.projects.length !== 0"
                    [selectedProject]="selectedProjectDto"
                    [translation_request_id]="selectedProject?.id"
                    role="projectmanager"
                    (uploadDocumentsEvent)="uploadDocuments($event)"
                ></app-view-documents>
                <app-checklist
                    [checklist]="checklist"
                    [header]="'Translation Checklist'"
                    [isToggle]="true"
                    [showCheckbox]="false"
                ></app-checklist>
            </div>
        </igc-dockmanager>
    </div>

    <app-complete-translation-request
        [isVisible]="isTranslationRequestDialogVisible"
        [model]="translationResponse"
        (completeTranslationEvent)="completeTranslation()"
        (cancelEvent)="closeTranslationRequestDialog()"
    ></app-complete-translation-request>

    <app-assign-translation-manager
        (saveDataEvent)="updateTranslationRequestStatus($event)"
    ></app-assign-translation-manager>

    <app-no-language [isVisible]="isNoLanguageDialogVisible" (closeEvent)="toggleNoLanguageDialog()"></app-no-language>

    <app-statistical-evaluation
        [statisticalEvaluation]="isStatisticalEvaluationDialogVisible"
        (hidesStatisticalEvaluation)="toggleStaticalEvaluationDialog()"
        [selectedProject]="selectedProjectDto"
        role="PM"
    ></app-statistical-evaluation>
</div>
